[2019-06-21 15:33] grubioe opened #1046 "[DRT] Did not get correct Height after resizing through ResizeGrip. expected:300 -- actual:301"
Copied from VSO 739317

**Steps to reproduce:**

1. cd src\DRT
2. Load DrtAppModel.sln
3. Enable the test case (search for bug number 739317)
4. Build DrtWindowResizeGrip… project

Run its unit test.

System.ApplicationException: Did not get correct Height after resizing through ResizeGrip. expected:300 -- actual:301
   at DRT.WindowResizeGripFlowDirectionApp.VerifySizeAfterResize(Object obj) in X

[2019-06-21 15:35] grubioe opened #1047 "[DRT] DrtDigitalSignature fails due to changes in corefx"
Copied from AzDO 832895

**Steps to reproduce:**

1. Run DrtDigitalSignature
2. Observe NRE.

This is caused by a method that no longer exists in corefx and that this test reflects into, it is related to the improved security towards sha1 signing.

Test is attempting to find a method:
typeof(System.Security.Cryptography.Xml.SignedXml)
                 .GetField("XmlDsigRSADefault",​

[2019-06-21 15:39] grubioe opened #1048 "[DRT] DRTXaml - ReflectionOnlyLoad is not available on .NET Core - need to sanitize codebase and fix up tests that depend on it."
Copied from AzDO ID 690127

ReflectionOnlyLoad API's are not available in .NET Core. WPF uses these - not extensively, but in certain critical codepaths. We have DRT's that exist to validate that these work correctly (XamlDrts - SchemaTests - ReflectionOnlyTests).

Today, these tests are failing. We need to modify the codebase to use alternatives. System.Reflection.Metadata is one possibility.

We

[2019-06-21 15:42] grubioe opened #1049 "[DRT] DrtImaging fails only in x64"
Copied from AzDo: 832996

**Steps to reproduce:**

1. Run DrtImaging
2. Observe NRE.

DrtImaging fails due to a weird timing issue, only in x64, if run inside the debugger the test passes, I suspect this is a timing issue, I've confirmed it's not related to the native component

[2019-06-21 15:43] grubioe opened #1050 "[DRT] DrtMetroTest System.Windows.Markup.XamlParseException"
Copied from AzDO: 841548

Steps to reproduce:

1. Run DigitalDocuments/...../DrtMetroTest (failure is in DRTFixedTest)
2. Observe following exception:

System.Windows.Markup.XamlParseException: ''Initialization of 'System.Windows.Documents.FixedDocument' threw an exception.' Line number '1' and line position '552'.'

NotSupportedException: Specified method is not supported.

[2019-06-21 15:46] grubioe opened #1051 "[DRT] Re-Enable GetPartUri code in DRTPackagingAPIs"
Copied from AzDo: 843574

 Re-enable code that uses currently missing API 'GetPartUri' when the implementation is merged into CoreFX (System.IO.Packaging).
Code snippet is in DRTPackagingApis.cs in the DigitalDocuments Area under a TODO comment. Search for 'GetPartUri'.

[2019-06-21 15:47] grubioe opened #1052 "[DRT] DrtInterleavedPackage fails after System.IO.Packaging refactoring"
Copied from AzDO: 848772

Steps to reproduce:

1. Run DrtInterleavedPackage
2. Observe NullReferenceException from missing PAckage.Open method we reflect into.

The purpose of this test is to simulate the way XpsDocument calls into System.IO.Packaging to achieve package generation for printing and saving to disk. since System.IO.Packaging changed significantly in the support for certain features w

[2019-06-21 15:55] grubioe opened #1053 "[DRT] Microsuite Failures AppModel & Editing"
Fix following Microsuite failures:

Feature | Test Case | Reproduced OS | Log | Notes:
-- | -- | -- | -- | --
AppModel | /Name="SplashScreen_Png_CS"   /SubArea="SplashScreen" | All test OSes | SplashScreen_Png_CS | SplashScreen msbuild action is not   supported in Net Core 3
AppModel | /Name="Win7_JumpList_JumpItemsRemovedByUser"   /SubArea="Win7" | Failed OSes:   RS1 ServerStandard,   RS1 x86,

[2019-06-21 15:59] grubioe opened #1054 "[DRT] Fix DRT failures for DataServices, FlowLayout, DigitalDocuments, Printing, XAML"
Fix all failures outlined in following table:

Feature | Test Case | Reproduced OS | Log | Bugs:
-- | -- | -- | -- | --
DataServices | DrtDataSrv() | All test OSes | DrtDataSrv() | https://github.com/dotnet/wpf/issues/756   should be going away soon
FlowLayout | DrtFlow() | 2K8R2 | DrtFlow()-2K8R2 |  
FlowLayout | DrtFlowLayout() | All test OSes | DrtFlowLayout() |  
Imaging | DrtImaging() | Faile

[2019-06-21 17:32] grubioe commented on #1029
@LyalinDotCom can you take a look?

[2019-06-21 17:36] grubioe commented on #1036
@jmarolf for what VS release is this needed for?

[2019-06-21 17:48] grubioe commented on #1046
Closing as it no longer applies

[2019-06-21 17:48] #1046 closed

[2019-06-21 20:10] ryalanms opened #1055 "Remove 'IsWpfTempProject' workaround after .NET Core Preview 8 is released (Arcade #3129)"
Tracking arcade issue: https://github.com/dotnet/arcade/pull/3129

WPF for .NET Core is adding a restore step to temporary project compilation for PackageReferences. The existing Arcade workaround needs to be temporarily updated to prevent duplicate imports, then removed entirely after the next WPF Preview release.

[2019-06-21 21:39] ryalanms commented on #1026
This was a great question from @Lakritzator that I didn't have an answer to.  We are still following version.props files and reading commit hashes out of packages with NuGet Explorer.

[2019-06-21 22:00] dagood commented on #1026
Come to think of it, you can get the commit hash from the DLL. If you're able to download the Core-SDK output you want to check, you can just use:

[code]

[2019-06-21 22:10] ryalanms commented on #857
Fixed by https://github.com/dotnet/wpf/pull/949.

[2019-06-21 22:11] #857 closed

[2019-06-21 22:12] ryalanms commented on #811
This appears to be fixed with https://github.com/dotnet/wpf/pull/1056.

[2019-06-21 22:55] grubioe commented on #299
@miguep can you log an issue with the right team?  Thanks

[2019-06-21 22:59] miguep commented on #299
I logged this issue:
https://github.com/microsoft/msbuild/issues/4462

[2019-06-21 23:00] grubioe commented on #299
Thanks!

[2019-06-21 23:42] jmarolf commented on #1036
16.3 ideally

[2019-06-22 00:03] grubioe commented on #1036
Thanks. We'll get this in for 16.3 Preview 2.

cc: @vatsan-madhavan

[2019-06-22 18:50] stevenbrix opened #1061 "PresentationCore.dll doesn't get picked up by test apps"
When using the pattern described in the [developer guide](https://github.com/dotnet/wpf/blob/master/Documentation/developer-guide.md#testing-api-changes) most managed assemblies like `WindowsBase` and `PresentationFramework` will be copied and used, except for `PresentationCore`.

There's probably something small here that just requires investigating the MSBuild bin logs and trying to figure out w

[2019-06-22 19:32] stevenbrix commented on #722
@grubioe  i don't recall the discussion we had around this one, but i'm wondering if we should revisit our previous decision and consider fixing this for 3.0? it seems a little backwards that we are forcing http connections instead of https

[2019-06-22 19:46] stevenbrix commented on #722
null is returned.

This may sound like a naive question, but do most apps use their own deployment mechanism? If so, why would they not use ClickOnce? Does you know if this repros when using MSIX? We should probably actually review any code that makes assumptions about ClickOnce and see if they still hold true with MSIX.

[2019-06-22 20:47] rladuca opened #1062 "Convert System.Printing-ref that builds on GitHub to a cycle-breaker"
On GitHub, System.Printing-ref.csproj builds an assembly that is used pre-dominantly as a cycle-breaker (for internals).  The real reference assembly is currently building in dotnet-wpf-int.

We should formally convert this to a true cycle-breaker and trim down the surface area exposed.

This is follow on work from: https://github.com/dotnet/wpf/issues/932 where, in the dotnet-wpf-int portion, we

[2019-06-23 09:16] elyoh opened #1063 "XpsDocument.GetFixedDocumentSequence throws NotSupportedException"
•    NET Core Version: 3.0.0-preview6-27804-01 (also in preview 5).
•    Windows version: Win10
•    Does the bug reproduce also in WPF for .NET Framework 4.8?: No

An attempt is made to read an XPS document from disk:

[code]

The following exception is thrown:
[code]
Inner exception:
[code]

Stack trace:
[code]

This appears to be a different issue to #575.

[2019-06-23 18:36] grubioe opened #1066 "Textbox cursors disappear when moving from high DPI to low DPI"
Copied from AzDO: 831015

OS: Windows 10 19H1

CPU: X64

.NET Build Number: 4.8.03752

Repro Steps:

1. Have 200% primary, 100% secondary
2. Launch repro proj exe on primary
3. Focus the textbox and see the cursor blinking
4. Move it to secondary
5. The cursor disappears, but can still type in the textbox

Expected:

    The cursor is still visible and blinking
![image](https://user-images.githubu

[2019-06-23 18:56] grubioe opened #1067 "WPF Custom Window after screen rotate to portrait there issue with invalid size"
Copied from AzDO OSG: 21051610

Fedback Details | Description
-- | --
Title | WPF Custom Window after screen rotate to portrait there issue with invalid size
Description | WPF Custom Window after screen rotate to portrait there issue with invalid size( after I rotate, the full screen effect disappears, became the reduced form). Reproducible rotate problem only on tablet.For more detailed: https://

[2019-06-24 01:59] walterlv commented on #997
@poizan42 WPF is not the whole application but is part of my application. If some condition occurs, the WPF application will launch, otherwise, the normal command based application launch and return. So the async Main is necessary for such kind of application.

[2019-06-24 02:04] walterlv commented on #997
@grubioe This design ignores a user-defined attribute `[STAThread]` without any warning or error. Maybe it should be corrected in one of these two methods below:
1. Make a compiling warning or a compiling error;
2. Let the `[STAThread]` work again for async Main entrypoint.

[2019-06-24 07:38] weltkante commented on #997
async main + [STAThread] does not make sense, there is no message loop running when you await something in the async main nor do you have a SynchronizationContext for your await to capture, so you may end up resuming on the thread pool (and not on the STA thread!) if you are await early in your async main, and then if you try create COM objects from after the early await you suddenly create them i

[2019-06-24 09:41] weltkante commented on #1063
This was already mentioned in the comments of #575, your scenario is probably caused by #585 but you'd have to check the inner exception to know for sure.

[2019-06-24 09:48] weltkante commented on #722
As far as I know most people are either using MSIX or 3rd party installers. I rarely see ClickOnce.

[2019-06-24 16:06] grokys opened #1072 "Build fails on current master"
## .NET Core Version

3.0.100-preview6-012264

## Windows version

1903 (18362.175)

## Problem description

Running `build.cmd` on current master (2651715b87f94d1ea1e2d9a0328ab6a2d2dcf6c0) fails with:

[code]

Full build output: https://gist.github.com/grokys/516b6c771c81d236769bcc31149db9d8

There are a bunch of warnings at the top of the output, but I have no idea what should be done to fix the

[2019-06-24 16:44] elyoh commented on #1063
Inner exception stack trace:

[code]

[2019-06-24 16:56] grubioe commented on #280
Closing this issue, an issue exists in VSCode repo:

https://github.com/microsoft/vscode/issues/60406

[2019-06-24 16:56] #280 closed

[2019-06-24 18:26] Kayot opened #1073 "Inline Row and Column definition in Grid Constructor"
Row and Column definition in the Grid Constructor would help reduce a lot of boiler plate code when using XAML.

For instance, using the following;

[code]

Would be faster and easier to read with near zero loss in translation or increase in complication compared to the following;

[code]

This could be an option, not a replacement so designers could still use the longer style and older projects w

[2019-06-24 19:10] Symbai commented on #1073
Looks like a dup of https://github.com/dotnet/wpf/issues/166 ?

[2019-06-24 19:30] #327 closed

[2019-06-24 19:30] #685 closed

[2019-06-24 19:30] #746 closed

[2019-06-24 19:30] #867 closed

[2019-06-24 19:31] vatsan-madhavan commented on #685
@davkean, @davidwengier - just merged this fix.

[2019-06-24 19:52] livarcocc commented on #299
@grubioe this is the right repo for this issue. The code for this lives in winfx.targets.

talked to @rladuca about this already.

[2019-06-24 20:12] rladuca commented on #299
Yes, the check that disables this in winfx.targets is an old check intended to block .NET Framework 3.0.  It unintentionally blocks .NET Core as well since it pivots on "v3.0".

We just need to update this to ensure that we predicate the check on not being in Core and all should be well.

[2019-06-24 20:13] rladuca commented on #299
Assigning to @vatsan-madhavan as per offline conversation.

[2019-06-24 20:29] #932 closed

[2019-06-24 20:31] rladuca opened #1076 "Update GenAPI Documentation"
Issue to pickup any GenAPI documentation changes we want to make.

Separated from the broader change #932 so we didn't spin builds just for doc changes and we didn't block Preview7 work.

@stevenbrix If you want, please add any comments on docs here, we can fix them up post Preview7.

[2019-06-24 20:48] dotMorten commented on #722
PR linked above also fixes this issue, so this issue should soon (finally) be taken care off

[2019-06-24 21:23] arpitmathur commented on #931
Duplicate of #1014

[2019-06-24 21:29] #931 closed

[2019-06-24 21:29] ryalanms commented on #1039
@Symbai: Could you try a recent nightly build?

https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe

A number of fixes have gone in for keybindings and the scenario is working for me with yesterday's nightly build (3.0.0-preview7-27824-03).  Thanks.

[2019-06-24 21:35] arpitmathur commented on #1014
This feature request is currently out of 3.0. We should evaluate this issue for 3.1 or 5.0.

[2019-06-24 22:13] Symbai commented on #1039
Works fine using the SDK you linked, thanks!

[2019-06-24 22:13] #1039 closed

[2019-06-24 22:20] #597 closed

[2019-06-24 22:20] #858 closed

[2019-06-24 22:27] arpitmathur commented on #1015
MAS rule we're not compliant with is MAS 1.3.1 – Info and Relationships

[2019-06-24 22:29] arpitmathur commented on #349
We're not meeting this particular MAS requirement : MAS 1.3.1 – Info and Relationships. We should consider this for 3.0.

@stevenbrix This issue also reproduces on .net framework.

[2019-06-24 22:38] #922 closed

[2019-06-24 22:39] #921 closed

[2019-06-24 22:39] #924 closed

[2019-06-24 22:39] #926 closed

[2019-06-24 22:39] #923 closed

[2019-06-24 22:39] #920 closed

[2019-06-25 03:56] Kayot commented on #1073
Dang, I thought I did a thorough search too. Since it's already been suggested I'll close this suggestion. I'll look harder next time.

[2019-06-25 03:56] #1073 closed

[2019-06-25 04:40] rladuca opened #1079 "System.Printing does not consume lib assemblies from WPF GitHub package"
The system.printing mechanism for consuming assemblies from WPF GitHub is different than C# assemblies.

During the GenAPI changes in #932 this needed to be updated to consume lib assemblies, not ref as the ref assemblies no longer carry internal surface area.

[2019-06-25 06:14] rladuca commented on #1079
Fixed in #1080

[2019-06-25 06:14] #1079 closed

[2019-06-25 06:42] vatsan-madhavan commented on #853
https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-int/pullrequest/1818?_a=overview fixes this.

[2019-06-25 06:42] #853 closed

[2019-06-25 07:35] weltkante commented on #977
WinForms solved this in PR dotnet/winforms#1211 by replacing escape sequences with literal line breaks.

[2019-06-25 07:38] RussKie commented on #977
You may wish to sweep all your resources for `\r\n` sequence and replace them with hard line breaks.

[2019-06-25 08:09] weltkante commented on #1063
That looks different from what I'd expect for #585 so probably needs a separate investigation.

[2019-06-25 10:04] vsfeedback opened #1082 "Memory held by the resources is not released even after disposing all the references in WPF when disabling prefer-32 bit in the application"
<p>Hi,</p> <p>I created a WPF application with byte array, memory stream and BitmapImage when a main page is loaded as in the below snippet.</p> <pre>public partial class MainWindow:Window
{
byte[] buffer;
Stream stream;
BitmapImage bitmap;

public MainWindow()
{
InitializeComponent();
this. Loaded+=MainWindow_Loaded;
}
private void MainWindow_Loaded(object sender,RoutedEventArgs e)
{
buffer =newb

[2019-06-25 10:27] wrathofodin opened #1083 "Inline data triggers"
It was always very annoying to create `IValueConverter` for everything. My proposal is to create a new type of trigger or extend DataTrigger so it could support expressions.

There's already a project for that but seems dead: https://github.com/JohannesMoersch/QuickConverter

Every major JS framework support that, see how easy it is in Vue.js for example: https://vuejs.org/v2/guide/conditional.htm

[2019-06-25 11:43] matthewpetch commented on #859
Not fixed in preview 6, I've just had to follow @grubioe's workaround on a new WPF/dotnet core 3 preview 6 project

[2019-06-25 15:55] grubioe commented on #938
hi @hillin  - can you log an issue via in the Visual Studio Developer Community- it will then be directed to the Designer team.
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

Thanks!

[2019-06-25 15:55] #938 closed

[2019-06-25 15:56] grubioe commented on #937
Hi @hillin can you log an issue in the Visual Studio Developer Community- it will then be directed to the Designer team.
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

Thanks!

[2019-06-25 15:56] #937 closed

[2019-06-25 15:56] grubioe commented on #1029
Hi @zlatanov  can you log an issue in the Visual Studio Developer Community- it will then be directed to the Designer team.
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

Thanks!

[2019-06-25 15:56] #1029 closed

[2019-06-25 22:12] vatsan-madhavan commented on #585
@grubioe - we need to document this issue as a change, and remove this from our queue. likely this is not going to actionable.

[2019-06-25 22:18] SamBent commented on #1041
@DanielPramik - on Win10 1903 you are using .NET 4.8 runtime (even if your app targets 4.7.2).  However, a standard DataGrid works correctly on my 4.8 machine.  Either the behavior you describe has been fixed since the snap of 4.8 for Win10 1903, or (more likely) it depends on factors present in your DataGrid or data model but not in mine.

Please attach (or link to) a minimal project that illustr

[2019-06-25 22:21] vatsan-madhavan commented on #664
Moving this to 3.0 since this is a move involved change. We should try to get this in early in Preview 8.

[2019-06-25 22:56] cbaysinger opened #1088 "Adding reference to assembly System.Web.Extensions causes build error"
dotnet -- info dotnet\packs\Microsoft.NETCore.App.Ref\3.0.0-preview6-27804-01\ref\netcoreapp3.0\System.Web.dll
* Windows version: (1809 build 17763.557)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No
 **Problem description:**
Create a Core 3 App and add a reference to System.Web.Extensions then try to build. The following error is reported:
 1>C:\Program Files (x86)\dotnet\sdk\3.

[2019-06-25 23:51] adam-becker commented on #280
How does an existing (but closed) issue supercede an open one?

[2019-06-26 00:00] grubioe commented on #280
Please log a new issue there or ask the VSCode team to re-open the existing one. Thanks!

[2019-06-26 04:00] wyshmily commented on #86
and what about gif support ?

[2019-06-26 04:07] wyshmily opened #1094 "suggestion to have a modern WebBrowser control"
When can we have a Edge or Chromium based WebBrowser in wpf ?
IE based WebBrowser is of no use today …

[2019-06-26 04:29] jbartlau commented on #585
@vatsan-madhavan This will break Xps viewing and printing in a wide range of scenarios. IMHO this should be looked at at least for the Core 3.0 release.

[2019-06-26 05:04] hillin commented on #937
OK, reported

[2019-06-26 06:18] Symbai commented on #1094
You should take a look at XAML Island https://blogs.windows.com/windowsdeveloper/2019/06/13/xaml-islands-v1-updates-and-roadmap/ it offers an Edge based web browser in WPF.

[2019-06-26 06:44] LokiMidgard commented on #929
I have the same problem with `3.0.0-preview7-27824-03`.

A new wpf project does not have this problem but another project I'm working on does. I haven't found out what actually provokes this behaviour. I tried to comment elements out from the original csproj or coppy them over to a new WPF project. Nither removed/provoked the error.

[2019-06-26 07:42] weltkante commented on #86
You already have `DrawingImage`, `DrawingBrush` and `GeometryDrawing` which are vector based and can cover most simple SVG graphics, you just have to write a loader. Of course it would be great if it were builtin, I think UWP has support, it would be great if post-3.0 WPF could be updated to be at least on par with what UWP supports.

GIF is just an image format, it should already work through nor

[2019-06-26 07:46] weltkante commented on #1094
@Symbai the better link is https://blogs.windows.com/msedgedev/2018/05/09/modern-webview-winforms-wpf-apps/ as it has references to the appropriate [nuget package](https://www.nuget.org/packages/Microsoft.Toolkit.Win32.UI.Controls/) and shows how to use it

[2019-06-26 07:51] weltkante commented on #585
@vatsan-madhavan you have at least one more internal caller in WPF which are broken, see stack of @jbartlau, all internal callers need to be fixed

[2019-06-26 08:43] ojhad opened #1095 "Remove ISecureCommand and all its uses"
Remove `ISecureCommand` and all its uses

https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Command/ISecureCommand.cs

[2019-06-26 09:05] jbartlau commented on #585
@weltkante @vatsan-madhavan Would be happy to raise a separate issue in order to tackle the internal call there.

[2019-06-26 09:06] startere opened #1096 "NullReferenceException from BuildWindow when using AvalonDock"
* .NET Core Version: 4.7.2
* Windows version: 1809 (OS Build 17763.557)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Not tested

 **Problem description:** NullReferenceException thrown at System.Windows.Interop.HwndHost.BuildWindow() (using AvalonDock)

 **Actual behavior:**
See attached file for callstack: https://github.com/dotnet/wpf/files/3329154/BuildWindowNullReferenceExcept

[2019-06-26 19:57] DanielPramik commented on #1041
@SamBent I will work on trying to get you the simplest example I can. Here is my current thought on why this is happening.

The standard DataGrid allows the user to go to the new row by hitting the Return key on the last column. We don't allow that on this specific grid in our application, as we require the user to enter another dialog before a row can be completed. Also, we are making use of the

[2019-06-26 20:00] #976 closed

[2019-06-26 20:19] vatsan-madhavan opened #1100 "Snap master to release/3.0 and rebrand preview 7 -> preview 8"
- [x] snap https://github.com/dotnet/wpf master -> release/3.0
  - [x] https://github.com/dotnet/wpf/pull/1099
  - [x] https://github.com/dotnet/wpf/pull/1104 - 2nd snap to release
- [x] rebrand https://github.com/dotnet/wpf master to preview 8
  - https://github.com/dotnet/wpf/pull/1102
- [x] snap https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-int master -> release/3.0
  - https://dev.azur

[2019-06-26 20:20] vatsan-madhavan commented on #1100
https://github.com/dotnet/wpf/pull/1099 is opened to snap https://github.com/dotnet/wpf master -> release/3.0

[2019-06-26 20:27] cwensley opened #1101 "Using different TextFormattingModes with FlowDocument can sometimes use the incorrect mode."
* .NET Core Version: any
* Windows version: Windows 10 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

Using `TextOptions.SetTextFormattingMode()` on a `FlowDocument` or `RichTextBox` should use the specified mode when using different modes in the same application.

 **Actual behavior:**

The actual mode used is somewhat random, and you cannot cha

[2019-06-26 21:20] vatsan-madhavan commented on #1100
https://github.com/dotnet/wpf/pull/1102 rebrands master to preview 8

[2019-06-26 21:34] vatsan-madhavan opened #1103 "Exclude release/* builds from Helix runs"
`release/*` branches do not need test runs in Helix. During release time, these branches (like `release/3.0`) should not have to wait 45-90 mins to complete builds.

Can we exclude these branches from Helix based test runs?

/cc @stevenbrix

[2019-06-26 22:16] stevenbrix commented on #1103
I'd imagine we can, but I don't know off the top of my head. If we start splitting things up into different definitions then I believe we should be able to trigger those based on the branch

[2019-06-27 00:17] #1100 closed

[2019-06-27 04:16] dotMorten commented on #722
Pulled latest code in master and tried out #969. I can confirm this fixes this issue.

[2019-06-27 04:16] #722 closed

[2019-06-27 05:25] Atulin commented on #48
Flutter does not export to desktop targets yet, unless you jump through a few hoops to use stuff that hasn't even been added to the tooling yet.

I guess with Microsoft ignoring cross-platform UI frameworks and Avalonia having close to no documentation, I'll have to either learn Java or resort to the dreaded Electron...

I love C# and .NET and want to use it everywhere, but I guess Microsoft doesn

[2019-06-27 06:05] DaZiYuan commented on #48
Sorry for my negative comments before.

I really wish there is a UI framework just like Flutter,
It allow me use c# develop high performance application in any platform(ios/android/web/desktop/other platform).
xaml + visualstudio + a set of API ( no more different API,such as xamarin/uwp/wpf/wp8/wp8.1/silverlight).

Developer can use one .Net tech develop app to any platform . this will be benefic

[2019-06-27 06:08] lindexi commented on #48
@DaZiYuan Try Xarmain

[2019-06-27 06:16] DaZiYuan commented on #48
I tried before ,it seems map control to native platform, can not keep same UI in different platform.
and don't like it. if I had to choose I would choose flutter. Flutter has a bigger community.

[2019-06-27 06:19] x2bool commented on #48
@DaZiYuan Try Avalonia. It is very similar to WPF.

[2019-06-27 12:06] 0xd4d commented on #859
Yes, this doesn't appear to be fixed. `Process Explorer` says it's `System Aware`, not `Per-Monitor Aware`.

[2019-06-27 13:22] rladuca commented on #859
I think I see the confusion here.

All WPF applications are, by default, system DPI aware.  Applications must explicitly opt into per-monitor DPI awareness.  This is likely the difference you are seeing between the designer and your runtime application.  Visual Studio now opts into per-monitor DPI awareness.  The bug that was fixed in Preview 6 was adding back a module initializer that set the pro

[2019-06-27 14:08] cbaysinger commented on #859
The link "this guide" to "Developing a Per-Monitor DPI-Aware WPF Application" has a link for Windows 10 targets "This page covers legacy WPF development for Windows 8.1. If you are developing WPF applications for Windows 10, please see the latest documentation on GitHub." but the link to GitHub is broken.

[2019-06-27 16:35] rladuca commented on #859
@cbaysinger Thanks for pointing that out.  The samples have been moved around a bit and it seems external links haven't been updated.  Try [this link](https://github.com/Microsoft/WPF-Samples/blob/master/PerMonitorDPI/readme.md) and also read the updated information about .NET 4.8 on [this page](https://devblogs.microsoft.com/dotnet/announcing-the-net-framework-4-8/).

@vatsan-madhavan Are there b

[2019-06-27 16:59] vatsan-madhavan commented on #241
@ojhad, since related PR have all been merged, I recommend closing this issue.

For cleanup of remaining items, like various `using System.Security.Permissions;` and miscellaneous comments (which implicate System.Windows.Extensions), please open a new tracking issue.

/cc @grubioe

[2019-06-27 17:30] ojhad opened #1108 "Clean up remaining items (using directives, comments, etc) related to System.Security.Permissions.dll"
Clean up various remaining items left related to #241 as mentioned in the comment:
https://github.com/dotnet/wpf/pull/1093#issuecomment-505747963
Things such as remaining `using system.security.permissions` statements and comments.

[2019-06-27 17:30] #241 closed

[2019-06-27 17:49] grubioe opened #1109 "Clean up ClickOnce support"

[2019-06-27 18:59] robertborr opened #1110 "ToolsError build failures in 'official/dnceng/dotnet-wpf-test/refs/heads/master' - '20190627.2'"
@dotnet-mc-bot commented on [Thu Jun 27 2019](https://github.com/dotnet/core-eng/issues/6822)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=241858
  - **Agent:**
  - **Error log:** ContinueOnError: False...

@robertborr

---

@robertborr commented on [Thu Jun 27 2019](https://github.com/dotnet/core-eng

[2019-06-27 19:02] rladuca commented on #1110
Looks like the way publish is being done in dotnet-wpf-test is resulting in a race condition between projects and sometimes they are clobbering each other.  We need to fix this up and do things the correct way.

[2019-06-27 21:27] AlexanderTaeschner commented on #929
I also see this in multiple projects with 3.0.100-preview7-012629. The solutions are rather complex but all of them use nuget packages of my own libraries where some of them are using WPF parts and target both net472 and netcoreapp3.0.

[2019-06-27 23:35] vatsan-madhavan commented on #859
Your link is the best one _right now_.

I opened https://github.com/microsoft/WPF-Samples/issues/92 against myself - I'll get to it as soon as I can.

That said, on .NET Core, the guidance for a _typical application_ ought to be something as simple as having an application manifest that contains something like this:

[code]

[2019-06-27 23:58] miguep opened #1112 "Debug builds of DirectWriteForwarder cause TypeLoadExceptions"
* .NET Core Version: Preview8
* Windows version: Win10
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**

Attempting to use DirectWriteForwarder's debug version (e.g. by replacing it in a SelfContained application's folder) may result in TypeLoadExceptions.

 **Actual behavior:**

Application crashes with following stack:

Description: The process was term

[2019-06-28 00:42] brandonhood commented on #86
@weltkante The "great if it were builtin" bit of your post is exactly the reason I made this issue. It's baffling that WPF didn't come with SVG support out of the box.

[2019-06-28 02:00] #575 closed

[2019-06-28 12:03] grubioe opened #1113 "June Update for WPF on .NET Core 3.0"
# June Update for WPF on .NET Core 3.0

In last month’s [update](https://github.com/dotnet/wpf/issues/738), we shared the exciting news that the team had open sourced 15 additional assemblies.  This month we continue to port the WPF code base to work on .NET Core and all of the latest bug fixes and code updates for Preview 7 are available via the [daily builds](https://github.com/dotnet/core-sdk/b

[2019-06-28 12:04] #738 closed

[2019-06-28 13:47] WamWooWam commented on #1082
This doesn't seem to be a bug? You're allocating a CLR array that's 100MB in size, it should be freed when the garbage collector decides it's no longer in use. There's no leak here.

[2019-06-28 17:13] dotMorten commented on #1112
I'm seeing the exact sample thing when building a self-contained trimmed app in release mode.
Project file:
[code]
Then publish the app to a single-exe. This works great with an empty app, But the moment you add this to your xaml, the app fails to launch. I see the same stack trace as above in EventViewer:

[code]

Event viewer log:
[code]

[2019-06-28 17:47] grubioe commented on #1088
@cbaysinger we need a minimal self contained repro to be able to investigate this.   Thanks.

[2019-06-28 18:16] billwert opened #1117 "PresentationNative_cor3.dll causes mscoree.dll to load"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview7-012633
 Commit:    8990e07707

* Windows version: (`winver`)
1903

* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes/No
doesn't matter for this.

 **Problem description:**
.NET core should not have any dependency on inbox .NET

[2019-06-28 18:24] cbaysinger commented on #1088
Repaired my runtime and the namespace System.Web.Extensions no longer resolves so I am going to close this.

[2019-06-28 18:24] #1088 closed

[2019-06-28 18:25] rladuca commented on #1117
This looks like vestigial code from XBAP hosting, we should remove it.  It's only called via XBAP code from PresentationFramework.

[2019-06-28 18:40] bigworld12 opened #1118 "Make TreeView.SelectedItem Bindable"
Currently `TreeView.SelectedItem` has no built-in MVVM friendly way to bind, since it's readonly.
And instead we have to use some workarounds e.g.
https://stackoverflow.com/questions/1000040/data-binding-to-selecteditem-in-a-wpf-treeview

[2019-06-28 18:50] vatsan-madhavan commented on #1117
`XappLauncher.cs` is not included in the build (`PresentationFramework`).

The P/Invoke to `PresentationNative_cor3!TryGetRequestedCLRRuntime` would never have been called. How would `mscoree` have been loaded by us?

[2019-06-28 18:51] rladuca commented on #1117
CLRHostWrapper includes `<metahost.h>` in the build and calls functions from it.

[2019-06-28 18:52] billwert commented on #1117
the loader is eagerly pulling in mscoree because PresentationNative_cor3 has an import.

[2019-06-28 18:54] rladuca commented on #1117
I did just notice the commented out compile includes in PFramework.  Not sure why we're keeping that code around at this point (from a repo tidiness standpoint).  But that's not that important.

[2019-06-28 18:59] vatsan-madhavan commented on #1117
yeah - that's what i'm noticing. as soon as presentationnative_cor3 loads, mscoree also loads for no good reason except for the loader's whim...

[2019-06-28 19:02] vatsan-madhavan commented on #1117
i think my assessment is hasty -/. i believe there is a hard-linkage to mscoree..  in presentationnative_cor3's import table, i see this:

[code]

[2019-06-28 19:02] rladuca commented on #1117
We link mscoree.lib in the vcxproj.

I am removing everything right now in dotnet-wpf-int.

[2019-06-28 19:05] vatsan-madhavan commented on #1117
Yeah, let's remove `CLRHostWrapper` entirely and the linkage to `mscoree.lib` + the corresponding export; and `XpsLauncher.cs` from `PresentationFramework`'s sources.

[2019-06-28 19:08] rladuca commented on #1117
There is a chain of code we can remove from `PresentationFramework` in relation to this.  I think, generally, we should just have someone go through and evaluate the commented out compile includes and clean them.

This [internal PR](https://dnceng.visualstudio.com/internal/_git/dotnet-wpf-int/pullrequest/1893?_a=overview) should address the immediate issue.

[2019-06-28 19:28] ojhad opened #1120 "Remove usage of XamlAccessLevel"
Remove usage of the `XamlAccessLevel` type. It is a CAS related type that has been moved out of the codebase as part of #241 and we should not depend on it anymore.

[2019-06-28 19:30] rladuca commented on #1117
Internal PR completed and merged.  Setting GitHub PR to close this as fixed, even though, it's not really the fix (just an easier way to associate all the work).

[2019-06-28 20:14] #1117 closed

[2019-06-28 23:36] vatsan-madhavan opened #1121 "Improve CI Build Times"
Since #782, CI build times have gone up > 1hr. We need to improve CI build times and still retain some mechanism for running tests.

[2019-06-29 13:25] Deepak211 commented on #1082
Regarding **"it should be freed when the garbage collector decides it's no longer in use."**, I have the below two questions.

1. Why GC.Collect is not works in 64-bit process application (when disabling prefer-32 bit in the application)?
2. Why it works when enabling prefer 32-bit?

![image](https://user-images.githubusercontent.com/52351496/60384751-6b2b7b00-9a9f-11e9-9ea0-624560231a4a.png)

[2019-06-30 15:06] Symbai opened #1127 "Request: Placeholder support for the textbox control"
This is a future feature request for the textbox control (and maybe others as well where this fits into) to have easy property support for a watermark / placeholder text. This is one of the most things you see in custom control WPF libraries. It should be easy to add to the source.

Please note that watermark also has been added to the winforms repo already https://github.com/dotnet/winforms/pull/

[2019-07-01 07:39] windsOne commented on #1113
.net core3 WPF tried, under win7, there is a dependency on the system patch, this is too pit, I don't know if the official version can be solved.
@grubioe

[2019-07-01 07:40] windsOne commented on #1113
.net core3 WPF tried, under win7, there is a dependency on the system patch, this is too pit, I don't know if the official version can be solved.
@grubioe

[2019-07-01 15:05] grubioe commented on #1113
@windsOne.  Can you open a separate issue for it?  Thanks!

[2019-07-01 17:49] #1121 closed

[2019-07-01 18:00] #437 closed

[2019-07-01 18:17] vatsan-madhavan opened #1131 "Remove BinaryFormatter uses"
Related:
   https://github.com/dotnet/corefx/issues/38760

`BinaryFormatter` will be removed in .NET 5. Remove [its uses](https://github.com/dotnet/wpf/search?l=C%23&q=binaryformatter&type=) with whatever drop-in replacement is provided in .NET 5.

[2019-07-01 18:41] AlexanderTaeschner commented on #929
It seems to be a problem when mixing WPF and WinForms apps. I opened https://github.com/dotnet/sdk/issues/3380 for this.

[2019-07-01 20:48] weltkante commented on #1131
Note that this will break drag'n'drop and clipboard comatibility with desktop framework applications.

[2019-07-01 21:07] vatsan-madhavan opened #1132 "Removing support for `UseLegacyDangerousClipboardDeserializationMode and `restrictDeserialization`"
Related:
 - https://github.com/dotnet/wpf/issues/1131
 - https://github.com/dotnet/corefx/issues/38760

Harden the codebase by removing support for `UseLegacyDangerousClipboardDeserializationMode and `restrictDeserialization` near https://github.com/dotnet/wpf/search?l=C%23&q=binaryformatter&type=

[2019-07-01 23:25] rladuca opened #1133 "WPF should not show the keyboard for read-only fields"
* .NET Core Version: 4.7.1+
* Windows version: (`winver`): RS1+
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
WPF uses direct calls to `InputPane.TryShow` via `TipTsfHelper` when the focused control implements the text UIA pattern, UIA is already loaded, and if the OS is >= RS1.
This means that even if the exposed `TextPattern` is marked read-only, WP

[2019-07-01 23:31] rladuca commented on #1110
We addressed this in the short term by suppressing the MSBuild warnings.

In the long term, we need a better publishing strategy.  We're going to fix this as part of our test engineering work.

[2019-07-01 23:31] #1110 closed

[2019-07-01 23:35] rladuca commented on #1112
I don't think @miguep and @dotMorten are reporting exactly the same issue here.

The issue @miguep reported seems related to a missing reference from the C++/CLI compilation and linking.  It's unable to find System.Runtime.Marshal.

The issue @dotMorten seems to have is uncannily similar to #725 which should have been fixed by the change we made to DirectWriteForwarder.

I'll take a look at both,

[2019-07-01 23:59] miguep opened #1134 "Fix and re-enable Control Area Feature tests"
https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/1706 disables Controls Area failures.

**This is a list of disabled test cases that fail in .NET Core, but not on .NET Framework:**

/Area="Controls" /Name="Microsoft.Test.Controls.ItemLeakTest" /SubArea="Automation"
/Area="Controls" /Name="ICommandBug449384" /SubArea="Commanding"
/Area="Controls" /Name="DataGridClipboardCopyP1

[2019-07-02 00:00] miguep opened #1135 "Fix and re-enable 3D failing feature tests."
https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/1739?_a=overview disables failing feature tests.

**The following test case was disabled as it fails in .NET Core. it passes in .NET Framework:**
/Name="Video - Basic Video on 3D - blue, green, red, 10 secs" /SubArea="BVT - Scenario"

**The following were disabled only for Windows 8.1**
/Name="Video - Basic Video on 3D" /SubAre

[2019-07-02 00:01] miguep opened #1136 "Fix and re-enable 2D failing feature tests."
https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/1739?_a=overview disables failing feature tests.

**The following test cases were disabled as they fail in .NET Core. they pass in .NET Framework:**
/Name="Color API Test" /SubArea="API Tests"

**the following were disabled only for Windows Server 2008 R2**
/Name="Line in Neg coordinates" /SubArea="Graphics Xaml Tests"
/Name="P

[2019-07-02 00:03] rladuca commented on #1112
@dotMorten This might be an issue with using PublishTrimmed.  There are quite a few open issues against publishing trimmed WPF applications.  I don't think this is specifically a WPF issue, but likely an issue with trimming.  I suggest adding your experiences onto: https://github.com/mono/linker/issues/595.

[2019-07-02 00:03] miguep opened #1137 "Fix and re-enable Editing failing feature tests."
https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/1739?_a=overview disables failing tests.

**The following test cases were disabled as they fail in .NET Core. They pass in .NET Framework:**
/Name="CaretBrushRenderingStyleAndTriggerTest" /SubArea="Caret"
/Name="CutCopyPasteInTbRtbWithPropertySet1" /SubArea="Clipboard"
/Name="CutCopyPasteInTbRtbWithPropertySet3" /SubArea="Clipb

[2019-07-02 00:04] miguep opened #1138 "Fix and re-enable Effects failing feature tests"
https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/1739?_a=overview disables failing tests.

**This test case was disabled as it fails in .NET Core, it passes in .NET Framework:**
/Name="NegativeTest" /SubArea="Arrowhead\NegativeTest"

[2019-07-02 00:05] miguep opened #1139 "Fix and re-enable AppModel failing feature tests."
https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/1739?_a=overview disables failing tests.

**The following test cases were disabled as they fail in .NET Core. They pass in .NET Framework:**
/Name="HtmlInterop573618" /SubArea="HtmlInterop"
/Name="HtmlInteropInvokeScript" /SubArea="HtmlInterop"
/Name="HtmlInteropObjectForScripting" /SubArea="HtmlInterop"
/Name="CredentialPolicy

[2019-07-02 00:06] dotMorten commented on #1112
@rladuca Done! (and thanks)

[2019-07-02 00:41] ojhad opened #1141 "Fix failure in DrtFixedEdit"
DrtFixedEdit is failing because we are currently trying to read the scheme of a relative uri here:
https://github.com/dotnet/wpf/blob/3a428625dfd907dcae7540f3cb4d0be2f90a3c30/src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Documents/FixedPage.cs#L618

This failure was introduced due to changes that were made to the above `if` statement here:
https://github.com/dotnet/wpf/pull/969

[2019-07-02 11:42] bizzbizz commented on #771
I've been following this issue around and I guess it's the same in all of the `3.0.0-preview` versions.

I am using `3.0.0-preview6-27804-01`. Here's the minimal steps to repro it:

1. Create a WPF application.
2. Add the following code to the MainWindow.xaml
`<TextBox Height="40" Width="300" Text="some text..."/>`

3. Set PropertyGroup of the csproj to:
[code]
4. run `dotnet publish -r win-x64 -c

[2019-07-02 12:12] windsOne commented on #1136
cool   Direct several  issues

[2019-07-02 18:18] rladuca commented on #1076
Closing as I don't think there are any items to change here.  We can always fix these up later.

[2019-07-02 18:18] #1076 closed

[2019-07-02 18:22] rladuca commented on #1112
@tgani-msft Is the stack in the initial post related to the C++/CLI compiler issues with incorrect type mappings?

[2019-07-02 19:33] mikedn commented on #1082
I don't see anything suspicious GC behavior. That stream holds a reference to the array so the array won't ever get GCed. Null out the stream if you want it to work as expected.

[2019-07-02 21:09] weltkante opened #1146 "How to resolve resource keys from embedded xaml files?"
In #865 the xaml theme files were embedded into their theme assemblies to allow tools like VS/Blend to copy them for editing the templates.

I wanted to take a look and compared the current nightly build against the xaml files delivered with VS and noticed that the embedded resources did not provide named keys, for example

*Reference xaml installed with Visual Studio:*
[code]
*Embedded resource x

[2019-07-02 21:50] vatsan-madhavan commented on #1146
@chabiss, can you help?

[2019-07-02 22:56] SamBent opened #1147 "BAML streams can be longer than in .NET 4.8. This can cause more NavigationProgress events."
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`) 3.0 Preview8
* Windows version: (`winver`) any
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
Compiling most XAML files in .NET Core produces a longer BAML stream than in .NET Framework.  This is because Core's "SDK builds" add implicit references to assemblies that con

[2019-07-02 23:46] SamBent opened #1148 "Fix DrtNavigationEvents"
DrtNavigationEvents is failing because of #1147.  It is getting more NavigationProgress events than it expects.

[2019-07-03 00:28] stevenbrix opened #1149 "remove test infrastructure dependency on running as admin"
This stemmed from #816, but we determined the task to remove the dependency on running as admin will take too much time, so it's getting a dedicated task.

Most of the functionality that requires running as admin can probably just be removed, such as JIT debugger registration. I personally don't see much value in that functionality, i can use gflags to do that if i want.  There is a lot of ETW log

[2019-07-03 01:15] SamBent opened #1150 "Fix DrtFlowLayout"
DrtFlowLayout is failing because of a behavior change (bug fix) between .NETFx and .NETCore.  When double d is between -0.001 and 0, d.ToString("F", Invariant) returns "0.00" in .NETFx, but "-0.00" in .NETCore.

[2019-07-03 01:33] Ruedii commented on #48
There is the option of creating a lightweight partial WPF framework.  The elements implemented in WinPR or Winelib (Not full Wine, obviously) could be used for most functions.  This would cover the vast majority of end usage of WPF.   Thus leaving the only portion not supported to be Driver Framework, Kernel Framework, System-Wide Font Management, any Bare Metal functions and Windows Services Fram

[2019-07-03 15:33] robertborr opened #1158 "no dependencies nor content Network build failures in 'official/dnceng/dotnet-wpf-test/refs/heads/master' - '20190702.4'"
@dotnet-mc-bot commented on [Tue Jul 02 2019](https://github.com/dotnet/core-eng/issues/6860)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=248739
  - **Agent:** DDVSOWINAGE316
  - **Error log:** E:\A\_work\0\s\.dotnet\sdk\3.0.100-preview7-012512\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack

[2019-07-03 16:18] stevenbrix commented on #816
Removing the dependency on running as admin is being tracked by #1149 since it is a larger effort then we originally thought

[2019-07-03 17:31] rladuca commented on #1148
@SamBent This was checked in already, correct?  If so, we should close this.

[2019-07-03 17:35] rladuca commented on #1158
I'm going to take this and figure out what is wrong in our build system.

@robertborr We're going to have a bunch of churn in our repo's engineering system in the near future.  It's possible we have a lot of breaks until things settle down.  I don't want to make noise and work for you and your team.  Is there something we can do to limit things that bubble up to you?

[2019-07-03 17:37] robertborr commented on #1158
Thanks for the warning ! 😊  You can disable telemetry till you’re actually ready.   Matt can help with that (I am not sure exactly how it is done)

From: Rob LaDuca <notifications@github.com>
Sent: Wednesday, July 3, 2019 10:35 AM
To: dotnet/wpf <wpf@noreply.github.com>
Cc: Robert Orr (Motiv Inc) <v-roorr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/wpf] no dependencie

[2019-07-03 17:38] rladuca commented on #1158
@robertborr Oh ok, if it's just the basic Arcade telemetry, I believe I can just knock that out of the build yml.  I'll take a look at doing that first thing so we stop generating issues, thanks!

[2019-07-03 17:42] vatsan-madhavan commented on #1158
I recommend that we keep this issue open as a way to track the work. If someone wants to report another issue in the near-future, we can reuse this issue, for e.g..

[2019-07-03 19:15] glyad commented on #48
Please stop to advertize  your project here. Yes, Avalonia is very promissing attempt, but it isn't an open-source implementation of WPF framework. It isn't WPF at all, since it isn't compatible with WPF at least  in meaning that I cannot compile an existing WPF project with Avalonia. Let's talk about WPF here!

[2019-07-03 19:25] glyad commented on #48
The word "similar" doesn't mean "equals". Can you run on Avalonia a project, which has 5-7 years of the development livecycle. No? How you can help me with your Avalonia?

Can you try do not advertize Avalonia project in the thread of WPF project? ;)

[2019-07-03 19:35] batzen opened #1160 "TextBoxView causes memory leak for 2 seconds after unloading host control"
* .NET Core Version: All versions
* Windows version: 1909
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
TextBoxView causes memory leak for 2 seconds after unloading host control.
That's caused by the `DispatcherTimer` `_throttleBackgroundTimer`.
This might not be a problem during usage by a human user, but when i use my custom UI test framework this i

[2019-07-03 19:38] glyad commented on #48
IMHO, that's possible to create cross-platform implementation of WPF. All you need is following:
1.  Make public WPF API as 100% compatible to current WPF implementation,
2. Separate WPF from rendering engine and make it possible to develop rendering backends (e.g.,  DirectX, OpenGL, WebAssembly, etc.),
3. Separate interface from platform-dependent implementations (e.g., implementation of the brow

[2019-07-03 19:45] batzen opened #1162 "Triple click in TextBox does not select all text"
* .NET Core Version: All
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
Triple clicking in a `TextBox` does not select all text in the `TextBox`.

 **Actual behavior:**
Triple clicking in a `TextBox` does not select all text in the `TextBox`.

 **Expected behavior:**
Triple clicking in a `TextBox` should select all text.

 **Min

[2019-07-03 19:51] batzen opened #1164 "FocusVisualStyle can't be overwritten globally"
* .NET Core Version: All
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
Because `KeyboardNavigation` uses `SystemResources.FindResourceInternal` instead of `FrameworkElement.FindResourceInternal` the default `FocusVisualStyle` can't be overwritten globally.

 **Actual behavior:**
 Overwriting `{x:Static SystemParameters.FocusVis

[2019-07-03 19:57] batzen opened #1166 "Validation adorner does show up for controls with initial errors inside an Expander"
* .NET Core Version: All
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
This issue occurs on controls that "hide" their child controls. These controls are, for example, `Expander` and `TabControl`.

 **Actual behavior:**
Validation adorner does not show up for not yet visible controls with validation errors.

 **Expected behavio

[2019-07-03 19:58] zezba9000 commented on #48
@glyad A 100% WPF implementation would require something like WINE. Thats not practical. Making a WPF subset might be possible that removes Windows specifics.

Also look up WinUI 3.0.  If anything that should be ported later as its the WPF replacement for desktop (fingers crossed its done in a way porting is possible).

[2019-07-03 20:01] batzen opened #1168 "Hovering over MenuItem causes the window to get activated"
* .NET Core Version: All
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

 **Actual behavior:**
Hovering over a `MenuItem` causes the window to get activated.

 **Expected behavior:**
Hovering over a `MenuItem` does not activate the window.

 **Minimal repro:**
- Create a new window containing a `MenuItem`
- Focus a different win

[2019-07-03 20:06] batzen opened #1170 "TextBoxView uses DateTime.Now for time measurements"
* .NET Core Version: All
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
` TextBoxView` uses `DateTime.Now` inside `FullMeasureTick` to measure a maximum time frame of 200 milliseconds for line measurements.
As `DateTime.Now` is "slow" and inaccurate a `Stopwatch` should be used and the time frame should be expressed as a `TimeSp

[2019-07-03 20:51] vatsan-madhavan opened #1172 "Document new API's"
In .NET Core 2.0, new API's any that are currently missing documentation would need to be documented.

We will rely on the docs team (/cc @mairaw) to identify the gaps - this is not intended as a task to fill every possible documentation gap.

So far, these are the outstanding API's WPF needs to document:

|    Namespace                         |    Class                                |    Name

[2019-07-03 21:04] MrJul commented on #48
I'm surprised nobody mentioned NoesisGUI yet (or if they did, I missed it).

It's a really performant cross-platform implementation of WPF (they even have a WebAssembly preview). There are of course some small differences and things not implemented yet, but the developers tend to make things as WPF-compatible as possible.

(Note that I'm in no way affiliated with the makers of Noesis, but I find t

[2019-07-03 22:24] #1150 closed

[2019-07-03 22:25] #1148 closed

[2019-07-04 10:14] glyad commented on #48
It's possible without WINE. It requires to separate code on shared and platform dependent parts (assemblies). Okey, I divine your comments regarding HWND and OS-dependent windows management, participating with Windows message loop, etc. It's exactly the sample of the "Platform" portion of code. There are two ways, how to resolve it:
1. Do not change the public/protected interface of the Window cla

[2019-07-04 13:49] wrathofodin opened #1176 "WindowChrome causing flickering on resize"
**Problem description:**

https://stackoverflow.com/questions/51669632/wpf-windowchrome-causing-flickering-on-resize

 **Minimal repro:**

[code]

[2019-07-04 14:42] GitSrikanth commented on #48
Which framework best suits to develop an UI with multi-platform support - Windows, Linux, Android and iOS mobiles?

This app UI will communicate with .NET Web Server using API's.

I read some where, they suggested below links for Linux platform support.
https://github.com/AvaloniaUI/Avalonia
https://github.com/GtkSharp/GtkSharp

What I'm looking is common code base for all platform, which is best

[2019-07-04 21:03] zezba9000 commented on #48
@GitSrikanth For mobile + Desktop support there is also:
* Xamarin.Forms (looks different / native on each target platform [supports everything but the browser])
* UWP / UNO (looks the same on each platform for the most part and supports Browser [doesn't support macOS or Linux]).
* Blazor (Use HTML / C# in WASM. Runs anywhere a browser does. Use electron to run it on the Desktop)

For your case if

[2019-07-05 00:55] lindexi commented on #1162
I do not think it a good feature that it change the behavior. Because I use **Triple clicking in a TextBox does not select all text in the TextBox.** feature to write my bussiness code.  o(╥﹏╥)o

If your code be merged, I should change my exist code...

[2019-07-05 06:17] Nukepayload2 opened #1178 "RichTextBox throws XamlParseException in its constructor"
* .NET Core Version: 3.0 preview 6
* Windows version: Windows 10 x64 zh-CN 18362.207
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
The constructor of `RichTextBox` crashes when running on Windows 10 1903 Chinese Simplified.
Similar to #1003

 **Actual behavior:**
($exception).StackTrace
[code]
DirectCast(($exception)._innerException, System.ArgumentExc

[2019-07-05 08:41] MichaelVach commented on #316
I would like to propose a solution for the Button and MenuItem cases mentioned in the linked Stack Overflow question above.

Looking at stack trace that leads to the bug for the Button case

[StackTrace leading to ICommand.CanExecute Bug.txt](https://github.com/dotnet/wpf/files/3361789/StackTrace.leading.to.ICommand.CanExecute.Bug.txt)

we see that the error occurs in the
PresentationFramework.dll

[2019-07-05 08:55] weltkante commented on #1162
Sooner or later WPF needs to add new input gestures and there is always the risk that some application already was using a previously unused input gesture for its own purpose. I think its a good start to think about how to deal with that here, while triple click is not a standard Windows gesture a lot of applications make use of it to select all text. Maybe it can be implemented and hidden behind

[2019-07-05 09:09] weltkante commented on #1178
This should be fixed by #919. I don't know when the next preview will be released but if you don't want to wait you could try nightly builds as described [here](https://github.com/dotnet/core/blob/master/daily-builds.md) or you can work around the bug by setting the culture to english during startup (`CultureInfo.CurrentUICulture = CultureInfo.GetCultureInfo("en-US");`).

[2019-07-05 09:17] mdtauk commented on #1162
Triple clicking is the expected behaviour in Windows 10, as used by UWP XAML.
Win32's Edit control only has single click to focus, and double click to select the word the cursor is over.

[2019-07-06 00:29] #664 closed

[2019-07-06 00:30] #579 closed

[2019-07-06 00:32] ojhad commented on #664
Merged PR with fix, closing issue.

[2019-07-06 00:32] ojhad commented on #579
Merged PR with fix, closed issue.

[2019-07-06 08:25] Berrysoft opened #1183 "WPF program crashes with the nightly build sdk"
* .NET Core Version: 3.0.100-preview8-012893
* Windows version: 10.0.18392.1000
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
The program just crashes.
 **Actual behavior:**
[code]
 **Expected behavior:**
 It shouldn't crash.
 **Minimal repro:**
[code]

[2019-07-06 09:22] Mario-HL-Duarte opened #1184 "Error with DatePicker"
I created an application. As soon I added a DatePicker to it, I cannot debug anymore.
I'm attaching a project with the error.
[ExtracaoPortalDaTransparencia.zip](https://github.com/dotnet/wpf/files/3364571/ExtracaoPortalDaTransparencia.zip)

System.Windows.Markup.XamlParseException
  HResult=0x80131501
  Message=A invocação do construtor no tipo 'System.Windows.Controls.Primitives.DatePickerTextBo

[2019-07-06 09:34] Mario-HL-Duarte commented on #1184
Setting the Culture on initialization as described [here](https://github.com/dotnet/wpf/issues/1178#issuecomment-508690005) fixed the problem.

[2019-07-06 09:34] #1184 closed

[2019-07-06 23:02] JakeSays commented on #48
@Ruedii "A stripped WPF containing GDI+, MSXML, MSHTML, MSHTTP, WinSocks, Print Spool access, DirectX, TWANE and a good number of other Win32/WIn64 libraries already implemented by portable Open Source projects should be fine." - I don't think you understand what WPF is. None of those components you mentioned are a part of WPF - it is a UI framework only (although it does use some of those). You a

[2019-07-07 00:18] Ruedii commented on #48
Sorry I meant that as a batch list pertaining to all Win32 specific
frameworks, not just WPF.  I sort of dropped the and other frameworks part
from the message.

However, as I mentioned all of the specified APIs have open source
implementations available.

On Sat, Jul 6, 2019, 7:02 PM Big Jake <notifications@github.com> wrote:

[2019-07-07 03:39] rladuca commented on #1183
Thanks for reporting this.  This is due to a change made in CoreFX (by us) to move the `XamlAccessLevel` type out of `System.Security.Permissions`.

Unfortunately, this causes breaks in WPF as we have yet to update to the new location.  Normally this would cause a failed DARC dependency push, but we have currently disabled our DRTs from running during PR builds because of issues with builds taking

[2019-07-07 03:55] Berrysoft commented on #1183
Thanks for your reply! I'll wait for the fix.

[2019-07-07 18:17] WamWooWam commented on #1082
GC.Collect won't necessarily free anything, it all depends on more variables than I can count

[2019-07-08 09:07] popcatalin81 commented on #48
**Can** WPF be made cross platform: **YES**
Does Microsoft **want** to make WPF cross platform: **NO** (This is the actual roadblock to cross platform, nothing else, there are no limitations or design issues which cannot be overcome).

All this discussion about APIs is somewhat funny. It's not a question of API's, it's a question of **WHY**. We should provide Microsoft with some "_compelling_" rea

[2019-07-08 09:14] Lakritzator commented on #1183
I came here to report the same issue, I only noticed it today after upgrading to 3.0.100-preview8-012929
Thanks @Berrysoft for reporting this!

@rladuca Thanks for explaining this, and even on a sunday.

P.S.
I'm still having a hard time to detect what changes. not just for WPF, are in a certain dotnet core SDK build. How will we know with what version this issue is fixed? Will you tell use the SD

[2019-07-08 09:19] DaZiYuan commented on #48
I want to develop app using WPF and then publish to IOS/Android/Windows pc .
just like Flutter or Unity.
Flutter has taken the lead, I wish Microsoft don't give up.

[2019-07-08 09:35] DaZiYuan commented on #48
If WPF is cross-platform, Strategically , Microsoft can capture more developers from other platforms . And to promote Azure . Increase the number of app for store . Improve the c# open source ecosystem. Improve developer goodwill towards Microsoft.

Microsoft has hurt a lot of developers over the years and all we need is a truly unified xaml UI framework.

[2019-07-08 10:47] MV10 commented on #48
I don't expect Microsoft to change their position on this because cross-platform WPF has no strategic value to them. Even though they've neglected (I'm tempted to say "wrecked") their desktop strategy lately, they still dominate the segment. We're all here because we believe WPF is a superior solution (despite it's many flaws, also due to neglect), and you can bet Microsoft is well aware of that.

[2019-07-08 11:21] popcatalin81 commented on #48
Yes, WPF is not only the best UI Library from Microsoft, it's also among the very best (if not the best) out of all UI libraries for any platform.

I think there are some compelling reasons to make WPF cross-platform.

I. Windows Azure
  1. WPF is UI Framework used by Visual Studio.
  2. Visual Studio is Microsoft's First Class Development Environment targeting Windows Azure.
  3. Making Visual St

[2019-07-08 12:37] MichaelVach commented on #316
The attached test project can be used to verify the proposed solution.

[CommandCanExecuteProject.zip](https://github.com/dotnet/wpf/files/3368356/CommandCanExecuteProject.zip)

[2019-07-08 13:40] MV10 commented on #48
@popcatalin81 Hadn't thought about the VS / Azure combo, that's an interesting point. However, I imagine it would be easier to just add Azure features to VS Code, which is already quite popular on *nix.

[2019-07-08 17:36] grubioe commented on #1147
Closing as known issue.

[2019-07-08 17:36] #1147 closed

[2019-07-08 17:39] grubioe commented on #1160
This issue will be considered once all tests are ported.

[2019-07-08 17:42] grubioe commented on #1164
To be considered when all tests are ported.

[2019-07-08 17:44] grubioe commented on #1166
To be considered when all tests are ported

[2019-07-08 17:45] grubioe commented on #1168
To be considered when all tests have been ported.

[2019-07-08 17:52] grubioe commented on #1178
@Nukepayload2 please use the nightly build to confirm that this is fixed.

[2019-07-08 17:52] tannergooding commented on #48
Yes, same anything could be "cross platform" with the appropriate abstractions/etc. The largest hurdle, IMO, is that there are a number of concepts in WPF and WinForms which are very tied to the Win32 APIs (and to DirectX in the case of WPF) that may not translate nicely to other windowing systems or graphics APIs.

Some of these differences are exposed via APIs (most of `System.Windows.Interop` o

[2019-07-08 18:39] vatsan-madhavan commented on #1183
So there are a couple of things that are interesting to note.

- We need to port https://github.com/dotnet/corefx/pull/38908 to `release/3.0` branch, _then_ wait for that to flow into [`dotnet/wpf`](https://github.com/dotnet/wpf), _then_ (a) change our references for `XamlAccessLevel` from `System.Security.Permissions` to `System.Windows.Extensions` and (b) change the `[TypeForwardedToAttribute]`

[2019-07-08 18:46] vatsan-madhavan commented on #1183
I'm looking at `PresentationFramework.Aero` from the same SDK (`4.8.0-preview8.19357.3+f48db94ae9617a7105ec3f2f3446eb86182ccdaf`) which was built out of [`dotnet-wpf-int`](https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-int/commit/f48db94ae9617a7105ec3f2f3446eb86182ccdaf) repo.

This is what I see in its `Version.Details.xml`:

- `System.Security.Permissions`: NA
- `System.Windows.Extensions

[2019-07-08 18:46] vatsan-madhavan commented on #1183
/cc @mmitche

[2019-07-08 19:02] vatsan-madhavan commented on #1183
I have an internal PR out to fix the mismatch in CoreFx package versions that are being consumed by the build in [dotnet/wpf](https://github.com/dotnet/wpf) and [dotnet-wpf-int](https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-int).

https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-int/pullrequest/2009

[2019-07-08 19:04] vatsan-madhavan opened #1191 "dotnet/wpf and dotnet-wpf-int consume different versions of CoreFx packages during build"
https://github.com/dotnet/wpf/issues/1183#issuecomment-509345925

[2019-07-08 19:05] vatsan-madhavan commented on #1191
https://github.com/dotnet/wpf/issues/1183#issuecomment-509351520

[2019-07-08 19:39] #1191 closed

[2019-07-09 03:03] vatsan-madhavan commented on #1147
The default list of reference assemblies is outlined here for netfx projects built using WindowsDesktop SDK:

https://github.com/dotnet/wpf/blob/008e1bb07cef9c701b4c3a976eca41509efd93ad/packaging/Microsoft.NET.Sdk.WindowsDesktop/targets/Microsoft.NET.Sdk.WindowsDesktop.props#L91

netcore projects built using WindowsDesktop SDK will reference all WPF assemblies except Theme assemblies when UseWpf==

[2019-07-09 03:54] ericstj commented on #1183
This change is for preview8, not preview7.  All you need to do is make sure you that you're picking up preview8 corefx bits in your preview8 branches.  This problem will fix itself on recompile since you should get the transitive reference when picking up the new package.  You can clean up the package-reference to use only System.Windows.Extensions at your leisure.

This type of hiccup is always g

[2019-07-09 08:05] weltkante commented on #1178
what happened to preview7 anyways, considering the [downloads](https://dotnet.microsoft.com/download/dotnet-core/3.0) are still on preview6 but nightlies are already on preview8 ?

[2019-07-09 08:52] vatsan-madhavan commented on #1178
P7 is in validation now - should be announced as soon as it’s signed off by all teams.

[2019-07-09 08:53] vatsan-madhavan commented on #1178
/cc @jamshedd

[2019-07-09 12:21] Deepak211 commented on #1082
@mikedn , I have tried null out the stream too. But the behavior varies when enabling and disabling prefer 32-bit. The issue still occurs in disabling prefer-32 bit as I mentioned in my 2nd and 3rd reply in the below forum.

https://social.msdn.microsoft.com/Forums/vstudio/en-US/4b519b48-e9c8-4a66-b051-ce8a0acde2a7/memory-held-by-the-resources-is-not-released-even-after-disposing-all-the-reference

[2019-07-09 12:58] mikedn commented on #1082
Back when I played with this I wasn't able to detect any differences between 32 and 64 bit. Besides, even if there are some differences the main issue in your example is that you do not null out the stream and that prevents the array from being collected.

From your forum thread I gather that the issue is actually related to WPF's handling of images, something which your example doesn't illustrate

[2019-07-09 13:01] Nukepayload2 commented on #1178
@grubioe
I don't know whether this issue has been fixed, because my program crashed before calling the constructor of `RichTextBox`.

![image](https://user-images.githubusercontent.com/10798596/60889667-23210b00-a28c-11e9-948d-d714d4f82340.png)

I'll try again after #1183 is solved.

[2019-07-09 16:46] jamshedd commented on #1178
@weltkante, as you noticed master has moved on to Preview 8, this is because the Preview 7 release is in lock down (final stabilization). Preview 7 will be available very soon (next couple of weeks).

[2019-07-09 16:49] vatsan-madhavan commented on #1178
@Nukepayload2 you are hitting https://github.com/dotnet/wpf/issues/1183

[2019-07-09 20:11] carlossanlop opened #1196 "Add a DataSource in Wpf Core"
_From @HADDADENICAR on Wednesday, July 3, 2019 10:43:09 AM_

Following a tutorial in Pluralsight about EF Core ,Julie Lerman the tutor used EF Core  with (.Net Framework) Wpf Project, I am trying to do the same but with Wpf (Core3).

I want to make my view fast with a dataSource, when i add a datasource from the domain model project , it's dosen't get added !

_Copied from original issue: dotnet/c

[2019-07-09 20:11] carlossanlop commented on #1196
_From @carlossanlop on Tuesday, July 9, 2019 8:06:13 PM_

Can you provide more details like a code example of what you're trying to do?

[2019-07-09 21:50] grubioe opened #1198 "[Watson] clr20r3: CLR_EXCEPTION_System.Collections.Generic.KeyNotFoundException_80131577_PresentationCore.dll!MS.Internal.DpiUtil+DpiAwarenessScope..ctor"
Copied from ADO ID 893177

* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

We have a bug here - a missing check.

\WPF\src\Core\CSharp\MS\Internal\DpiUtil\DpiUtil+DpiAwarenessScope.cs

[code]

We should either be catch `KeyNotFoundException`, or better yet, checking for `dpiAwarenessContextValue==Invalid` and return with `OperationSupported=false` early in the constructor.

Foun

[2019-07-09 22:27] vatsan-madhavan opened #1199 "Deprecate ObjectDataProvider"
We should consider marking `ObjectDataProvider` as `[Obsolete]`  in .NET Core 3.

In addition to this, we should also consider a global policy switch (an `AppContext` switch, for e.g.) that will disable `<ObjectDataProvider .../>` in XAML.

Or perhaps this should be reversed - off by default and provide an opt-in switch? I worry that this will have a huge app-compat impact.

/cc @GrabYourPitchfork

[2019-07-10 00:20] vatsan-madhavan commented on #1198
@grubioe this is marked as _area_netfx_. IIRC we wanted to fix this in .NET Core but decided that the hit-counts were too low to meet the bar for .NET Framework, right?

[2019-07-10 00:23] grubioe commented on #1198
Yes, also because it reproduces in .NET Framework,

[2019-07-10 00:28] SamBent commented on #1049
No repro, using Preview7 release build.

[2019-07-10 00:39] SamBent opened #1200 "[DRT] Remove DrtInterleavedPackage, DrtPackageCompression, DrtZipIO"
These three DRTs test internal implementation by reflecting into WindowsBase to find the internal classes/methods of interest.  But the implementation moved to CoreFX, so these DRTs fail because reflection doesn't find the targets.  These DRTs are of no value to WPF - remove them.

[2019-07-10 11:37] vu1garis opened #1209 "Set DataContext in XAML from dynamic static resource defined in App.xaml failing"
Hi

I am a having trouble with statically bound resources. I am a fan of System.Composition and use this in combination with `DynamicObject` to build an IoC ViewModel discovery experience. The code which finds ViewModels is a dynamic object which takes the name from the `TryGetMember` binding context to do a `CompositionHost.Export` as follows...

[code]

View models are then just a case of System

[2019-07-10 15:25] weltkante commented on #1209
Bindings to dynamic objects previously had problems, might be related to #695 #934 and looking at the merge date it probably hasn't made it into preview6, so this may be fixed already in [nightly builds](https://github.com/dotnet/core/blob/master/daily-builds.md) or the upcoming preview7.

[2019-07-10 16:44] SamBent commented on #1200
Fixed in wpf-test.

[2019-07-10 16:44] #1200 closed

[2019-07-10 17:34] rladuca commented on #1200
CC: @stevenbrix In case this impacts anything you're porting.

[2019-07-10 20:00] rladuca commented on #1158
Clearing estimate here as this is tracked in the children of internal task: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/944228

[2019-07-10 20:27] vatsan-madhavan commented on #1183
This is now fixed in the [latest](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/latest.version) build available at https://github.com/dotnet/core-sdk.

The current version which I just I checked is:
[code]

[2019-07-10 20:27] #1183 closed

[2019-07-10 20:33] vatsan-madhavan commented on #1178
From https://github.com/dotnet/wpf/issues/1183#issuecomment-510215979

Please try the latest SDK - you should no longer get the `TypeLoadException` related to `XamlAccessLevel`.

[2019-07-10 20:40] Lakritzator commented on #1183
I can confirm it working with 3.0.100-preview8-012985, hanks for fixing this!!

[2019-07-10 20:56] #1141 closed

[2019-07-11 06:07] Berrysoft commented on #1183
It works, thanks!

[2019-07-11 08:43] vu1garis commented on #1209
Hi Thanks for the quick response. I have just pulled the SDK MSI from master and can confirm that the issue  described above is resolved in `Microsfot .NET Core SDK 3.0.100 - preview8` build `3.0.100.13066`. 🥇 to the teams involved net core just keeps getting better and better.

Don

[2019-07-11 08:43] #1209 closed

[2019-07-11 10:30] adrianhara commented on #439
Any news on this front?

[2019-07-11 12:09] Nukepayload2 commented on #1178
It's fixed in the latest SDK.

[2019-07-11 12:09] #1178 closed

[2019-07-11 16:12] EngAJ commented on #649
Is this fix available or is there any release date for this fix?
Is there any workaround?

We already had two customers that updated and the issue remains after the last Cumulative Update for .NET.

[2019-07-11 18:13] grubioe commented on #1199
WPF community -  will removing ObjectDataProvider cause gaps with your application? We'd like your input to help formalize our approach.   Thanks!

[2019-07-11 18:49] weltkante commented on #1199
We aren't using it in our codebase, but do you mind sharing the motivation for getting rid of it? I see you marked it as a security related issue, why is that?

Also I don't think the WPF community is represented well enough here to base the decision for removal in 3.0 off an issue discussion. You can of course try it (assuming you don't already get major objections here) and see if anyone else wi

[2019-07-11 19:00] JohanLarsson opened #1228 "Extend DataTemplateSelector to implement `IList`"
The API I have in mind is:

[code]

`IList.Add()` would then add the templates to a `Dictionary<Type, DataTemplate>` and `SelectTemplate` would resolve from that. Don't think there is a need for a new type, tweaking the existing should be ok.

[2019-07-11 19:04] JohanLarsson commented on #1228
Maybe there is something nicer than `IList` for supporting adding children in xaml. `IList` does not make much sense as interface there.

[2019-07-11 19:07] weltkante commented on #1228
[DataTemplateSelector](https://referencesource.microsoft.com/#PresentationFramework/src/Framework/System/Windows/Controls/DataTemplateSelector.cs) is a base class you are supposed to implement. Requiring every subclass to allow for literal addition of DataTemplates is unnecessary, incompatible and counterproductive. If anything you should introduce a subclass for a selector which stores its DataTe

[2019-07-11 19:08] JohanLarsson commented on #1228
The point is to not have to sublass for each case.

[2019-07-11 19:10] weltkante commented on #1228
@JohanLarsson not possible, we have selectors which need to evaluate lazily and don't have a backing collection. Changing that would be a massive break with existing code. Separating API and implementation is a good thing.

[2019-07-11 19:12] JohanLarsson commented on #1228
Think you have to demonstrate how it would break things with some code. But yes creating a new type is an alternative, I don't think it is needed though.

[2019-07-11 19:14] milleniumbug commented on #1228
A derived class of `DataTemplateSelector` would be fine as well.
That would cover the common case of having all the templates in XAML. It would be to `DataTemplateSelector` what `RelayCommand` is to `ICommand`.

[2019-07-11 19:38] weltkante commented on #1228
@JohanLarsson I don't think thats how feature suggestions work. For now I made my point so it can be considered. If there's concrete questions I can provide clarifications of course.

[2019-07-11 19:43] vatsan-madhavan commented on #1199
https://www.blackhat.com/docs/us-17/thursday/us-17-Munoz-Friday-The-13th-Json-Attacks.pdf

`ObjectDataProvider` provides a a clever approach to execute arbitrary methods.

[2019-07-11 19:50] vatsan-madhavan commented on #1199
There are several approaches we can consider.

1. Remove the type (heavy handed, will definitely break compat)
2. Functionality no-op by default (i.e., the type will be available, can be compiled against etc., but the functionality will be a no-op), can be opted-in by applications that really want to use this type and related functionality
3.  Available by default (everything works as before), pro

[2019-07-11 19:58] weltkante commented on #1199
Thanks for the link, and I agree with (2) being a reasonable choice.

However I'm not sure I can follow that argument about security yet, as far as I'm concerned (might be missing something) ObjectDataProvider is just another way to do data binding, I don't see anything that makes it special by e.g. consuming external data.

If this is about XAML loading, if you can load attacker controlled XAML y

[2019-07-11 21:53] JohanLarsson commented on #1228
Something like:

[code]

But I'm rusty with WPF.
Chances are it is safest with a new class as it may be a breaking change in weird reflection scenarios. But then again that is on them IMO.

[2019-07-11 21:54] JohanLarsson commented on #1228
This is one of the things that are easy enough to write self like `ActionCommand` but annoying to have to do it in every app.

[2019-07-11 22:45] nguerrera opened #1230 "Add MyType to VB WPF template"
This is needed in support of getting VB code that uses `My.*`  working out of the box.

Sync with @KathleenDollard on the correct content, but I *think* we want the following:

[code]

Eventually we will want something more like the MyType=Custom that you get in the classic VB WPF project, but Console is what works now.

[2019-07-11 23:49] tarekgh opened #1231 "WPF Keyboard InputBinding not working on non-english system language"
@Mrxx99 commented on [Thu Jul 11 2019](https://github.com/dotnet/corefx/issues/39405)

When using Inputbindings in XAML with for a Keyboard shortcut, there is an System.ArgumentException that the requested value for [localized name of a keyboard key] was not found.
Everything works fine if I change my system language to english.

Minimum working example can be found here: https://github.com/Mrxx99

[2019-07-12 04:56] vatsan-madhavan commented on #1231
@Mrxx99, this is likely fixed in Preview8 builds currently available in [dotnet/core-sdk](https://github.com/dotnet/core-sdk)

[2019-07-12 08:58] Nassiel commented on #48
The problem is always the same, Microsoft does things at 50% and later they'll not understand why they fail. Why Windows Phone fails, why Windows fails in servers, why Bing fails, why Azure is not as big as AWS, etc. Common, even Linux surpasses Windows in the Azure itself.

I won't consider doing WPF cross-platform an easy task, but there are no technical issues on doing it. Qt5 works even in car

[2019-07-12 12:21] Simon-IT opened #1238 "Missing some exe files"
.NET Core Version: 3.0.100-preview6-012264
Windows version: Windows 10 1903 (build SO 18362.239)

Hi,
running dotnet/wpf/build.cmd four packages are downloaded as prerequisites:

- dotnet-api-docs_netcoreapp3.0-0.0.0.1-win64-x64.zip;
- msvcurt-c1xx-0.0.0.4-win64-x64.zip;
- net-framework-48-ref-assemblies-0.0.0.1-win64-x64.zip
- strawberry-perl-5.28.1.1-1-win64-x64.zip

All four should has an exe f

[2019-07-12 12:46] ghost1372 opened #1239 "visual studio hang while working with .net core wpf"
hi when i working with .net core and wpf app after 2 or 3 time build and run app, visual studio hangs and displays the message Visual Studio busy...
windows 10.18362
visual studio 16.2 preview 3
core sdk preview 6

[2019-07-12 12:50] walterlv opened #1241 "The VisualBrush only refresh the visual but not the layout when the Visual visibility changes"
* .NET Core Version:  3.0 Preview6
* Windows version: Windows 10.0.18932.1000
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

1. We have a `Border` to show a `VisualBrush` of another `Grid`
1. The `Grid` contains a `Rectangle` and a `TextBlock` and the `Rectangle` will change its visibility period.

![The layout](https://user-images.githubusercontent.c

[2019-07-12 15:27] stevenbrix commented on #1200
I had deleted DrtZipIO, but I thought that the other two were just using reflection to access the public types in WindowsBase that moved to corefx and still had value. But maybe we should really port the tests over to corefx?

[2019-07-12 16:09] grubioe commented on #1239
Hi @ghost1372 please log an issue in the Visual Studio Developer Community- it will then be directed to the Visual Studio team.
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

Thanks!

[2019-07-12 16:09] #1239 closed

[2019-07-12 16:46] vatsan-madhavan commented on #1238
Can you post the build output exactly as you see ?

[2019-07-12 19:29] Simon-IT commented on #1238
Yes, but give me a moment for explain the situation better.
I've debugged the PS scripts starting from the build.cmd file. The relevant point is in _dotnet\wpf\eng\common\native\install-tool.ps1_ file. Starting at line 84 the procedure downloads and extracts the zip file for the tool: for example the URI for perl is _https://netcorenativeassets.blob.core.windows.net/resource-packages/external/wind

[2019-07-12 20:24] vatsan-madhavan commented on #1238
It's a  _warning_. The warning text says things like "failed", but it's still just a warning.

If the corresponding zip files get downloaded to `%userprofile%\.netcoreeng\native\temp`, and subsequently get unzipped under `$(RepoRoot).tools\native`, then these tools are being acquired correctly.

[2019-07-14 14:03] onovotny opened #1262 "PresentationCore pdb is missing"
Trying with the latest nightly of .NET Core SDK 3 preview 7, in the debugger, PresentationCore.pdb isn't found. The rest of the WPF pdbs are found and I can source-step into the code, just that one appears missing.

[2019-07-14 17:20] hez2010 opened #1264 "Build failed while writing custom controls"
* .NET Core Version: 3.0 preview 6
* Windows version: windows 10 1809 17763.615
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
Write a custom control, and build it. There's a possibility to get build error: Unknown build error, 'An item with the same key has already been added. Key: themes/generic.baml'.
And if you build it multiple times, it might succ

[2019-07-14 20:12] Symbai opened #1267 "DesignerProperties.DesignStyle throws object reference exception"
* .NET Core Version: 3.0.0-preview8-27911-03
* Windows version: Win10
* Does the bug reproduce also in WPF for .NET Framework 4.8?: **No**

 **Problem description:**
using `DesignerProperties.DesignStyle` feature in a .NET Core 3.0 WPF project fails with an exception. Works fine in .NET Framework 4.8 WPF project.

 **Actual behavior:**
`Object reference not set to an instance of an object.` is thr

[2019-07-15 06:53] thomasclaudiushuber commented on #299
Cool, thanks @rladuca .

For all others: If you're waiting like me for this feature, you can use as a workaround WPF's SplashScreen class in the App's Startup event to show a splash. I just did this in a WPF app I've migrated.:

[code]

[2019-07-15 09:17] xianyun666 opened #1269 "WindowChrome System.OverflowException:“Arithmetic operation resulted in an overflow.”"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Windows version: (`winver`)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes/No
Yes,All .NET Framework

 **Problem description:**
 In the case of two monitors，Order: main display 1 below, secondary display 2 above，And the resulting platform is x64，Drag the program to screen 2，A mouse click trigg

[2019-07-15 15:24] thomasclaudiushuber commented on #1036
Note that .NET Framework has in addition this template:

![image](https://user-images.githubusercontent.com/7116546/61227710-1cc7de80-a725-11e9-9dae-8a6e2bb66fde.png)

I guess this is the one we don't want to have for .NET Core 3.0, as Browser apps are not supported. So we should have these three templates for .NET Core in VS 16.3:

- WPF App
- WPF Custom Control Library
- WPF User Control Library

[2019-07-15 17:35] #1238 closed

[2019-07-15 19:14] vatsan-madhavan commented on #1036
@thomasclaudiushuber, that's correct. XBAP's are not supported (and beyond that - they are completely non-functional) in .NET Core.

[2019-07-15 21:00] HADDADENICAR commented on #1196
Sorry for late, I mean this:
![2019-07-15](https://user-images.githubusercontent.com/35377776/61248767-0c7b2800-a754-11e9-98e9-5f9778003032.png)

From my Domain Model(entites) i can create the xaml view by just drag and drop, this is possible in Wpf(.Net Framework) but not in Wpf(.Net Core3)

[2019-07-15 22:16] rladuca commented on #1158
Waiting on new VS update with fixes to DebugExe so I can investigate several failures from new test bins.

[2019-07-15 23:25] rladuca commented on #1262
@onovotny I just installed the latest Preview 7 drop and I was able to get the PDB for `PresentationCore` to load.

The version I was using was `3.0.100-preview7-012814` and I was able to load PDBs for both x86 and x64.  This was only having MS + NuGet symbol servers enabled (I made sure to turn off all internal symbol servers and clear the cache).

Are you sure your symbol servers are enabled?

[2019-07-16 00:43] vatsan-madhavan commented on #1262
Seems to work ok for me - this is my experience.

![UAyMmxMpB8](https://user-images.githubusercontent.com/20246435/61257912-f0619180-a727-11e9-9437-6150ed16b988.gif)

[2019-07-16 10:01] TempeBrennan opened #1280 "AttachedPropertyBrowsableForType attribute need to be added"
In .NET Framework, we use AttachedPropertyBrowsableForType attribute to show attach property in Visual Studio property window in design time.
[code]
Now in .NET Core, it seems not support this property.
But I can see .NET Core support AttachedPropertyBrowsableForChildren attribute.

Can we add this attribute or is there any workaround? thanks a lot!

[2019-07-16 13:41] rladuca commented on #1280
@TempeBrennan Do you mean the type for the attribute cannot be found or that Visual Studio is ignoring the attribute with respect to the property window?

[2019-07-16 18:20] ryalanms commented on #1264
Thanks @hez2010.   The SDK automatically pulls in all .xaml files, including themes/generic.xaml, which appears to be causing the duplicate ResourceItem at compile time.

https://github.com/dotnet/wpf/blob/master/packaging/Microsoft.NET.Sdk.WindowsDesktop/targets/Microsoft.NET.Sdk.WindowsDesktop.props#L37

[code]

Two options to fix the error when building the repro project are removing the explic

[2019-07-16 19:02] tekk opened #1284 "MediaPlayer stops playing altought it should loop"
I have .NET 4.7, on Windows 10.

I have following code:

[code]

Video should repeat forever but it doesn't even finish first loop and stops.

[2019-07-16 19:17] #299 closed

[2019-07-16 19:32] ryalanms commented on #1072
Thanks, @grokys.  This appears to have been fixed.

If the error appears again, try to kill all msbuild processes, delete artifacts, and clear nuget cache before building.

[code]
If it still repros, please re-open this issue.  Thanks!

[2019-07-16 19:32] #1072 closed

[2019-07-16 19:34] ryalanms commented on #1264
Please re-open this issue if the above suggestions don't work.  Thanks.

[2019-07-16 19:45] #977 closed

[2019-07-16 20:17] rladuca commented on #742
Initial investigation shows this no longer reproduces.

I've currently only tested this on a Surface Studio, but will add some other touch devices before being satisfied that this will not reproduce.

Unfortunately I don't quite know why this happened in the first place.  It was discovered very early on in the dev cycle for .NET Core 3 so something underneath the input stack could have changed to

[2019-07-16 21:11] #1108 closed

[2019-07-16 23:00] vatsan-madhavan commented on #1264
Turns out that there is a bug in `Microsoft.NET.Sdk.WindowsDesktop.props` - it fails to correctly initialize `EnableDefaultPageItems`, which in turn prevents the duplicate detection logic for `Page` items from running.

Reactivating this so that we can fix this issue.

[2019-07-16 23:19] rladuca commented on #1063
This seems like something specific to the XPS being displayed or something that has been fixed in Preview8.

I tested this against several XPS documents sitting around in our test code and I was able to display them all without an error on `3.0.100-preview8-013275`.

Can you test against the latest daily build and, if this still reproduces, supply an XPS document that causes the issue to occur?

[2019-07-16 23:30] rladuca commented on #1063
https://github.com/dotnet/wpf/issues/585#issuecomment-503454479 seems to actually have a similar stack in Preview 8.  Using the document from that repro, I get:

[code]

@stevenbrix @vatsan-madhavan We should sync up on what we know from #585.

[2019-07-16 23:37] rladuca commented on #1063
This looks like our initialization of TypeFaces is directly calling into an unsupported part of the new zip implementation.

Take a look at this stack:

[code]

I have a feeling this is going to affect any XPS with local font resources.  That's a pretty basic feature of XPS documents that won't work if we don't figure out some way around this.

[2019-07-16 23:44] rladuca commented on #1063
DeflateStream has [this code](https://github.com/dotnet/corefx/blob/cece0df13a74d188f96b08ae5af0cd4cd60f8f76/src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs#L165):
[code]

[2019-07-16 23:49] vatsan-madhavan commented on #585
@weltkante, @jbartlau, we are still looking into this. @jbartlau's issue (#1063) is helpful.

[2019-07-16 23:56] rladuca commented on #1063
Interestingly enough, we have a test XPS document that has embedded fonts, but the entire archive is a flat structure (the fonts are located in the root of the archive).  This file displays with no issue.

I have to examine what code paths are taken in that instance.

[2019-07-16 23:59] stevenbrix commented on #1063
The workaround here will be fairly straightforward and should follow what I did here: https://github.com/dotnet/wpf/pull/995/files#diff-7b801941d4352acdc7ea9eeaba96fecd

[2019-07-17 00:05] rladuca commented on #1063
@stevenbrix Oh I see, so, for instance, I just need to wrap the stream used [here](https://github.com/dotnet/wpf/blob/ac9d1b7a6b0ee7c44fd2875a1174b820b3940619/src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/FontCache/FontSource.cs#L205) instead of the direct cast?

[2019-07-17 00:50] TempeBrennan commented on #1280
yes, I found Visual Studio is ignoring the attribute with respect to the property window.
I found doc doesn't write support for .NET  Core for this attribute:

please refer:

[AttachedPropertyBrowsableForType support for .net framework](https://docs.microsoft.com/zh-cn/dotnet/api/system.windows.attachedpropertybrowsablefortypeattribute.targettype?redirectedfrom=MSDN&view=netframework-4.8#System_Wi

[2019-07-17 00:54] vatsan-madhavan opened #1289 "Need a way to suppress CS8614 in dev builds"
See https://github.com/dotnet/roslyn/issues/37281 for context

After upgrading to Dev16.2.0 Preview 4 builds, local builds would start failing with CS8614 at [dotnet/wpf:SortDescriptionCollection.cs#L138](https://github.com/dotnet/wpf/blob/ae1790531c3b993b56eba8b1f0dd395a3ed7de75/src/Microsoft.DotNet.Wpf/src/WindowsBase/System/ComponentModel/SortDescriptionCollection.cs#L138)

In order to continue

[2019-07-17 01:22] #1289 closed

[2019-07-17 01:43] ken30096 opened #1290 "Could not find Windows Runtime type Microsoft.Toolkit.Win32.UI.XamlHost.IXamlMetadataContainer"
# Could not find Windows Runtime type Microsoft.Toolkit.Win32.UI.XamlHost.IXamlMetadataContainer

As a proof of concept I am trying to build a simple WPF, C#, .Net Core 3.0 application, using Xaml Islands NuGet packages (Microsoft.Windows.SDK.Contracts and Microsoft.Toolkit.Wpf.UI.XamlHost) and  "Windows Application Packaging Project C#". When I add the following two lines to MainWindow.xaml:

xml

[2019-07-17 04:52] rladuca commented on #1280
@TempeBrennan Thanks!  That makes more sense to me then, I was worried somehow the type had not been picked up from our assemblies.

@grubioe I think this is a designer issue and not a WPF issue.  We might want to move this accordingly during triage.

@chabiss Is this something that designer would be doing or some other VS team?

[2019-07-17 04:54] rladuca commented on #1290
@fabiant3 Who owns Xaml Island support for WPF?

[2019-07-17 06:02] elyoh commented on #1063
@rladuca The xps file does reference fonts on the local system.  It is a print out of an on screen view written in xaml.  I'll get a sample xps file uploaded on Friday.

[2019-07-17 07:14] weltkante commented on #1063
@rladuca these stack traces here from @elyoh and in #585 from @jbartlau look different. One stack trace is a managed NotSupportedException from `DeflateStream.get_Position()` but the other is a HRESULT native exception from `TextInterface.Factory.CreateFontFace`. I'm not sure they have the same root cause, the stack traces sure don't look that way.

[2019-07-17 07:15] weltkante commented on #585
@vatsan-madhavan the stack trace over in #1063 looks different than what @jbartlau reported, one seems to be a native exception and not directly related to the zip archive issue here.

[2019-07-17 07:56] weltkante commented on #316
@vatsan-madhavan not sure whats left to discuss, I think everyone agreed that its a bug. My concern about having to duplicate the code has been addressed by placing the code in a central helper method so it doesn't have to be placed in every site that has commands, I don't think the change is unreasonable.

As far as behavioral changes is happening, this just suppresses a call with incomplete argu

[2019-07-17 09:31] weltkante commented on #948
Not sure what exactly is asked here.

(a) Having a `Children` property on all controls is not great. There are many controls which treat their children as an implementation detail and do not want to expose them to callers.

Besides, there are multiple trees (at least visual and logical, some controls have additional ones) - exposing one of them as property on all controls will pose the question *w

[2019-07-17 13:56] rladuca commented on #1063
@weltkante The second stack I posted is the actual exception stack from loading @jbartlau's file with first chance exceptions turned on.  Loading the font when the font is located within the XPS always tries to access position, assuming it doesn't live in the root of the archive.  Take a look at the offending code in [DeobfuscatingStream](https://github.com/dotnet/wpf/blob/08128b97bedfa40030d30db6

[2019-07-17 14:03] rladuca commented on #1063
@weltkante Ah, I see where I might have conflated the two.  I assumed the font loading path would get hit both ways.  I'll wait for @elyoh's reproduction XPS first.

[2019-07-17 15:01] grubioe commented on #1280
Thanks all.

@TempeBrennan can you log an issue in the Visual Studio Developer Community? It will then be directed to the correct Visual Studio team.
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

Cc: @LyalinDotCom

[2019-07-17 15:01] #1280 closed

[2019-07-17 17:18] fabiant3 commented on #1290
@ryalanms creator the Xaml Islands, any quick ideas?

[2019-07-17 17:28] ken30096 commented on #1290
## Error details after build:<br>
Error	XDG0062	Could not find Windows Runtime type 'Microsoft.Toolkit.Win32.UI.XamlHost.IXamlMetadataContainer'.<br>
Type "IXamlMetadataContainer" not in <https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/tree/master/Microsoft.Toolkit.Win32.UI.XamlHost>

[2019-07-17 17:30] vatsan-madhavan commented on #1290
/cc @ocalvo

[2019-07-17 17:51] vatsan-madhavan commented on #948
I'm reluctant to go down the path of considering `.Children` etc. that serves mainly to expose calls to `VisualTreeHelper` API's.

If there is a _specific_ and _scoped_ addition to [`VisualTreeHelper`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.visualtreehelper?view=netcore-3.0) that is being suggested, we can consider it.

There are always going to be individual use-cases th

[2019-07-17 18:08] ryalanms commented on #1290
@ken30096, everything is working with the most recent .NET core SDK.  I was able to instantiate a WindowsXamlHost instance in markup that hosts a UWP XAML Button.

What version of .NET Core are you testing with?  Is the error inside the button event handler?

[2019-07-17 18:15] jmarolf opened #1297 "Support Class Library project templates"
This is to bring us to experience parity with desktop for WPF on .NET Core 3.0.

On desktop today you can add a class library project to your existing WPF solution and everything will just work. Due to complexities in how Framework References work this will not light up automatically.  Instead we will need a WPF Class library template that has the correct framework references.

[2019-07-17 18:15] ryalanms commented on #1290
But I do see a consistent assert when closing the application window from PresentationFramework's GetDpiAwarenessCompatibleNotificationWindow:

[code]

[2019-07-17 18:16] jmarolf commented on #1297
cc: @diverdan92

[2019-07-17 20:49] ryalanms commented on #1264
Adding a default 'true' for unset `EnableDefaultPageItems` and `EnableDefaultApplicationDefinition` in `Microsoft.NET.Sdk.WindowsDesktop.props` causes MSBuild's `CheckForDuplicateItems` to output the correct error:

C:\Program Files\dotnet\sdk\3.0.100-preview8-013270\Sdks\Microsoft.NET.Sdk.WindowsDesktop\targets\Microsoft.NET.Sdk.WindowsDesktop.targets(21,5): error NETSDK1022: Duplicate 'Page' ite

[2019-07-17 21:40] ryalanms commented on #1264
https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#default-compilation-includes-in-net-core-projects needs to be updated.

[2019-07-17 21:50] vatsan-madhavan opened #1302 "Update documentation for Default Items"
https://github.com/dotnet/wpf/issues/1264#issuecomment-512579451

https://aka.ms/sdkimplicititems should be updated with information about `EnableDefaultPageItems` and `EnableDefaultApplicationDefinition`

Also see https://github.com/dotnet/wpf/pull/1300

/cc @grubioe

[2019-07-17 21:55] ryalanms commented on #1302
These properties are used to determine if xaml files should automatically be added to Page and ApplicationDefinition items.

[2019-07-18 02:08] TempeBrennan commented on #1280
Thanks for respond.
I reported a bug here:
[link](https://developercommunity.visualstudio.com/content/problem/650802/attachedpropertybrowsablefortype-attribute-need-to.html)

[2019-07-18 02:31] marb2000 commented on #1290
Could you copy the Microsoft.Toolkit.Win32.UI.XamlHost.winmd file into the output folder? I think that the file is not copied for some reason.

[2019-07-18 04:59] ocalvo commented on #1290
Please update to the latest version, we fix a bug where the winmd was not getting deployed.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Miguel Ramos <notifications@github.com>
Sent: Wednesday, July 17, 2019 7:31:31 PM
To: dotnet/wpf
Cc: Oscar Calvo; Mention
Subject: Re: [dotnet/wpf] Could not find Windows Runtime type Microsoft.Toolkit.Win32.UI.XamlHost.

[2019-07-18 06:04] marb2000 commented on #1290
I have checked it. The 6.0.0-preview6.4 of Microsoft.Toolkit.Wpf.UI.XamlHost fixed the bug. Thanks @ocalvo

[2019-07-18 10:23] Daniel-Svensson commented on #316
I think a better approach would be to first fix  the behaviour of CommandParameter so that CanExecute is called whenever the parameter is changed. That should also solve the problems described here. Even if CanExecute would be called twice if parameters are in "wrong" order the end result would be the expected behaviour.

The behavior was fixed in silverlight but did never make it back to wpf (for

[2019-07-18 11:13] Simon-IT opened #1305 "Build.cmd fails"
.NET Core SDK (che rispecchia un qualsiasi file global.json):
 Version:   3.0.100-preview6-012264
 Commit:    be3f0c1a03

Ambiente di runtime:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview6-012264\

Host (useful for support):
  Version: 3.0.0-preview6-27804-01
  Commit:  fdf81c6faf

.NET Core S

[2019-07-18 14:29] jantheman commented on #316
I agree with @Daniel-Svensson.

There is no guarantee a caller will use the `ISupportInitialize` anyway, so it's not really solving the real problem. As a consumer, you should not only check whether the argument is null but also whether it's the type you expect.

@vflame I believe the XAML standard specifies the order actually matters.

[2019-07-18 14:31] miloush commented on #316
I agree with @Daniel-Svensson.

There is no guarantee a caller will use the `ISupportInitialize` anyway, so it's not really solving the real problem. As a consumer, you should not only check whether the argument is null but also whether it's the type you expect.

@vflame I believe the XAML standard specifies the order actually matters.

[2019-07-18 14:38] weltkante commented on #316
@miloush this issue is about XAML attribute order and the WPF implementation of the XAML loader does use ISupportInitialize (the interface is implemented on FrameworkElement base class and will always be used when loading from XAML). So I don't think your argument against using ISupportInitialize is valid.

That said I don't mind the alternative solution suggested by @Daniel-Svensson

[2019-07-18 14:50] miloush commented on #316
@welkante XAML loader is not the only way how an element can be constructed. The problem with moving to `ISupportInitialize` is that then you can file similar bug for everything that does not use that interface, rather than fixing it once at the receiving side.

Either way, I think the compatibility favours Daniel's solution (I actually consider it a bug that changing command parameter does not up

[2019-07-18 16:38] ken30096 commented on #1290
## Posted video demo of issue:<br>
The problem continues to exist. I rebuilt the project using Microsoft.Toolkit.Wpf.UI.XamlHost (Preiew 6.0.0-preview6.4) and posted a video. I did this in order to avoid the back and forth so that if you think I am doing something wrong you can point it out. The beginning of the video is a little out of focus but it clears up.<br><br>
[Xaml Islands - Could not fin

[2019-07-18 18:06] grubioe commented on #1267
Hi @Symbai can you log an issue in the Visual Studio Developer Community- it will then be directed to the Designer team.
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

Thanks!

Cc@LyalinDotCom

[2019-07-18 18:06] #1267 closed

[2019-07-18 18:27] stevenbrix commented on #707
@jorisvergeer what's your screen resolution and scale factor? Are you using multiple monitors?

[2019-07-18 18:30] ojhad opened #1307 "Update WPF structs to compute more inclusive hashes"
In CoreCLR, the GetHashCode logic for structs with float/double parameters has changed and now only uses the first field for hash computation (see [this](https://github.com/dotnet/corefx/issues/35613) for more details).
As [recommended](https://github.com/dotnet/corefx/issues/35613#issuecomment-467726210), we should go through these structs to override and implement our own hashes. These new hashe

[2019-07-18 19:00] ocalvo commented on #1290
This is a known issue with WAP projects.
To workaround this you can do any of these options:
1. Run the EXE directly by passing the WAP project.
2. Add the following MSBuild code to your WAP project (BuildPackage):
  - Unload the project
  - Edit the file
  - Add this code:
[code]
  - Reload the project.

[2019-07-18 19:09] vatsan-madhavan commented on #1290
@ocalvo, is there a better repo for this issue?

[2019-07-18 19:30] jorisvergeer commented on #707
@stevenbrix My laptop has 1920x1080 as resulution is uses the default scale factor.
My laotp is of type MSI GF63 8RD

[2019-07-18 19:44] GLantaff commented on #649
Any ETA on getting this fix released? This makes our released software look really bad.

[2019-07-18 19:47] ken30096 commented on #1290
## The workaround worked:<br>
The problem has been resolved using the temporary solution. Please post the link to the original issue so that we can track and get notified when there is a final solution and no longer have to use the temporary fix. This is my first opened GitHub Issue. Do I close it or do you? Thanks Ocalvo for poniting out the workaround solution and to all the other internal devel

[2019-07-18 20:02] ocalvo commented on #1290
Thanks very much appreciated.
We have updated the official documents [here](https://docs.microsoft.com/en-us/windows/msix/desktop/desktop-to-uwp-packaging-dot-net)

[2019-07-18 20:05] #1290 closed

[2019-07-18 20:07] ocalvo commented on #1290
I am working on getting the reference for the WAP issue.

[2019-07-18 20:34] weltkante commented on #649
You are asking on an issue closed as duplicate, there's probably nobody listening on it

/cc @vatsan-madhavan @rladuca @SamBent from #898 which had the fix

[2019-07-18 20:46] weltkante commented on #707
I doubt that its got anything to do with DPI/resolution, that would probably keep aspect ratio and not just stretch the image to the window size. Probably more likely something to do with drivers/hardware. The other issue linked above #319 (closed as duplicate) was also reproduced on an integrated intel chipset.

Doesn't WPF have a way to force software rendering? Goole finds things like [this](ht

[2019-07-18 22:07] rladuca commented on #585
There is a working solution to this in branch, should be PRed later today: https://github.com/dotnet/wpf/tree/dev/roladuca/wrappackagestreams.

In summary, the DeflateStream implementation in System.IO.Compression is a non-seekable stream.  This is returned to PackagePart.GetStream when it is opened as read-only.  In these scenarios, we need to copy out the stream to a MemoryStream in order to be

[2019-07-18 22:45] rladuca commented on #1305
@Simon-IT I can't reproduce this locally (nor due our build servers hit this).

Can you try the following?
* sync to the latest code from master
* git clean -xdf
* taskkill /im msbuild.exe /f
* build

If you are still experiencing this, can you post a binlog (look for `artifacts\log\{configuration}\build.binlog`)?

[2019-07-18 22:46] GLantaff commented on #898
Any idea when this fix will make it to a release? Major pain to get this exception all the time.

[2019-07-18 23:10] SamBent commented on #898
The fix is in .NETCore 3.0 Preview 7, released last week.
For .NET Framework, the fix will be included when .NET 4.8 is released through Windows Update.  There's not a publicly-announced date for that, but it will likely happen within a couple of months.

[2019-07-18 23:34] GLantaff commented on #898
Wow. I wish I knew this fix was that long coming. I could have told our users to not allow update to the Windows 10 1903 (as that is when the .NET update was installed). Our application is pretty sick on 1903.

Is there a way to uninstall the version of .NET framework that has this bug?

[2019-07-18 23:41] vatsan-madhavan commented on #1305
- Re your repo location @ `D:\Sources\Repos\NetFoundation\dotnet\wpf`
  - Please build from a shorter base-path while troubleshooting. Something like `D:\src\wpf` would be ideal - it will eliminate `MAX_PATH` related problems from our radar.
- Please try to post build output in English if it's not too much trouble. We will try to work with machine-translations if you are unable to switch to Englis

[2019-07-19 00:10] SamBent commented on #898
1903 comes with .NET 4.8;  you can't uninstall it.

[2019-07-19 00:39] rladuca commented on #742
I tried this on three different touch screens and I cannot reproduce it.

Something seems to have been fixed since.

As such, closing this out.  Perhaps we will find a repro and re-open, but it seems unlikely.

[2019-07-19 00:39] #742 closed

[2019-07-19 00:40] rladuca commented on #38
@ryalanms I tried this on my local machines and I couldn't reproduce this exact failure.  However, connecting touch after the application has started sometimes fails to initialize.  So there might be a related bug going on here.

[2019-07-19 00:41] ojhad opened #1312 "Fix and re-enable WindowsFormsIntegration failing tests"
**The following tests FAIL on .NET Core and .NET Framework**
/Name="EventOrdering" /SubArea="ElementHost"
/Name="MouseFocus" /SubArea="WindowsFormsHost"
/Name="Dialogkeys" /SubArea="WindowsFormsHost"

**The following tests FAIL on .NET Core but PASS on .NET Framework**
/Name="Async" /SubArea="WindowsFormsHost"

**The following microsuite test variation fails**
/Name="XElementHost" /SubArea="Elemen

[2019-07-19 00:42] rladuca commented on #38
@Yitzchok Sorry for the delayed response, but this particular failure isn't possible in .NET Framework.  It's specific to COM changes we made purely for .NET Core 3.

However, there may be some issues that you are facing on .NET Framework that are exacerbated in .NET Core 3 and might even be the cause of me seeing similar things as I stated above.

[2019-07-19 04:15] vatsan-madhavan commented on #1230
See https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/customizing-extending-my/customizing-which-objects-are-available-in-my

[2019-07-19 04:24] vatsan-madhavan commented on #1230
I'd rather set `MyType=Custom` in the templates now and let the VB runtime catch-up.

[2019-07-19 05:16] nguerrera commented on #1230
Won't that cause a buIld failure? MyType=Custom also implies substantial change to the .vb in the template (compare ton framework template). I don't see the harm in going in steps where more stuff works at each checkpoint.

[2019-07-19 05:17] nguerrera commented on #1230
I replied on GitHub. Unless there's something sensitive, let's continue the discussion there.

________________________________
From: Nick Guerrera <notifications@github.com>
Sent: Thursday, July 18, 2019 10:16:21 PM
To: dotnet/wpf <wpf@noreply.github.com>
Cc: Nick Guerrera <Nick.Guerrera@microsoft.com>; Your activity <your_activity@noreply.github.com>
Subject: Re: [dotnet/wpf] Add MyType to VB WP

[2019-07-19 05:26] vatsan-madhavan commented on #1230
`MyType=Custom` seems to build for me without any failures at this time. That said, it may not help with application ports immediately.

My concern with `MyType=Console` is twofold.

First is that that it might potentially expose functionality that doesn't exist (i.e., is not expected to exist) with `MyType=Custom`. Maybe my worry is baseless.. and `Console` is a strict subset of `Custom` used by

[2019-07-19 05:29] nguerrera commented on #1230
Ok. I don't know enough about the implications here. + @cston

[2019-07-19 05:31] nguerrera commented on #1230
My understanding was that Console is what would work in 3.0 and the remaining parts of the runtime were for 3.1, but I may have misunderstood.

[2019-07-19 05:35] nguerrera commented on #1230
Since we're opting to do this in a template and not via magic targets, it won't be breaking if it causes something to be available that won't be in the final template because template changes won't be applied to existing projects.

[2019-07-19 06:11] jbartlau commented on #585
Thanks @rladuca, can confirm the workaround is viable, will test the fix once it becomes available in one of the next previews then.

[2019-07-19 06:53] vsfeedback opened #1314 "[WPF] BindingListCollectionView ignores item replace"
<p><strong>Disclaimer:</strong> I know that <em>ObservableCollection&lt;T&gt;</em> is the recommended collection type for bindings. Still, if a collection implements both <em>INotifyCollectionChanged</em> and <em>IBindingList</em> interfaces (such as <a href="http://docs.kgysoft.net/corelibraries/?topic=html/T_KGySoft_ComponentModel_ObservableBindingList_1.htm" target=_blank>ObservableBindingList&

[2019-07-19 07:59] Simon-IT commented on #1305
ok, thank you guys. I'll do it.

[2019-07-19 10:32] Simon-IT commented on #1305
After has follow your suggestions, the situation is very better. Remains only 1 error compiling WindowBase project:

[...]
System.Xaml -> D:\Sources\Repos\NetFoundation\dotnet\wpf\artifacts\bin\System.Xaml\Debug\netcoreapp3.0\System.Xaml.dll
  WindowsBase-ref -> D:\Sources\Repos\NetFoundation\dotnet\wpf\artifacts\bin\WindowsBase-ref\Debug\netcoreapp3.0\WindowsBase.dll
_**System\ComponentModel\Sort

[2019-07-19 13:38] Ruedii commented on #48
The only reason I'm interested in cross platform WPF is to make it easier
to port applications already using it.  I have little interest in using it
on my own projects because other GUI frameworks with far better cross
platform support exist.

That said there are several portable versions of Direct3D, Direct Draw,
GDI+ and most other APIs. I think Microsoft is just too proud to go from
sueing thes

[2019-07-19 13:59] elyoh commented on #1063
Here is a sample xps file which leads to the error.

[2069bGRVwEKTGite3tlNJw.zip](https://github.com/dotnet/wpf/files/3411308/2069bGRVwEKTGite3tlNJw.zip)

I tried using the same file in 3.0.100-preview8-013330 and received the same error.

[2019-07-19 14:15] rladuca commented on #1063
@elyoh Thanks!  I'll have a look today and see what I can figure out.

[2019-07-19 14:59] vatsan-madhavan commented on #1305
This is https://github.com/dotnet/roslyn/issues/37281. You’ll need to update VS to recover.

[2019-07-19 16:06] stevenbrix commented on #1052
This has been completed with this internal PR: https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/2195?_a=overview

[2019-07-19 16:06] #1052 closed

[2019-07-19 16:06] stevenbrix commented on #1051
This has been completed with this PR: https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/2195?_a=overview

[2019-07-19 16:06] #1051 closed

[2019-07-19 16:13] stevenbrix commented on #1054
The following tests were fixed with this internal [PR](https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/2195?_a=overview):

- DrtXpsApi
- DrtDigitalSignature
- DrtPackagingApis

The following tests were removed since they tested functionality inside WPF that no longer exists with this [commit](https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/commit/7848ba5785c68123d

[2019-07-19 16:39] Simon-IT commented on #1305
Sorry but I've installed VS 2019 Preview 16.2.0 Preview 4, the last available from Microsoft size. Where can I find the 16.3 as you have mentioned in dotnet/roslyn#37281 ?

[2019-07-19 16:43] vsfeedback opened #1320 "WPF Window Fails to Redraw Contents in Areas on Win10 with Two Monitors"
<p>I am going to post this link here to the original post on stackoverflow:</p><p><a href="https://stackoverflow.com/questions/54961745/wpf-window-fails-to-redraw-contents-in-areas-on-win10-with-two-monitors" target=_blank>https://stackoverflow.com/questions/54961745/wpf-window-fails-to-redraw-contents-in-areas-on-win10-with-two-monitors</a></p><p>Now I will duplicate the above post for those that

[2019-07-19 16:46] vsfeedback opened #1321 "System.Windows.Data.BindingExpressionBase.JoinBindingGroup throws exception"
In our code we invoke bg.BindingExpressions.Add(expression)<br><br>('bg' is of type System.Windows.Data.BindingGroup, and 'expression' is of type BindingExpressionBase or a subclass)<br><br>We are finding that this sometimes throws System.InvalidOperationException &quot;The binding expression already belongs to a BindingGroup; ...&quot;<br><br>even though the expression's BindingGroup property is

[2019-07-19 17:24] #585 closed

[2019-07-19 17:51] vatsan-madhavan commented on #1305
@jcouv, @agocke, can you hep @Simon-IT Please?

[2019-07-19 18:30] zezba9000 commented on #48
DirectDraw lol? WPF for Win95 here we come!

[2019-07-19 20:50] vatsan-madhavan commented on #1305
Please  follow https://github.com/dotnet/roslyn/issues/37281 for resolution. I'm closing this since the WPF specific issues are resolved and the open issues are Roslyn specific that we cannot resolve directly.

[2019-07-19 20:50] #1305 closed

[2019-07-19 21:02] rladuca commented on #1063
@elyoh @weltkante This actually turned out to be the same error, just caught in a slightly different manner.

When running with my recent fixes for #585, the document displays correctly.

![image](https://user-images.githubusercontent.com/20006987/61565226-42a6f900-aa2d-11e9-9aef-eaf56a558566.png)

When running without those changes, I get the same error on accessing DeflateStream.Position.  The d

[2019-07-19 21:09] rladuca commented on #1063
Dupe of #585

[2019-07-19 21:09] #1063 closed

[2019-07-19 22:19] grubioe commented on #439
@LyalinDotCom , @chabiss - can you review this issue, it seems to be related to the VS UI Debugging tools.

Thanks!

[2019-07-19 22:24] grubioe commented on #1196
@LyalinDotCom - this seems to be related to VS Designer.

[2019-07-19 23:23] #1297 closed

[2019-07-19 23:45] rladuca commented on #856
Both of these suites are currently passing on `3.0.100-preview8-013348`.  This bug is no longer relevant.

[2019-07-19 23:45] #856 closed

[2019-07-20 02:56] walterlv opened #1323 "All WPF applications fail to drag outside of their windows since Windows 10 (1809/1903) such as resizing the window or do drag drop"
* .NET Core Version: 3.0 Preview6
* Windows version: 10.0.18362.116 (1903); 10.0.18941.1001 (Insider Preview)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

All WPF applications fail to drag outside of their windows since Windows 10 (1809/1903) such as resizing the window or do drag drop. I find that most computers don't have such a bug but I also fin

[2019-07-20 07:04] ghost1372 opened #1324 "Project Template error in .NetCore 3"
* .NET Core Version: 3.0 Preview6
* Windows version: 18362.239
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
Hi, I've created a project template for netcore3 that includes a package
I added the package this way:
[code]
 **Actual behavior:**
 Now, when I create a project with this template, I get the error
![Untitled](https://user-images.githubuserconte

[2019-07-20 07:17] HADDADENICAR commented on #1196
@grubioe  that work with wpf(.net framework) so i don't think it's about vs 2019

[2019-07-20 07:50] Ruedii commented on #48
You seem pretty overconfident and lacking of full understanding of Win32/Win64 underlayer.   Don't worry, it's common when you just trust Microsoft and don't look behind the curtain of the front layer APIs like WPF.

The DirectDraw API is still part of DirectX API.  It's non-depreciated subset was greatly reduced in version 8 and 9, and packaged together with Direct 3D.

It provides 2D vector and

[2019-07-20 08:07] zezba9000 commented on #48
Lol ya um no. Its pretty thick you didn't get the joke (which is how I intended it NOT as an attack).
I've used just about every rasterizing API there is. Also your GL statement is a false premise for a proper platform agnostic rendering abstraction API layer. I don't trust MS to do this right and is why I'm working on portable C# APIs that help solve issues like you brought up. O and guess what D

[2019-07-20 08:40] thomasclaudiushuber commented on #1231
I just came across the same error with this simple TextBox:

[code]
When you click in it, I get the same error with system language set to German. I try now Preview 8.

[2019-07-20 09:01] thomasclaudiushuber commented on #1231
@vatsan-madhavan @tarekgh
Ok, I was able to reproduce this bug on Preview 6 (with the snippet from my previous post), then I've installed the latest SDK and runtime, which is Preview 7, and the bug is gone.

So, this is the preview version I've installed now, and the error is not reproducable anymore:

![image](https://user-images.githubusercontent.com/7116546/61576706-86f1d200-aadd-11e9-933e-8894

[2019-07-20 10:23] Mrxx99 commented on #1231
@tarekgh @vatsan-madhavan: Can confirm that this is fixed in preview 8.

[2019-07-20 10:33] mgnslndh commented on #1323
I have observed the same behavior when resizing the window as well as dragging the window by the title bar.

[2019-07-20 11:39] koszeggy commented on #1314
Thank you for migrating and handling my issue report!

[2019-07-20 14:06] rladuca commented on #1196
@HADDADENICAR A lot of the features that VS applies to .NET Framework are not necessarily automatically inherited by .NET Core projects just because they work in framework.  When looking at things like this, it's best to have VS confirm that certain features should be working within the current state of the designer for .NET Core and go from there.

[2019-07-20 14:08] rladuca commented on #1307
@ojhad You marked this Future, do you see any problems arising from this that would potentially need resolution prior to GA?  Should this be a 3.0 work item?

[2019-07-20 18:12] tarekgh commented on #1231
@vatsan-madhavan can help confirming the fix.

[2019-07-20 20:16] vegardlarsen opened #1327 "MSB4094 when publishing WPF app with PublishReadyToRun and PublishTrimmed"
* .NET Core Version: 3.0.100-preview6-012264
* Windows version: Windows 10 version 1903 (OS Build 18362.239)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: N/A

 **Problem description:**

When creating a blank WPF app, and setting PublishTrimmed and PublishReadyToRun, you will get a MSB4094 error when publishing the app.

 **Actual behavior:**

[code]

 **Minimal repro:**

[code]

M

[2019-07-21 09:22] weltkante commented on #1231
It's a known bug which was fixed in #919 and went into preview7 pretty early, so the bug in preview6 got a lot exposure. There are plenty of (closed) duplicate issues around.

[2019-07-21 17:11] mgnslndh commented on #1323
[Markus Eisenstöck][1] found a [work around][2] for this issue. By disabling the tablet support in WPF you will experience the expected behavior. I have tested and it works on my machine (Windows 10 version 1903 & .NET Framework 4.6.2):

[code]

  [1]: https://developercommunity.visualstudio.com/users/168226/2d17acf3-c394-48a8-bd98-36616ae17475.html
  [2]: https://developercommunity.visualstudio.c

[2019-07-21 19:35] ken30096 opened #1328 "Xaml Islands - 'Windows.UI.Xaml.Markup.XamlParseException'"
# Xaml Islands - 'Windows.UI.Xaml.Markup.XamlParseException'
Using the following Microsoft documentation - "WindowsXamlHost control for Windows Forms and WPF", I am attempting to complete the following exercise: [Add a custom UWP control](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/wpf-winforms/windowsxamlhost#add-a-custom-uwp-control). After carefully following the document

[2019-07-21 23:03] Sammmmm opened #1329 "ResourceDictionary.ThemeDictionary appears to be missing in WPF core"
I don't know if this is on the roadmap, but it's a really nice to have feature for styling WPF applications.

[2019-07-22 00:54] lindexi commented on #1328
Could you clean your obj and bin folder and then restore and rebuild it? I will find sometimes rebuild can fix the xaml parser exception.

[2019-07-22 03:11] walterlv commented on #1323
@mgnslndh Thanks for your solution and it helps some WPF applications works find just as other non-WPF applications. But this issue affects all WPF applications in a Windows 10 including Visual Studio, so it should be fixed in WPF framework or Windows 10.

[2019-07-22 17:07] thomasclaudiushuber commented on #1329
Hi @Sammmmm ,

thanks for your issue!

I just add a few bits to this issue for us all:
ResourceDictionary.ThemeDictionary  was never in WPF. It is not only missing in .NET Core, it is also missing in .NET Framework, and it was never there. :-) ResourceDictionary.ThemeDictionary is UWP-specific, the docs are here: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.resourcedictionary.themedict

[2019-07-22 17:09] rladuca commented on #1323
Do not use private reflection to disable stylus and tablet support in WPF.

Instead, you can use [this AppContext switch](https://github.com/microsoft/WPF-Samples/blob/6cd516318c2d6bfa2259fce65da78002fe90a0cc/Compatibility/runtimeconfig.template.json#L39).

[2019-07-22 18:27] marb2000 commented on #1329
@thomasclaudiushuber Yes,  ResourceDictionary.ThemeDictionary is part of WinUI 3.0
@Sammmmm I recommend opening a feature request for this: https://github.com/dotnet/wpf/issues/new?template=feature_request.md

[2019-07-22 18:40] rladuca commented on #1323
@grubioe I'm going to take this in light of some investigations I am doing into the same bug as reported internally on .NET Framework.  I'm going to leave this unassigned for the time being so we pick it up in triage.

[2019-07-22 18:41] rladuca commented on #1323
@mgnslndh By the way, regardless of reflection vs the switch, thanks for your work in finding this out.  It helps to pinpoint where some things might be going wrong.  I have a strong feeling that something changed in the latest versions of Win10 and that messages we would normally receive are being "eaten" by WISP in the delegated input thread that it spawns to intercept WM_POINTER.  I'll be looki

[2019-07-22 19:25] stevef86 commented on #1041
Hi @SamBent,

Dan and I have been working on this, I'm attaching a simplified (as much as we could get it) example.

I also included some videos of a before and after I was able to reproduce using the sample on a clean virtual machine.

[WPFDGIssuesRev1.zip](https://github.com/dotnet/wpf/files/3418901/WPFDGIssuesRev1.zip)

As far as the videos go, there are two MP4s,

BEFORE_UPDATE.mp4 was run wit

[2019-07-22 19:42] SamBent commented on #1041
@stevef86 @DanielPramik - Thanks for the repro.  I tried it on my machines, and it works correctly (as in your "before" video).  This suggests that the root cause has already been fixed;  if so, the fix will appear soon in a servicing update.   It will take further study to identify which fix solves your problem and which update contains the fix, but I wanted to reassure you right away that help i

[2019-07-22 19:45] DanielPramik commented on #1041
@SamBent  Thank you for the quick response. We'll keep an eye out for updates and let you know what we see.

Thank you!
Dan

[2019-07-22 21:08] rladuca commented on #1323
I've confirmed that `WM_MOUSEMOVE` messages are not making it to the message loop in this situation when WISP is loaded in Win10 May 2019 Update.

With touch turned off, we seem to get normal mouse messages as expected.

I'm debugging into WISP now to understand if it is receiving all the messages and what it is doing with them.

[2019-07-22 21:42] ojhad opened #1333 "Remove Test Repo dependency on System.Security.Permissions.dll"
After [this effort](https://github.com/dotnet/wpf/issues/241) was completed, we now want to do the same for our internal test repo (test code, infrastructure, etc) in order to be completely rid of System.Security.Permissions.dll.

[2019-07-22 22:02] rladuca commented on #1323
I found out some more.

* If you run a WPF application on a non-touch machine (say just disconnect a touch screen) and you connect a touch screen later, it all seems to work fine.
* If the screen is connected at app startup, the behavior repros.
 * If you then disconnect the screen and wait some time, the behavior is fixed.

This seems to indicate to me that there is some installed hooks from WISP

[2019-07-22 22:28] vatsan-madhavan commented on #968
Moving to P9 since this will be a large/complex PR.

[2019-07-22 22:49] grubioe opened #1334 "Window issue with two monitors when "show window contents while dragging" is disabled"
@Kryptos-FR commented on [Thu Nov 10 2016](https://github.com/microsoft/WPF-Samples/issues/37)

Hello,

The recent DPI support in WPF (starting with .Net 4.6.2) is really nice. It helped us improve a lot our application.

However when moving a window from a monitor to another with a different DPI, the rendering is broken when the system advanced option *show window contents while dragging* is disa

[2019-07-22 23:01] grubioe opened #1335 "EditBox doesn't work well standalone"
@nick2893 commented on [Tue Jul 16 2019](https://github.com/microsoft/WPF-Samples/issues/95)

I propose to split up EditBox.cs into two halves, first of which works without GridView View requirement as the following.  Second half would inherit the first.

Sorry, new to GitHub, not sure how this works.

using System.Windows.Controls;

using System.Windows.Input;

using System.Windows;

using System

[2019-07-22 23:31] ken30096 commented on #1328
## Clean object and bin folder - failed:<br>

I used the following StackOverflow article as a guide on [How to clean Visual Studio bin and obj folders](https://stackoverflow.com/questions/1088593/how-to-clean-visual-studio-bin-and-obj-folders)  I unloaded UWPClassLibrary.csproj and added the following code just before the last statement:

[code]
<p>
and reloaded the project. I right-clicked on the

[2019-07-22 23:54] arpitmathur commented on #349
This has been fixed in PR 2067 in wpf-int.

[2019-07-22 23:54] #349 closed

[2019-07-23 00:12] vatsan-madhavan commented on #634
slip to P9

[2019-07-23 00:38] chenyj796 opened #1336 "Window.ShowDialog sometimes blocks several seconds when there is a task frequently update UI"
* .NET Core Version: Preview5
* Windows version: 版本6.1 (内部版本 7601：Service Pack 1)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
 I have a Window to display high frequency market data.
I use Dispatcher.InvokeAsync(... , DispatcherPriority.Background) to update the UI.
Sometimes if I click some button to show a dialog window, it will block the whole app

[2019-07-23 01:17] ojhad opened #1338 "Investigate whether ValueType.Equals() can have issues when Pack=1 is not set"
Investigate whether ValueType.Equals() will have problems when `pack=1` is not set for the struct that is mentioned in this comment:
https://github.com/dotnet/wpf/pull/1308#discussion_r305087473

[2019-07-23 01:26] #848 closed

[2019-07-23 01:28] #1132 closed

[2019-07-23 03:24] grubioe commented on #1302
@mairaw & @Thraka - is this something that you can help with (updating documentation)?

[2019-07-23 04:07] M1991 opened #1340 "WPF Datagrid column merge and data trim"
* .NET Version: v4.7.2 ( Preview1, or daily build number, use `dotnet --info`)
* Windows version: windows 10 (1903)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes/No

 **Problem description:**
 I am developing a windows form with data grid, which pulls data from a database and binds the data to a data grid (The number of rows changes as per a unique id and 5 fixed columns). The

[2019-07-23 04:39] zwcloud opened #1341 "[Request] Open source C++ projects even if it doen't compile or integrates with C# projects."
I want to **learn**:
* How WPF rendering?
* How WPF layout complex text paragraph?

Almost all these underlying implementations are written in native C++ projects, for example, milcore.dll and [Line Services](https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/PresentationCore/MS/internal/TextFormatting/LineServices.cs).

To learn from these, one don't need a compile-able vcxpro

[2019-07-23 06:41] MattHyman opened #1344 "[Question]Does WPF support displaying HDR images?"
Does WPF support displaying HDR images? Specifically does it support displaying JXR images as bitmaps in the application? Do any manifest changes need to be made to enable this?

[2019-07-23 09:23] xianyun666 opened #1345 "Wpf app KERNELBASE.dll error in windows7 x86，winform app normal run."
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Windows version: (`winver`)
 windows7 x86
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes/No
No

 **Problem description:**
 Virtual machine installation of the new system windows7 x86.
 KB2533623 have been installed successfully.KB2999226 was not installed because I published a separate deploym

[2019-07-23 09:27] YunWeiaa opened #1346 "WPF for VB build failed with error BC2017: could not find library 'Microsoft.VisualBasic.dll'"
* .NET Core Version: 3.0.100-preview8-013392
[code]
* Windows version: windows 10 1809 17763.437

 **Problem description:**
 Create a WPF app via CLI. Build
[code]

 **Actual behavior:**
 Dotnet build failed with error BC2017: could not find library 'Microsoft.VisualBasic.dll'
![image](https://user-images.githubusercontent.com/33921754/61700175-dac71a00-ad6e-11e9-8055-a7d4872940ce.png)

 **Expecte

[2019-07-23 09:57] YunWeiaa commented on #1346
Note: WPF for c# build and run successfully.

[2019-07-23 14:58] Thraka commented on #1302
Yes, can you file an issue in our repo?

[Click here to create new issue linked to the article](https://github.com/dotnet/docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F%20GitHub%20issue%20linking.*%0A%0A*%20ID%3A%20cb4428fc

[2019-07-23 15:08] Thraka commented on #1302
Also, do you document all of the MSBuild options WPF projects use? Gathering this information would up tell the story correctly in our repo.

[2019-07-23 15:55] stevef86 commented on #1041
Thanks Sam, we appreciate the update

[2019-07-23 16:39] grubioe opened #1350 "MAS Accessibility Testing Bugs"
Catch all Issue to Track MAS-Accessibility bugs for .NET Core 3 Sample Apps.

List can be found via [AzDO query](https://devdiv.visualstudio.com/DevDiv/_queries/query/?tempQueryId=0ab38350-4eee-4cbe-9440-bc048b5d6265)

ID | Title
-- | --
947059 | A11y_.NETCore3.0(WPFandASP.NETCore)_WPFBrush_SolidColorBrush-Animation_Keyboard:   Inactive element receives keyboard focus while navigation.
947071 | A1

[2019-07-23 17:24] rladuca commented on #1323
Using OSGVSO bug 21846686 to track.

[2019-07-23 17:33] rladuca commented on #1350
IMO, a catch all does not seem appropriate for these.  Each bug is going to have its own PR and progress should be tracked by issues opening and closing.  External contributors/customers will not be able to easily track and understand these issues.

These sorts of merged bugs might be fine for test issue investigations because that code is not product code and has no external effect.  Even in that

[2019-07-23 18:16] grubioe commented on #1327
@jeffschwMSFT - do you know where this should be routed to?  Thanks

[2019-07-23 18:18] jeffschwMSFT commented on #1327
Please route to dotnet/coreclr

cc @fadimounir

[2019-07-23 18:32] grubioe commented on #1346
This will succeed with build 3.0.100-preview7-012821.  Can you try with this build?  Thanks

[2019-07-23 19:07] dagood opened #1351 "After branching for 5.0, increase the version of WindowsBase to fix incorrect conflict resolution"
In Core-Setup, we're trying to pack up 3.0 WPF assets to deliver as a 5.0 WindowsDesktop shared framework, and hit problems with WindowsBase.dll versioning: https://gist.github.com/dagood/5f328e6148acd7cc8ee1afcc6c60f814.

Basically, CoreFX produces a 5.0 WindowsBase.dll, which wins against WPF's 4.8 WindowsBase.dll, causing conflict resolution to favor CoreFX's--which isn't supposed to happen.

T

[2019-07-23 19:32] ericstj commented on #1351
To be clear about versions here.  AssemblyVersion from corefx is 4.0.0.0, fileversion is 5.a.b.c.

My expectation is that when WPF reversions for 5.0 it will bump AssemblyVersion to 5.0.0.0 and we'll no longer need to worry about synchronizing fileversion anymore.

[2019-07-23 20:07] #1327 closed

[2019-07-23 20:07] grubioe commented on #1327
Issue moved to [dotnet/coreclr #25846](https://github.com/dotnet/coreclr/issues/25846) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-23 20:08] grubioe commented on #1327
Thanks Jeff!

[2019-07-23 20:29] grubioe commented on #1328
Moving to Microsoft.Toolkit.Win32 Repo

https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/148

[2019-07-23 20:29] #1328 closed

[2019-07-23 20:54] ken30096 commented on #1328
grubioe, I noticed that the issue that I opened has been closed without a resolution. I see where you have provided a [link](https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/148) indicating that it was moved but when I click on that link it takes me to a clone of the same issue that I opened but with a different issue number (148), which is also CLOSED! Please let me know what's h

[2019-07-23 21:11] grubioe commented on #1328
I'm seeing the issue open in the Win32 repo:

https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/148, can you check that you are on the Win32 repo?

Thanks

[2019-07-23 21:14] azchohfi commented on #1328
.NET Framework WPF projects cannot instantiate Managed UWP controls. You can only use managed UWP custom controls within a .NET **Core** WPF or WinForms app.

[2019-07-23 22:38] #791 closed

[2019-07-23 23:10] #1015 closed

[2019-07-23 23:10] arpitmathur commented on #1015
Fixed in #1278

[2019-07-24 00:04] ken30096 commented on #1328
I tested this issue on 3 platforms:<br>.Net Framework 4.7.2<br>.Net Framework 8<br>.Net Core 3.0<br>. Each time I got the same error! I created a [video](https://www.youtube.com/watch?v=0fMxGrkHuHg) of the exercise using .Net Core 3.0 (minute 01:04) and the subsequent error (minute 16:57). Before I opened this issue, I tried very hard to make certain it was an issue.

[2019-07-24 00:11] vatsan-madhavan commented on #1351
Until WPF forks, wouldn't it make sense to force-back corefx's WindowsBase down to 4.0.0.0 temporarily ?

[2019-07-24 00:13] vatsan-madhavan commented on #1346
Create a `global.json` for your app using `dotnet new globaljson --sdk-version 3.0.100-preview7-012821` and build against that.

If you don't have that SDK, you can install it using the scripts at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script.

[2019-07-24 00:17] vatsan-madhavan commented on #1346
Marking as a tracking-issue, and opened an issue at https://github.com/dotnet/sdk/issues/3450.

[2019-07-24 00:23] rladuca commented on #1262
All this moving around has the bot confused.

In any case, I'm going to close this issue out since we can't reproduce this at the current time.

@onovotny If you see this crop up again, feel free to open another issue.

[2019-07-24 00:23] #1262 closed

[2019-07-24 00:44] vatsan-madhavan commented on #1199
We had some more discussion internally with @GrabYourPitchforks , and have decided to hold this for .NET Core 3.0 timeframe.

There is some hardening of deserialization in place since .NET Framework (https://github.com/dotnet/wpf/issues/1132), and we will be removing `BinaryFormatter `uses in .NET 5(https://github.com/dotnet/wpf/issues/1131).

We will revisit whether directly addressing `ObjectDat

[2019-07-24 03:27] vsfeedback opened #1360 "Visual Studio 2019 Crashing, as soon as RDP Connects"
Not sure if it only crashes when window is active or not. Also not sure if having Windows Taskbar to the right makes a difference. Using RDP full screen.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/649452/visual-studio-2019-crashing-as-soon-as-rdp-connect.html
VSTS ticketId: 948312_
_These are the original issue comments:_

Visual Studio Feedback Sy

[2019-07-24 05:43] ericstj commented on #1351
Not worth it since no one should be trying to consume the WindowsDesktop SDK coming out of core-setup master.

[2019-07-24 06:06] weltkante commented on #1360
I assume there's a private stacktrace attached to the vsfeedback which points to WPF being responsible for the VS crash? Otherwise it makes no sense that this ends up in the WPF repo ...

[2019-07-24 07:43] davkean opened #1362 "Build intermittently fails due to missing generated source files"
* .NET Core Version: Version: 3.0.0-preview7-27902-19
* Windows version: 18362.239

 **Problem description:**
We've been intermittently hitting build failures in recent builds due to files usually generated by the XAML compiler missing. It will fail one time and immediately succeed next build and then won't fail against for a couple of hours. Multiple folks have started hitting it.

I happened to

[2019-07-24 07:44] davkean commented on #1362
tag @drewnoakes

[2019-07-24 08:13] thomasclaudiushuber opened #1363 "XpsDocumentWriter.Write fails with NotSupportedException"
* .NET Core Version: 3.0.100-preview8-013410
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
 XpsDocumentWriter.Write fails with NotSupportedException with the message _"This stream from ZipArchiveEntry does not support seeking."_

 **Actual behavior:**
Message:
    System.NotSupportedException : This stream from ZipArchiveEntry d

[2019-07-24 08:30] weltkante commented on #1363
Related to #585 and PR #1311 - you may want to retry with [nightly builds](https://github.com/dotnet/core/blob/master/daily-builds.md) of preview8 - but I don't think your case is actually fixed yet, since the PR was mostly about reading streams, not writing them.

[2019-07-24 08:42] thomasclaudiushuber commented on #1363
@weltkante Thanks for linking. I've downloaded already the latest nightly build, but it's not fixed yet.

Yes, PR #1311 looks like it is fixing it. Let's see.

[2019-07-24 08:44] weltkante commented on #585
Writing streams may need another look, wrapping them in MemoryStream needs special care to ensure the writes actually make it to the original stream and aren't lost when disposing the MemoryStream.

(Related to #1363 which is an example for actually writing and got me thinking about this case!)

[2019-07-24 08:47] weltkante commented on #1363
@thomasclaudiushuber does this still throw in nightly preview8 or just drops data silently? If it still throws I may want to open a second issue for revisiting PR #1311 because I think it doesn't handle wrapping writable streams correctly.

[2019-07-24 09:09] thomasclaudiushuber commented on #1363
@weltkante I just tried it again. It throws exactly the same exception on preview8-013410. I've updated the preview version in the issue to that version.

[2019-07-24 09:17] weltkante opened #1364 "Revisit Seekability of writable zip streams"
In PR #1311 (issue #585) writable streams get wrapped in a memory stream. It is unclear from the PR source how the written data will be propagated to the actual zip stream. Since this was noticed after the PR merged I'm opening a separate issue to revisit the handling of writable streams.

Related: issue #1363 apparently still has call sites which do not get wrapped

[2019-07-24 10:20] thomasclaudiushuber opened #1366 "WinForms Interop: XamlParseException on .NET Core"
* .NET Core Version: 3.0.100-preview8-013410
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
Creating a WinForms DataGridView in WPF XAML throws XamlParseException on .NET Core. This happens for the DataPropertyName property of the DataGridViewTextBoxColumn:

[code]

 **Actual behavior:**

System.Windows.Markup.XamlParseException

[2019-07-24 17:30] rladuca commented on #1360
Internally this was called out as related to #1198 .

@vatsan-madhavan I wasn't able to find the associated stacks and dumps on the internal tickets, so I don't feel comfortable duping this immediately.  We can talk in triage.

[2019-07-24 17:45] rladuca commented on #1364
@weltkante

This is not an issue as PackagePart.GetStream will return seekable streams when the stream is writeable.
 The extension method GetSeekableStream already handles this case and will merely forward a seekable stream upward to the caller.

This is the reason that the workaround is to open your package as writeable.

[2019-07-24 17:54] rladuca commented on #1363
I'll look at this in the context of the broader discussion about the seekability change.

From the testing we did on the backend, it looked like everything was fine with the passthrough, but perhaps we missed a scenario.

[2019-07-24 18:18] grubioe commented on #1264
Closing as documentation issue is being tracked separately.

[2019-07-24 18:18] #1264 closed

[2019-07-24 18:35] weltkante commented on #1364
I see, though #1363 still produced a non seekable stream for writing, so I worry that it can also happen in GetSeekableStream and pass through undetected, silently dropping data. This worry might be unfounded since we don't yet know the root cause of #1363 but it might be worth adding checks to ensure that GetSeekableStream never creates a MemoryStream wrapper when opening something as writable. M

[2019-07-24 18:49] #1350 closed

[2019-07-24 18:49] vatsan-madhavan commented on #1346
https://github.com/dotnet/sdk/pull/3456

[2019-07-24 19:00] #948 closed

[2019-07-24 20:13] rladuca commented on #1364
I am entirely sympathetic to the more cautious approach.  I'm going to root cause #1363 and figure out where that sits in relation to the changes.

I think your suggestion on testing write vs. seekability is a reasonable one and I'll leave this open as a conduit for potentially changing it.

[2019-07-24 20:16] rladuca commented on #1364
@weltkante Be aware that I am not assigning this just yet, I'll let our normal triage process pick it up since by then I'll have more info.

[2019-07-24 20:40] rladuca commented on #1363
I just dipped into this and it looks like there are some parts of the code in ReachFramework that were missed when wrapping the GetStream functions in #1311 .

In light of @weltkante's comments I want to make 100% certain that these parts can use the same extensions without breaking.

[2019-07-24 21:48] grubioe commented on #1324
Hi @ghost1372  can you log an issue in the Visual Studio Developer Community- it will then be directed to the right Visual Studio team.
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

Thanks!

[2019-07-24 21:48] #1324 closed

[2019-07-24 23:47] cbaysinger opened #1374 "Applying Style to a custom control masks control's template"
* .NET Core Version: 3.0.0-preview6-27804-01
* Windows version: 1809 (OS Build 17763.615)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No
**Problem description:**
Custom controls with locally applied styles are not rendered.
 **Minimal repro:**
Add a custom button control to a window and run the application. The button appears as expected and the "Live Visual Tree" shows the vario

[2019-07-25 10:20] sibille opened #1378 "Windows Template Studio + WPF with .NET Core 3.0 templates - Feedback request"
From **Windows Template Studio** we are looking into adding new project templates for **WPF with .NET Core 3.0** generation.
If you're not familiar with Windows Template Studio head over to http://aka.ms/wts and check out our repo, WTS is a Visual Studio extension that accelerates the new project experience for UWP.

Based on our feedback sessions at Build 2019, telemetry and conversations with th

[2019-07-25 11:49] weltkante commented on #1378
Looks good to me, that covers pretty much what I would expect to use myself.

[2019-07-25 14:18] MrPurple6411 commented on #707
Just as a bit of extra info... I am running a MSI GL73 8RC so pretty close to OP's computer and I am having this same issue using version 2.2.401 skd and 2.2.6 runtime.   I think it might be a graphics driver issue but at the same time it happens when I force it to run on the gtx 1050 as well as the intel integrated chip.   All drivers are current and up to date.

[2019-07-25 14:21] pavelovcharov opened #1379 "Two-way binding modifies value of read-only property"
* .NET Core Version: 3.0.100-preview7-012821
* Windows version: 1903 (18262.53)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
The two-way binding now changes properties with non-public setters. Is this the expected behavior? .NET Framework 472 throws InvalidOperationException, when you're trying to set two-way binding to read-only property:
[code]

 **

[2019-07-25 17:05] shaggygi commented on #1378
@sibille This is a great start.  Will this be based on current bits of WPF with Core 3?  And will there be a future transition to utilize controls/packages coming in WinUI 3.0 overtime?  Thx

[2019-07-25 17:06] alvinashcraft commented on #1378
That sounds like a pretty good v1 to me as well. Adding pages with 3rd party controls like Charts or Grids can come later.

[2019-07-25 17:34] rladuca commented on #1363
Nothing in this repro goes through the extension functions as far as I can tell.  This actually may be a bug within packaging.
[code]

WPF is asking for a `PackagePart` to be opened `FileMode.Create`.  `ZipPackagePart` eventually attempts to do the following specifically for `FileMode.Create`:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.IO.Packaging/sr

[2019-07-25 17:45] rido-min commented on #1378
there will be any themes available in this release?
Why restrict to WPF con .NET Core? Almost everything should be compatible with WPF on .NET FX, unless you use C#8 features

[2019-07-25 18:01] rladuca commented on #1363
`ZipArchiveEntry.GetDataCompressor` created a new `DeflateStream` which is then wrapped, along with the original stream, by `CheckSumAndSizeWriteStream`.
https://github.com/dotnet/corefx/blob/78589e4d2c98bf71cefa4dbc94cde3783b60a934/src/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs#L600

`CheckSumAndSizeWriteStream` is never seekable and doesn't support `SetPosition`:
https://

[2019-07-25 18:07] mrlacey commented on #1378
The goal is to help people building new apps and encourage the use of new features by making it easy to use them.
Focusing on just one platform, at least at first, also helps with getting something shipped and allows gaining real-world feedback. Adding support for .NET Framework is something that could be added in the future. It's not ruled out. It's just "not yet".
If that's a blocking issue for

[2019-07-25 18:41] TonyHenrique commented on #1378
Looks good. Will there also have the F# templates?

[2019-07-25 18:51] ojhad opened #1382 "Fix and re-enable WindowsFormsIntegration Microsuite test"
**The following microsuite test variation fails**
/Name="XElementHost" /SubArea="ElementHost"
Variation:  `protected virtual ScenarioResult CreateGraphics(TParams p, IntPtr dc)`
In File: `/src/Test/WindowsFormsIntegration/FeatureTests/WinFormsTestLib/ReflectTools/AutoPME/XControl.cs`

[2019-07-25 19:45] thomasclaudiushuber commented on #1378
Looks like a good start to me. What I would like to see in the _MVVM Basic_ template is Dependency Injection set up.

[2019-07-25 20:24] weltkante commented on #1363
I'm wondering how the streams you were seeing in the existing extension method calls were ever seekable, weren't they coming from the same zip implementation? For what its worth writable streams not beeing seekable could be by design as well, because it allows streaming them through the compressor in a write-through way. If they were seekable they'd had to buffer everything and compress on Dispose

[2019-07-25 21:11] rladuca commented on #1363
Opening an existing document as ReadWrite gave me a seekable stream.

That's an entirely different path than Create.  The ReadWrite path would open a deflate stream and read the entire stream into memory, basically what we were doing to wrap it.

https://github.com/dotnet/corefx/blob/78589e4d2c98bf71cefa4dbc94cde3783b60a934/src/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs#L69

[2019-07-25 21:19] rladuca commented on #1363
Sorry meant to link the place where it loads as well:
https://github.com/dotnet/corefx/blob/78589e4d2c98bf71cefa4dbc94cde3783b60a934/src/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs#L340

[2019-07-25 21:24] #762 closed

[2019-07-25 21:39] vatsan-madhavan opened #1385 "Trimmed images of WPF applications crash"
Project:
[code]
MainWindow.xaml
[code]

build this using a recent preview8 SDK like this: `dotnet publish -r win-x64 -c release `, then run the exe produced under `bin\x64\release\netcoreapp3.0\win-x64\publish\`

global.json
[code]

Observed: Crash - `FileNotFoundException` for `System.Diagnostics.Debug.dll`

[2019-07-25 21:40] vsfeedback opened #1386 "Can't move the IDE window to a monitor "above" my primary"
I have an external monitor positioned &quot;above&quot; my primary laptop monitor, such that I can drag windows up to move them to my secondary...except for VS2019. When I try to move it up through my primary to my secondary, it either tries to maximize (since it's reaching the edge) or the mouse loses capture and the IDE window is restored to the last position before I started the drag operation.

[2019-07-25 21:42] vatsan-madhavan commented on #1385
When producing ReadyToRun images, the ILLinker is configured to skip  C++/CLI images. See https://github.com/mono/linker/issues/651 and https://github.com/mono/linker/pull/658.

In turn, this results in a failure of dependencies of such assemblies (like System.Diagnostics.Debug.dll, which is required by DirectWriteForwarder.dll) from being identified and included in the ReadyToRun images.

[2019-07-25 21:43] grubioe commented on #1386
Copied from internal AzDO: 846867

[2019-07-25 22:00] rladuca opened #1388 "Fix Issues With DRT Runtimes and Build Resources"
Related to #1158

This was already fixed in https://dnceng.visualstudio.com/internal/_git/dotnet-wpf-test?version=GBdev%2Froladuca%2Fpublishcleanup.

However, there are other changes there that resulted in issues with test passes.  As such, this never made it to master.

We should cherry pick the appropriate changes from here and speed up the DRTs.

Changes Needed:
* https://dnceng.visualstudio.co

[2019-07-25 22:06] rladuca commented on #1363
Tagging as a bug for now, which switch to tracking if we can prove and file a bug on CoreFX.

[2019-07-25 22:14] jevansaks commented on #1386
This is my bug! Let me know if you have any questions about the repro.

[2019-07-25 22:25] rladuca commented on #1050
This isn't failing in latest test passes, likely due to the wrapped stream fixes.

Going to close this.

[2019-07-25 22:25] #1050 closed

[2019-07-25 22:27] rladuca commented on #1053
Updating estimate based on the number of failures here.  Generally, if we are considering 2 days per failure this is a better picture of the time this will take.

[2019-07-25 22:29] rladuca commented on #1048
This needs a real estimate, this might be a larger fix than the generally 2 day we are usually assigning.

[2019-07-25 22:39] rladuca opened #1390 "[Microsuite] Integration Area - Fix Failures"
/Name="AvalonNotepad_ValidateWindow" /SubArea="AvalonNotepad"

This fails on Framework as well, see DDVSO:171378

[2019-07-25 22:40] rladuca commented on #1390
@grubioe @vatsan-madhavan I left this out of Preview 9 since it fails on framework.  Thoughts on disabling this and amending this bug to a re-enable/fix?

[2019-07-25 22:41] rladuca opened #1391 "[Microsuite] XamlV4 Area - Fix Failures"
On All OSes

* /Name="Uid_BRAT" /SubArea="Baml\\BamlReaderBRAT"
* /Name="SingleType" /SubArea="LoadPermissionTests"
* /Name="Dev10_825582_CrossRefThemeScope" /SubArea="MarkupCompiler\\PositiveTests"
* /Name="Internal_Basic" /SubArea="Parser\\Internals"

[2019-07-25 23:40] rladuca commented on #1363
I am not sure this is truly by design, because they are assuming it is seekable by calling SetLength.  That doesn't seem to make any sense to me.  Anyway, haven't gotten around to reproducing it in a console app yet, if I can do that then it's definitely a bug since underlying stream implementations should cause a bug via legitimate public API usage.

[2019-07-26 00:15] vatsan-madhavan opened #1392 "Undo Linker workaround for Trimmed WPF applications when mono/linker#639 is fixed"
As part of a fix for #1385, we introduced a workaround in WPF - in PresentationCore and ReachFramework, to assist the linker ensure that dependencies required by DirectWriteForwarder and System.Printing are included in trimmed images.

When https://github.com/mono/linker/issues/639 gets fixed, the linker can directly analyze DirectWriteForwarder and System.Printing again, at which point we can rev

[2019-07-26 00:19] vatsan-madhavan opened #1393 "Remove embedded theme-assembly XAML files from corresponding theme-DLL's"
As part of #865, XAML files corresponding to theme assemblies were embedded into the respective assemblies.

We have come to realize that the VS designer cannot consume this solution - specifically because there is no good way to discover the runtime-assemblies from the ref-assemblies at design-time.

We have changed the plans or .NET Core 3.x timeframe to continue using static templates, and we w

[2019-07-26 00:35] vatsan-madhavan commented on #1036
Fixed by #1005

[2019-07-26 00:35] #1036 closed

[2019-07-26 04:40] vatsan-madhavan commented on #1360
In the internal ticket history, I can see that @jekelly made the association between this and #1198.

[2019-07-26 05:19] vatsan-madhavan commented on #1362
- Are these related to design time builds in anyway?
- Is this problem new to .NET Core 3.0 or does/did it happen in .NET Framework as well?
- Is this limited to IDE builds? If so, is the VS IDE calling build in a unique way?
  - If this might be related to design-time builds, is there a chance that the IDE is not to setting `BuildingInsideVisualStudio` ? See [WinFx.targets](https://github.com/dot

[2019-07-26 05:22] davkean commented on #1362
These are command-line builds, I've seen them inside Visual Studio. They appear to be regressions as I've not seen them before and this code has not changed in a long time.

Unsure if we're hitting this in design-time builds, we populate the error list from both and haven't paid attention to where its coming from.

[2019-07-26 05:24] davkean commented on #1362
I forgot to mention, we're using .NET SDK + .NET Framework targets, so this may be a bad interaction there.

[2019-07-26 05:25] davkean commented on #1362
As a side note, the build log will tell what properties, etc are being set.

[2019-07-26 05:44] davkean opened #1396 "Windows Forms template has a resource by default"
[code]

 **Problem description:**

Windows Forms (.NET Core) template has an unused RESX in it under the Form, this is different from .NET Framework. The Form has not been opted in localization, so I'm not sure why this RESX exists.

 **Actual behavior:**
No RESX

 **Expected behavior:**
Has RESX

 **Minimal repro:**
1. File -> Windows Forms (.NET Core)

[2019-07-26 05:45] davkean commented on #1396
![image](https://user-images.githubusercontent.com/1103906/61928610-59fd5d80-afbc-11e9-9d65-4686a4afa063.png)

[2019-07-26 06:37] christiannagel commented on #1378
Looks good. In addition to dependency injection set up with the *MVVM Basic* template It would be great to use the .NET Core 3.0 `Host` class.

[2019-07-26 07:07] thomasclaudiushuber commented on #1396
@davkean Hi David, was it on purpose to post this in the WPF repo?

I think it should go to https://github.com/dotnet/winforms?

[2019-07-26 07:38] weltkante commented on #1146
I assume this becomes irrelevant, #1393 is removing the embedded resources, so standalone tooling will also need to carry its own copy of the reference xaml files for now.

[2019-07-26 08:05] #1146 closed

[2019-07-26 09:30] rabbitism commented on #1378
Please also help to add samples of resource dictionary usage, such as different kinds of Uris.

[2019-07-26 15:57] vatsan-madhavan opened #1402 ".NET Core Theme Styles for WPF Controls"
Create a standard set of Theme Styles.

At present, an older copy of these styles can be found in Visual Studio, which were created in ~.NET 4.5 timeframeframe.

[code]

The theme specific XAML files (#865) do not contain enough information to be used as-is (#1146).

- The Theme Styles that we ship with VS should be updated to correspond with recent .NET Core sources.
- We should have a way of gen

[2019-07-26 15:58] vatsan-madhavan commented on #1402
/cc @chabiss, @rladuca, @grubioe
/cc @weltkante

[2019-07-26 15:58] vatsan-madhavan commented on #1146
You are right. Also, please see #1402.

[2019-07-26 16:40] vatsan-madhavan commented on #1385
This depends on https://github.com/mono/linker/issues/676

[2019-07-26 16:51] vatsan-madhavan opened #1404 "WPF app build fails on Preview 7 when using System.Windows.Forms"
From https://github.com/dotnet/core/issues/3075#issuecomment-515336549
@piiov reports:

[2019-07-26 16:56] vatsan-madhavan commented on #1404
@rylanms, Can you please take a look ?

/cc @dotnet/wpf-developers

[2019-07-26 17:35] grubioe commented on #1362
@ryalanms can you investigate?  Thanks

[2019-07-26 17:40] grubioe commented on #1374
@cbaysinger does this reproduce in the latest daily builds?  Thanks

[2019-07-26 17:45] weltkante commented on #1402
Are luna/royale themes useful for anything besides backwards compatibility for people referencing them, considering they are based on now unsupported Windows XP? I mean, they are referencing system parameters for colors and sizes which will never occur on a supported system. People can still reference them or copy XP-like styles from existing controls but they'll have to manually adjust them and r

[2019-07-26 17:59] cbaysinger commented on #1374
I rebuilt the project attached to the issue that was built with preview 6 using preview 7 and observed the same behavior.
Have not tried the latest daily build. If there a rational for using the latest daily build I will do that based on your advice.
I have been porting a large project to Core 3 and the preview 7 broke due to System.Window.Forms went missing.
Question, how can I define a type doub

[2019-07-26 18:09] weltkante commented on #1374
See #708 about the double thing. According to that issue it "should just work", but there are a few workarounds mentioned.

[2019-07-26 18:12] rladuca commented on #1363
I was able to get a very simple repro in a console app:

[code]

This will follow the same stream creation path and throw `NotSupportedException`.

I'll file a bug on CoreFX and also see if I can get some workaround here.

[2019-07-26 18:14] ryalanms commented on #1404
`WindowsFormsHost` is working in a test application that creates a WindowsForms RichTextBox running on Preview7.  If `UseWindowsForms` is set to true in the .csproj, the markup compiler tasks should get the Windows Forms assemblies in a parameter (ReferenceList), the list consumed by `MetadataAssemblyResolver` inside `MetadataLoadContext`.   @piiov, could you post the markup and .csproj for the pr

[2019-07-26 18:14] rladuca commented on #1363
Found a workaround.

Simple open the XpsDocument as `FileAccess.ReadWrite`.  This is basically the same as the other workarounds for non-seekable streams.

This forces CoreFX to use the "update" path, which gives back a seekable stream.

[2019-07-26 19:22] Kyle-Undefined commented on #1404
Upgraded a Preview 6 WPF app to Preview 7 and was getting an error like what was reported.

Adding <UseWindowsForms>true</UseWindowsForms> to the csproj resolved the issue and project now builds and runs properly.

[2019-07-26 20:08] grubioe commented on #1344
Replied via internal email:

WPF relies on WIC (Windows Imaging Component) for image display and looking at documentation it seems that HDR is supported.

I found a few StackOverflow articles that might help as well:

https://stackoverflow.com/questions/22499407/how-to-display-a-bitmap-in-a-wpf-image?noredirect=1

https://stackoverflow.com/questions/94456/load-a-wpf-bitmapimage-from-a-system-drawi

[2019-07-26 20:08] #1344 closed

[2019-07-26 20:17] cbaysinger commented on #1404
Thanks, this change allowed my project to build as well.

[2019-07-26 20:44] rladuca commented on #1363
Filed this bug on CoreFX: https://github.com/dotnet/corefx/issues/39816

Will convert this to tracking.

[2019-07-26 23:23] cbaysinger commented on #1374
Tried to build the little project I previously attached with the tip build Microsoft.NETCore.App\3.0.0-preview8-28376-13 and I can no longer build the project. The project creates COM interfaces using System.Activator.CreateInstance and this is no longer working. Tried the new preview8 version on the large project we are trying to port and had the same issue so at this point too much is broken to

[2019-07-27 01:53] cbaysinger opened #1408 "Runtime can't find COM object"
* 3.0.0-preview8-28376-13
* Windows version: Windows version: 1809 (OS Build 17763.615)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No
 **Problem description:**
At runtime a COM interface can't be created because the file can't be found as in the following error displayed in the Output window: Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll
An ex

[2019-07-27 08:36] weltkante commented on #1374
@cbaysinger are you saying when you define doubles in xaml you get compiler errors, or do you mean designer errors? The example from #708 compiles and runs for me, only the designer is giving errors. You might want to hide intellisense errors for large WPF projects.

If you have a scenario where you get actual compile/runtime errors you probably should try to reduce it and open a new issue so it c

[2019-07-27 16:59] cbaysinger commented on #1374
Thanks, it works just as you indicated, the designer is telling me it doesn't work but the compiler says it is ok.

[2019-07-28 05:44] Berrysoft commented on #1402
I'm mostly agree with @weltkante 's opinion. However, I don't think we should simply remove the luna/royale themes, because it is a good template and tutorial for writing WPF styles. On the contrary, I think we should *archive* them.
In addition, I suggest publishing all themes as separate nupkgs, because they are large and costs much more space when publishing self-contained WPF programs. We can

[2019-07-28 08:32] jbe2277 opened #1423 "PresentationUI ref-assembly missing: Build fails because cannot find type PresentationUIStyleResources"
* .NET Core SDK: 3.0.100-preview7-012821
* VS 2019: 16.2.0
* Windows version: Win10 1809 (Azure VM, connected via Remote Desktop)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

Now I get a build error for a solution which already build with an older .NET Core 3 version.

**It worked with:**
* .NET Core SDK: 3.0.100-preview5-011256
* Microsoft.WindowsDesktop.App 3.0.0-preview5-27

[2019-07-28 08:40] jbe2277 opened #1424 "RichTextBox: Copy to Clipboard throws NotSupportedException (2)"
Reopen of #579 as the bug seems not to be solved. I have retested it with this version:

* .NET Core SDK: 3.0.100-preview7-012821
* VS 2019: 16.2.0
* Windows version: Win10 1809 (Azure VM, connected via Remote Desktop)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

Copy to Clipboard (e.g. press Ctrl+C) within the RichTextBox throws a NotSupportedException with the message: `No d

[2019-07-28 11:00] #1231 closed

[2019-07-28 22:01] rladuca commented on #1423
Well this is strange.  PresentationUI.dll is NOT part of the reference set of .NET Framework.  So this shouldn't build in .NET Framework at all.

However, looking at the binlog from the build, I see it picks this up from the GAC using the full library DLL.

[code]

In Preview7, we removed PresentationUI from our reference set to match .NET Framework's reference set.

@vatsan-madhavan @SamBent What

[2019-07-28 22:06] rladuca commented on #1424
This should be fixed in the latest nightly builds see #664 .

Can you give those a try and let us know if it still reproduces?

[2019-07-28 22:21] rladuca commented on #1423
Taking a second look, this actually seems to be `MarkupCompilePass1` picking this up dynamically.

I don't know if we can support something like this in .NET Core, we may have a class of regressions in PBT due to this.

@ryalanms FYI.

[2019-07-29 00:40] rladuca commented on #1408
@cbaysinger I was able to reproduce the same issue in a console application.  This issue isn't specific to WPF and is probably better suited to somewhere like CoreFX.

[2019-07-29 00:41] rladuca commented on #1408
@grubioe I don't have permissions to transfer issues to CoreFX, do you?

[2019-07-29 01:14] grubioe commented on #1408
Me neither.  I can log an item there tomorrow

________________________________
From: Rob LaDuca <notifications@github.com>
Sent: Sunday, July 28, 2019 5:41:25 PM
To: dotnet/wpf <wpf@noreply.github.com>
Cc: Gustavo Rubio <Gustavo.Rubio@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/wpf] Runtime can't find COM object (#1408)

@grubioe<https://nam06.safelinks.protection.ou

[2019-07-29 03:52] rladuca commented on #1388
Checked into dotnet-wpf-test: https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test/pullrequest/2344?_a=overview

[2019-07-29 03:52] #1388 closed

[2019-07-29 04:24] neelabo opened #1436 "WebP with alpha image is broken"
* .NET Core Version: 3.0 Preview7
* Windows version: Windows 10 version 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

**Problem description:**

WebP can now be displayed on Windows 10, but when trying to display transparent WebP with WPF, the transparent part becomes broken display.

![sample](https://user-images.githubusercontent.com/16382967/62021615-1a748280-b203-11e9-

[2019-07-29 07:15] weltkante commented on #1423
Picking up references from GAC has always been a thing in VS/msbuild and we definitely rely on it. The nice thing is that everything in the GAC has to support binary compatibility anyways, otherwise you would break arbitrary applications at runtime. So a compile time dependency on the GAC is not a bad thing at all.

[2019-07-29 08:25] piiov commented on #1404
<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">
  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <UseWPF>true</UseWPF>
    <UseWindowsForms>true</UseWindowsForms>
  </PropertyGroup>
</Project

works for me, too.
is this a workaround or the "way to go" when using system.windows.forms in wpf?

thanks @ryalanms

[2019-07-29 10:55] MartinZikmund opened #1442 "Unloaded event not called on Window when app closed"
* .NET Core Version: (haven't tested yet, will do)
* Windows version: Windows 10 16299
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

When window is closed with the close button in the title bar, the `Window.Unloaded` event is not called. This is inconsistent behavior.

Interestingly enough, it can be worked around by creating a new instance of window

[2019-07-29 10:55] MartinZikmund commented on #1442
I will try to repro in WPF Core when at my PC, in case this is fixed I will close the issue

[2019-07-29 17:24] grubioe commented on #1408
Moved to CoreFX repo:  https://github.com/dotnet/corefx/issues/39862

[2019-07-29 17:24] #1408 closed

[2019-07-29 17:48] vatsan-madhavan opened #1451 "Preview 7: 'Could not find assembly 'mscorlib...' in Microsoft.WinFX.targets"
Hi! On .Net Core 3.0 Preview 7, VS 16.3 Preview 1.

My only error for my WPF project is below (a similar WinForms project that depends on the same assemblies is building and running fine). I have no explicit dependencies on mscorlib, but possibly an implicit one via a 3rd party dependency. Is this a forwarding issue specific to WPF? If so, how to resolve? Thanks!!

Error	MC1000	Unknown build error

[2019-07-29 17:59] SamBent commented on #898
This issue tracks the port of the fix into .NETCore (it's in .NETCore 3.0 Preview 7).
For .NET Framework 4.8, please consult [https://github.com/microsoft/dotnet-framework-early-access/issues/62](https://github.com/microsoft/dotnet-framework-early-access/issues/62).

[2019-07-29 18:05] jbe2277 commented on #1423
Additional Info: The [XAML line](https://github.com/jbe2277/waf/blob/c7773460a1d58256b201df15c197c2b4263ec88e/src/System.Waf/Samples/Writer/Writer.Presentation/Views/PrintPreviewView.xaml#L15) that produces this build error comes from the original control template of the `DocumentViewer`. I have created a copy of this control template to apply some minor modifications.

I believe adding the refere

[2019-07-29 18:15] vatsan-madhavan commented on #1423
@rladuca, If we have a public type, then we are probably going to have to keep it .NET Core 3.0 and also include it in ref-assembly surface given the fact that there is no GAC or easy discovery mechanisms for runtime-assemblies in .NET Core 3.0.

As far as I can remember, this is likely the only type that's missing.

We should probably bring back PresentationUI ref assembly (easily done in the bui

[2019-07-29 18:26] rladuca commented on #1423
Yeah that makes sense.  I was completely unaware of this GAC reference scenario, but bringing back the assembly is quick enough.  We can bring it up in shiproom and if they approve it I can go about resurrecting it.

[2019-07-29 18:27] jbe2277 commented on #1424
I tried it with the latest SDK. Now it seems to work. Thanks for the fix.

Used SDK version:
[code]

[2019-07-29 18:28] rladuca commented on #1424
Great!  Closing accordingly.

[2019-07-29 18:28] #1424 closed

[2019-07-29 18:46] grubioe opened #1452 ".NET Core 3 - WPF Accessibility Bugs"
Epic to capture all MAS Related Bugs for .NET Core 3

[2019-07-29 18:46] grubioe opened #1453 "A11y_.NETCore3.0(WPF)_WPFBrush_PredefinedBrushes_ScreenReader: Using NVDA the entire content available in the main window is not announced to the screen reader users."
Copied from VSO [947720:](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/947720)

Environment Details:
Application Name: .NET Core 3.0 (WPF and ASP.NET Core)

Application version: VS 2019 Preview 4.7.03190

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

**Pre-requisite:**

1) Download the latest .NET Core 3 daily build by going to this link.
2) Install Windows (

[2019-07-29 18:50] grubioe opened #1454 "A11y_.NETCore3.0(WPF)_WPFBrush_Contents_ScreenReader: Using narrator the proper role as "treeview item" is not announced for options of "Contents" for screen reader users."
Copied from VSO: [947814](https://devdiv.visualstudio.com/DevDiv/_queries/edit/947814/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF and ASP.NET Core)

Application version: VS 2019 Preview 4.7.03190

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA

[2019-07-29 18:51] grubioe opened #1455 "A11y_.NETCore3.0(WPF)_WPFBrush_Contents_Keyboard: The treeview items with toggle button receive keyboard focus twice while navigating using the arrow key."
Copied from VSO [948205](https://devdiv.visualstudio.com/DevDiv/_queries/edit/948205/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF and ASP.NET Core)

Application version: VS 2019 Preview 4.7.03190

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2

[2019-07-29 18:52] grubioe opened #1456 "A11y_.NETCore3.0(WPF)_WPFBrush_Contents_ScreenReader: Using narrator the expand/collapse state not announced for the "Contents" button for screen reader users.der user."
Copied from VSO [948255](https://devdiv.visualstudio.com/DevDiv/_queries/edit/948255)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF and ASP.NET Core)

Application version: VS 2019 Preview 4.7.03190

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 20

[2019-07-29 18:54] grubioe opened #1457 "A11y_.NETCore3.0(WPF)_WPFBrush_LinearGradient-InteractiveExample_AI4D: (Brushes/button '') An onscreen element must not have a null BoundingRectangle property."
Copied from VSO: [949047](https://devdiv.visualstudio.com/DevDiv/_queries/edit/949047/)

Application: Brushes has the following accessibility issue that needs investigation.

Issue Details
If the element is offscreen, set its IsOffscreen property to TRUE. If the element is onscreen, provide a BoundingRectangle property.

Element path: button ''

To Reproduce and How to Fix guidance: Please open th

[2019-07-29 18:57] grubioe opened #1458 "A11y_.NETCore3.0(WPF)_WPF Text Formatting_HighContrast: Button selection is not visible when we apply High contrast Black theme."
Copied from VSO [949977](https://devdiv.visualstudio.com/DevDiv/_queries/edit/949977/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF)

.NET Core SDK version:  3.0.100-preview8-013442

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-req

[2019-07-29 18:58] grubioe opened #1459 "A11y_.NETCore3.0(WPF)_WPF Message Box_ScreenReader: Screen reader is not announcing Expanded State for combobox."
Copied from VSO [951013](https://devdiv.visualstudio.com/DevDiv/_queries/edit/951013/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF)

.NET Core SDK version:  3.0.100-preview8-013442

Windows Version: Windows10

Screen Reader Version: Narrator, NVDA 2019.1.1

Pre-re

[2019-07-29 18:59] grubioe opened #1460 "A11y_.NETCore3.0(WPF)_WPFExpenseItStandAlone_ScreenReader: ScreenReader does not read menuitem shortcut as well as ordering properly under "File" menu."
Copied from VSO [951708](https://devdiv.visualstudio.com/DevDiv/_queries/edit/951708/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF)

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-requ

[2019-07-29 18:59] grubioe opened #1461 "A11y_.NETCore3.0(WPF)_WPFExpenseItStandAlone_ScreenReader: ScreenReader reads repetitive information about the button "Create Expense Report"."
Copied from VSO [951722](https://devdiv.visualstudio.com/DevDiv/_queries/edit/951722)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF)

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-requi

[2019-07-29 19:00] grubioe opened #1462 "A11y_.NETCore3.0(WPF)_WPF ControlsAndLayout_Controls Tooltip_ScreenReader: Screen reader is not announcing tooltip."
Copied from VSO: [951723](https://devdiv.visualstudio.com/DevDiv/_queries/edit/951723/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF)

.NET Core SDK version:  3.0.100-preview8-013442

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-re

[2019-07-29 19:01] grubioe opened #1463 "A11y_.NETCore3.0(WPF)_WPFExpenseItStandAlone_ScreenReader: Narrator does not read the tooltip information for the list of employees."
Copied from VSO [951726](https://devdiv.visualstudio.com/DevDiv/_queries/edit/951726/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF)

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

ScreenReader Version: Narrator

Pre-requisite:

1) Down

[2019-07-29 19:04] grubioe opened #1464 "A11y_.NETCore3.0(WPF)_WPFConcepts_AnimatePathSample_ScreenReader: Screen reader focus is not going on the text under the first tab"
Copied from VSO [952376](https://devdiv.visualstudio.com/DevDiv/_queries/edit/952376/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: .NET Core 3.0 WPF

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

Screen Reader Vesion : Narrator, NVDA 2019.1.1

Pre-requ

[2019-07-29 19:58] dcuccia commented on #1451
Thanks. I misspoke slightly in the OP. I have three dependencies that are not shared with the (working) WinForms app:

MahApps.Metro.Resources (0.6.1)
Microsoft.Toolkit.Wpf.UI.Controls (5.1.0)
Microsoft.Toolkit.Wpf.UI.Controls.WebView (5.1.0)

[2019-07-29 20:12] indierawk2k2 commented on #1378
Can you please explain a bit more what you're looking for here?  What is the scenario that will benefit from this?  Thank you for any additional information

- Mike

[2019-07-29 20:47] grubioe opened #1466 "A11y_.NETCore3.0(WPF )_WPFConcepts_MenuSample_Screenreader: Screen reader is announcing the wrong name of the drop down menu item "Project""
Copied from VSO: [956407](https://devdiv.visualstudio.com/DevDiv/_queries/edit/956407/)
Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: .NET Core 3.0 WPF

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

Screen Reader Vesion : Narrator, NVDA 2019.1.1

Pre-requ

[2019-07-29 20:48] grubioe opened #1467 "A11y_.NETCore3.0(WPF)_WPFConcepts_MenuSample_Screenreader: Screen reader is announcing wrong ordering for the file /edit / Project menuitem"
Copied from VSO[ 956410](https://devdiv.visualstudio.com/DevDiv/_queries/edit/956410/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: .NET Core 3.0 WPF

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

Screen Reader Vesion : Narrator, NVDA 2019.1.1

Pre-requ

[2019-07-29 20:49] grubioe opened #1468 "A11y_.NETCore3.0(WPF)_WPF ControlsAndLayout_Controls TabControl_Keyboard: Tab get selected when keyboard focus moves from one tab to other."
Copied fro,m VSO [956741](https://devdiv.visualstudio.com/DevDiv/_queries/edit/956741/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 WPF

.NET Core SDK version:  3.0.100-preview8-013442

Windows Version: Windows10
ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-requi

[2019-07-29 20:50] grubioe opened #1469 "A11y_.NETCore3.0(WPF)_WPFBrush_LinearGradient-InteractiveExample_ScreenReader: screen reader focus is not going on the text which is inside the Markup expandable group."
Copied from VSO [956749](https://devdiv.visualstudio.com/DevDiv/_queries/edit/956749/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: .NET Core 3.0 WPF

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

Screen Reader Vesion : Narrator, NVDA 2019.1.1

Pre-requ

[2019-07-29 20:50] grubioe opened #1470 "A11y_.NETCore3.0(WPF)_WPF ControlsAndLayout_Layout Dock panel_ScreenReader: Screen reader focus is not moving in proper logical order."
Copied from VSO [956760](https://devdiv.visualstudio.com/DevDiv/_queries/edit/956760/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: .NET Core 3.0 (WPF)

.NET Core SDK version:  3.0.100-preview8-013442
Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-req

[2019-07-29 20:52] grubioe opened #1471 "A11y_.NETCore3.0(WPF)_WPFAnnotationsStyling_Keyboard: The keyboard users are not able to perform various actions using keyboard"
Copied from VSO [956777](https://devdiv.visualstudio.com/DevDiv/_queries/edit/956777/)

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: .NET Core 3.0 (WPF)

Application version: VS 2019 Preview 4.7.03190

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-requ

[2019-07-29 22:11] wjk commented on #1423
@rladuca As much as `PresentationUI.dll` looks like it's not public API, as @jbe2277 noted, it does need to be referenced from user code if one is retemplating the DocumentViewer control. I would think the _real_ solution here is to either get rid of PresentationUI entirely if it is no longer needed (I half-remember seeing mostly CAS-related crud in that file when I last ILDasm'ed it), or else mov

[2019-07-29 22:22] wjk commented on #1402
Since we discussing styles, when I adopt/start planning to contribute to 5.0 I would really, _really_ appreciate some better-designed default styles for WPF apps. I keep joking that all the default WPF styles look like they were designed by the summer intern on his first day at Microsoft some fifteen years ago, and never touched by anyone since. @gix's [PresentationTheme.Aero](https://gix.github.i

[2019-07-29 23:10] grubioe opened #1472 "July Update for WPF on .NET Core"
# July Update for WPF on .NET Core

Preview 7 was [released last week](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-7/) and with that we are now on the final two months before the official release in September. This next month we are planning on open sourcing the final set of managed assemblies and continuing to close all 3.0 bugs.

Last month we [shared](https://github.co

[2019-07-29 23:10] #1113 closed

[2019-07-29 23:12] merriemcgaw commented on #1404
I believe this is the "way to go" for using WinForms in WPF.

[2019-07-29 23:41] mdtauk commented on #1402
With the upcoming WinUI 3.0 release, bringing updated control designs to XAML - perhaps it is time to bring out updated WPF control templates and updated WinForms/Windows GDI controls to match the styling (if not control size and spacing)

[2019-07-30 00:09] rladuca commented on #1366
This looks like possibly a WinForms bug.  From what I am seeing, we're choking on trying to use `DataMemberFieldConverter` which is marked on a [few WinForms types](https://github.com/dotnet/winforms/search?q=DataMemberFieldConverter&unscoped_q=DataMemberFieldConverter).

This used to live in System.Design.  When I look at System.Design in WindowsDesktop, I see it's a facade assembly now, but ther

[2019-07-30 00:11] merriemcgaw commented on #1366
@dreddy-work can you take a look? You did a lot of the System.Design stuff on our end. Seems possible to me.

[2019-07-30 01:14] dreddy-work commented on #1366
DataMemberFieldConverter is not yet ported to core. I will make those changes and get the PR out.

[2019-07-30 06:31] Daniel-Svensson commented on #1378
I would like to see some concept concept from the old "business application" template for silverlight.

* Login screen and maybe logout?
* Navigation between 2 additional views

maybe even with a connected service (web
/server app) where data is fetched from (but mock classes would do as well)

[2019-07-30 06:46] vsfeedback opened #1473 "Potentially spurious warning 'IsChecked' property not found on 'object' ''RibbonMenuButton' ?"
<p>It seems like  will throw a spurious warning at runtime. I've noticed this and also found it discussed here:</p><p><a href="https://stackoverflow.com/questions/10462167/wpf-and-ribboncontrolslibrary-throws-a-bindingexpression-path-error-without-even">https://stackoverflow.com/questions/10462167/wpf-and-ribboncontrolslibrary-throws-a-bindingexpression-path-error-without-even</a></p><p>My own exa

[2019-07-30 07:26] weltkante commented on #1472
Whats the plan for the mixed mode C++ render engine? Will it be open sourced for release?

[2019-07-30 09:43] #1346 closed

[2019-07-30 13:21] dreddy-work commented on #1366
@rladuca , DataMemberFieldConverter was internal class and we don't see typeforward even after we port it. How exactly this type is used in wpf?

[2019-07-30 13:50] weltkante commented on #1366
@dreddy-work Converters don't need to be public in order to be referenced from attributes, in WinForms you are exporting TypeConverter attributes referencing System.Design (see the [link](https://github.com/dotnet/winforms/search?q=DataMemberFieldConverter&unscoped_q=DataMemberFieldConverter) from @rladuca above).

WPF finds the attribute and wants to resolve the string, but there is not type forw

[2019-07-30 13:55] dreddy-work commented on #1366
Thanks. Will port this and make sure right assembly is referenced.

[2019-07-30 15:34] dcuccia commented on #1451
Confirming that the libraries above don't impact this issue. Simply creating a file->new .Net Core Wpf app and referencing a shared Core 3.0 class library causes this error at MarkupCompilePass1 in Microsoft.WinFx.targets, whereas the same reference for a .Net Core WinForms app does not cause the issue.

[2019-07-30 16:06] Thraka opened #1479 "Thickness should support ctor of all three common ways to create a thickness."
Related to https://github.com/dotnet/dotnet-api-docs/pull/2569

Since the ThicknessConverter is one of the most common ways of creating a Thickness object, the Thickness object should support the 3 types of conversion on the ctor.

| | |
| --- | --- |
| `int` | same value for all four sides |
| `int, int` | values for leftright and topbottom |
| `int, int, int, int` | values for each individual si

[2019-07-30 16:06] Thraka commented on #1479
@vatsan-madhavan  ping

[2019-07-30 16:09] grubioe opened #1480 "Port LocBaml WPF application localization tool to .NET core"
Transferred from WPF Samples Repo [#85](https://github.com/microsoft/WPF-Samples/issues/85)

he LocBaml tool is now available in the Wpf-Samples repo: https://github.com/Microsoft/WPF-Samples/tree/master/Tools/LocBaml. The current version of the source matches the .NET Framework version, with additional code sanitziation, header updates, and a new SDK-style project file. The tool still needs to be

[2019-07-30 17:05] rladuca commented on #1366
@dreddy-work It's probably a good idea to sweep for any TypeConverters you are using, WPF will break on using any WinForm control where there is a similar state to this bug.

[2019-07-30 18:29] vsfeedback opened #1482 "MSBuilds fail from BC2012 error.. Can't open file for writing: Access to the path … is denied."
<p>VSF_TYPE_MARKDOWNI’ve put up with this error for over a year now because I couldn’t fix it but I could work around it. However, now that the error is happening on the Build Server it is essential that I get a remedy. There are a lot of discussions on the forums about this, including mine. None of the recommended solutions have worked for me.</p><p>What happens is that when I run a clean-and-bui

[2019-07-30 19:09] stevenbrix commented on #707
@MrPurple6411 WPF has only been ported to .NET Core beginning with 3.0, so I'm curious how you are using 2.x sdk and runtime?

My Surface Book 2 has the gtx 1060 and integrated intel graphics card and i'm not seeing this, so I wonder if it has something to do with the 1050. I'll be working on getting a device to see if i can repro this. Thanks everyone for the info so far!

[2019-07-30 20:43] merriemcgaw commented on #1366
I copied the issue to the WinForms runtime repo. Is this something that must be done for 3.0 GA?

[2019-07-30 20:46] rladuca commented on #1366
@merriemcgaw I think we should make an effort to fix this up.  As people start using Winforms controls in WPF they will hit this.  I'd suggest doing a code search for these sorts of attibutes and then seeing what the impact will be, I don't know how much is marked up on the WinForms side.

[2019-07-30 23:07] stevenbrix commented on #707
@PascalKoe (who opened #319) mentioned that he was just using the integrated Intel graphics. I'd be curious to know more about your hardware. I tried this on a Lenova Yoga with the same Intel integrated graphics and Nvidia GTX1050 configuration and didn't reproduce this. I'm beginning to think it might not have as much to do with the GTX1050 as it does with the intel integrated graphics. I'm hopin

[2019-07-31 01:27] rabbitism commented on #1378
Hello Mike,

When I was a WPF newbie, I struggled a lot when I tried to include some resource in my project, like

- use a resource dictionary from other compiled libraries
- in a project that is going to be compiled as a .dll, how I should reference a font file in a resource dictionary.

Things like this.

Thanks!

[2019-07-31 02:50] inkysquid commented on #1386
Not sure if it's the same issue, but I will chime in with my experience. If I click and drag the window to the second monitor above, the window gets stuck on the first screen and I "lose capture" as you describe.

If I release the mouse however, then it moves to the second monitor without issue. So for me the issue is related to rendering the window, and not functionality.

I also get this behavio

[2019-07-31 04:27] Berrysoft opened #1485 "Feature: new WPF style for Windows 10"
The WPF style now used on Windows 10 doesn't match the legacy controls, which is created by WinForms. Here is a screenshot to compare some of them:

![image](https://user-images.githubusercontent.com/37586447/62183882-73245680-b38e-11e9-9975-84a097a38be2.png)

I suggest we should write a set of new style to match Windows 10 WinForms style, and also another new style for dark mode in Windows 10.

[2019-07-31 04:30] mdtauk commented on #1485
Maybe when a WPF app opts into the new WinUI 3.0 for Desktop - it could use the new styles coming with WinUI 3.0.

[2019-07-31 05:40] zwcloud commented on #1472
They [added that to future label](https://github.com/dotnet/wpf/issues/1341). But I actually don't care if it compiles or not, just want to learn how WPF renders every thing thoroughly.

[2019-07-31 05:45] weltkante commented on #1485
How is WPF/WinUI interop going to work? Is WPF going to use the WinUI rendering engine? Otherwise I can't imagine a simple "opt in" working mixing classic WPF XAML with WinUI XAML in the same visual tree, they are different XAML dialects with different backing control classes, using incompatible APIs. People who want WPF XAML will still want up-to-date UI for their controls without having to port

[2019-07-31 06:11] lindexi commented on #1485
Do you means [UWP controls in desktop apps - Windows apps | Microsoft Docs](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/xaml-islands ) ?

[2019-07-31 06:31] Berrysoft commented on #1485
I agree with @weltkante . Although I could use WinUI, I still want up-to-date **WPF** style.

Now I write cross-platform programs with [Eto.Forms](https://github.com/picoe/Eto), which is a cross-platform GUI framework. It uses four backends on Windows - WinForms, DirectX, WPF and GTK# - but I prefer WPF. I can't use WinUI or WinRT Xaml because it is hard to embed them into an Eto.Forms program.

[2019-07-31 07:01] weltkante commented on #1485
@lindexi no he means the recently announced WinUI 3.0 which will have support for Desktop along the existing UWP. It will have better integration with WinForms/WPF than your linked UWP XAML Islands.

[2019-07-31 09:35] jinek commented on #137
Could you please attach the solution which reproduce the behavior?

[2019-07-31 15:15] stevef86 commented on #1041
@SamBent  yes thanks!

Do you happen to know what servicing update this is and if it's available as a beta? We are a little concerned that this simplified example may only be one manifestation of the problem, so were thinking if there was an update we could apply on a virtual machine/test box we could destroy we could run the full example to know it's fixed (or if it's not, come up with a differen

[2019-07-31 15:42] mdtauk commented on #1485
@weltkante  The Windows Shell is changing, so you would assume the Common Controls would also be updating.  If that is the case, then any changes to the standard WPF control templates, and the Win32 Common Controls, should probably be designed to match the style of the shell.

The shell is moving to XAML, so WinUI 3.0's control changes, would be leading the changes.

Why should the visual style no

[2019-07-31 16:17] weltkante commented on #1485
@mdtauk maybe its a misunderstanding. I'm saying you can't just use the WinUI XAML in WPF due to the underlying technological difference, but you'd have to recreate the style on base of the WPF controls.

If you meant to recreate the "current" shell/common controls in WPF using WinUI as reference, thats fine with me.

What I'm against is telling WPF developers "just use the WinUI controls instead

[2019-07-31 17:05] grubioe opened #1490 "A11y_.NETCore3.0(WPF)_WPFAnnotationsStyling_Screenreader: The options present in the "StickyNote Style" combo box is not announced to the screen reader users."
Copied from VSO [957351](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/957351)

Environment Details:
Application Name: .NET Core 3.0 (WPF)

Application version: VS 2019 Preview 4.7.03190

Windows Version: Windows10

ScreenReader Version: Narrator, NVDA 2019.1.1

Pre-requisite:

1) Download the latest .NET Core 3 daily build by going to this link.
2) Install Windows (x86 or x64) versions o