[2022-01-31 23:25] deiruch commented on #4181
I just ran (again) into the same issue. It occurs on my Microsoft Surface Pro 8, running Windows 11 - no 3rd party executables are running at this point in time, except for the built-in drivers (e.g. from Intel). Thousands of WPF re-layouts reliably trigger the issue on my system.

@SamBent How do you suggest I solve this problem?

[2022-02-01 10:18] miloush commented on #6041
Just for others, the video shows Tamil99 layout which uses TSF.

@MohanramAnbukkarasu can you provide more repro steps? I tried both .NET 6 and .NET Framework and cannot reproduce. What word are you trying to type? Does it reproduce for you when using the INFITT layout?

[2022-02-01 10:27] MohanramAnbukkarasu commented on #6041
@miloush , Thanks for the update. I'm just pressing any character in an English keyboard. The corresponding Tamil letter for that key should be entered into the selected cell. But it doesn't happen. Can you please provide more details about the INSCRIPT layout that you have mentioned? How can I check that?

[2022-02-01 10:32] miloush commented on #6041
Goto Windows Settings > Time & Language > Language > click on Tamil and press the Options button. Add a keyboard and choose INSCRIPT. Then try to reproduce (K key corresponds to KA, left half is vowels), is it the same?

[2022-02-01 10:40] miloush commented on #6041
Actually I have just noticed the IME appearing in the top left corner of your video. Are you using the Windows' built-in Tamil99 layout or did you install your own?

[2022-02-01 11:43] #5716 closed

[2022-02-01 11:56] cheesi commented on #5716
As this is closed now: will this fix be delivered with .NET 6.0.2?

[2022-02-01 12:01] singhashish-wpf commented on #5716
@cheesi It is most likely that this will be delivered with the next servicing release for 6.0; This still depends on some other factors, Will keep this posted once there is a confirmation.

[2022-02-01 21:55] 6outtaTen commented on #6043
Looks like it's a problem with .net 6.0.
Changing `<TargetFramework>net6.0-windows</TargetFramework>` to `<TargetFramework>net5.0-windows</TargetFramework>` seems to fix the issue.
If I were you, I'd just use .net5.0 instead and if you must use 6.0 I'd wait for a fix, as it is clearly an issue with the version.

[2022-02-02 04:03] singhashish-wpf opened #6052 "Community Survey"
A few years ago, we polled community members in this repository to see how we were doing as maintainers.

It's time to repeat the same investigation now, to gather valuable insights and become better at doing this.

Tell us about your experience in participating in and contributing to the project, whether you have been around for years or are new.

We request you to complete the below survey, it'l

[2022-02-03 11:43] #5703 closed

[2022-02-03 19:16] vsfeedback opened #6070 "Editing for DataGrid cell is not triggered while pressing any characters for some language"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Editing-for-DataGrid-cell-is-not-trigger/1651231)._

---
In WPF DataGrid, if we select a cell and press any key, editing for that cell is triggered properly when the selected language in language preferences option in Windows 10 is English.

If we select Tamil, then the cell doesn't ente

[2022-02-04 05:12] MohanramAnbukkarasu commented on #6041
![image](https://user-images.githubusercontent.com/44049406/152475608-a844b69c-f233-4de1-8f50-0d7e4eb9c851.png)

@miloush, I have used the option as shown in the screenshot to install the Tamil language.

[2022-02-06 06:13] darkdragon-001 commented on #48
Will WPF work in WSL when Microsoft exposes DirectX APIs in the Linux kernel / Mesa?

[2022-02-07 00:44] VictoriaRamirezCharles commented on #3711
Good answer!!

[2022-02-07 05:10] gurpreet-wpf commented on #6043
This is duplicate of #5716 and hence closing this. The fix has been worked on with the original issue.

[2022-02-07 05:10] #6043 closed

[2022-02-07 05:14] gurpreet-wpf commented on #6070
This is duplicate of #6041 and will be tracked there. Hence, closing this.

[2022-02-07 05:14] #6070 closed

[2022-02-07 07:23] lindexi commented on #935
The `WispLogic.CoalesceAndQueueStylusEvent` code in
[.NET 4.7 for Windows 10 Creators Update](https://referencesource.microsoft.com/DotNet47RS2.zip), DotNet47RS2.zip:

[code]

The code in dotnet 6.0.1:

https://github.com/dotnet/wpf/blob/0350d04790959e8ebdd3ceab0d34a40f811f019d/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Wisp/WispLogic.cs#L162-L264

[2022-02-07 08:16] haefele commented on #5730
A lot of our customers are also impacted by this bug. Is it possible this fix can still be included in the 6.0.2 version?

[2022-02-07 08:23] czdietrich commented on #5730
Unfortunately not. [6.0.2 will come on Tuesday](https://github.com/dotnet/runtime/issues/64529#issuecomment-1025672285). So we have to hope for 6.0.2 March.

[2022-02-07 09:00] the-black-wolf commented on #48
If you are referring to Microsoft's EEE implementation of vGPU/DX that they are trying to push into kernel, don't get your hopes up just yet. Linux team will not allow either to go into graphics section of Linux kernel until its fully open sourced and thus usable on all Linux distributions and not only on WSL. And they shouldn't allow them, WSL is bad enough EEE push against Linux without making i

[2022-02-07 11:54] vedeevi commented on #1825
Is this issue got fixed and by when can we expect this release available to developer community... We are also facing this issue and need a fix as it is causing problem to Accessibility challenged users for the apps developed using WPF XAML.

Thanks,
vedeevi.

[2022-02-07 18:19] lostmsu commented on #3883
I think I might have a very similar issue where binding uses attached property instead of the main property. E.g. I have a `MyControl` with its own `DependencyProperty` `Prop` of type `IEnumerable`, and also an attached property with the same name `Prop` defined in a custom class `Behavior`.

Given this setup, on loading XAML I **randomly** get the binding to be attached to either `MyControl.Prop`

[2022-02-07 20:44] miloush commented on #6041
@MohanramAnbukkarasu do you have a project that reproduces the issue? As I noted I cannot reproduce it myself in a new project. (I can reproduce the IME behavior in GTK+ but not in a WPF app.)

[2022-02-07 22:23] Symbai opened #6082 "High GPU usage"
* .NET Core Version: 3.1 and 6.0
* Windows version: Windows 10 and Windows 11
* Does the bug reproduce also in WPF for .NET Framework 4.8?: I dont know, all apps are only .NET (Core)
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No

 **Problem description:**
For some people my applications use like 20-40% of GPU usage, for some even 90%

[2022-02-08 00:41] lindexi commented on #6082
@Symbai Can I know what happened to your app?

[2022-02-08 13:57] #4119 closed

[2022-02-08 13:57] #5448 closed

[2022-02-08 15:10] igugalov opened #6084 "Minimize information inside "MyApp.deps.json" file"
* .NET Core Version: .Net 5.0.13
* Windows version: 10.19043
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
Having a MyApp.deps.json file is requiring all dependent libraries to be packaged in my installer. This does not make sense to me because when my app was running on .NET Framework I wasn't packaging all these dll files inside my installer. I have

[2022-02-08 18:00] tomasfil opened #6087 "WPF DataGrid memory leak"
**Problem description:**
 I originaly thought this was issue of ReactiveUI:
https://github.com/reactiveui/ReactiveUI/issues/3178

but it turns out it is issue with WPF somewhere.

This issue exists for me on VS 2022, VS2019, no matter if it is debugger or not, NET5, NET6, NET CORE 3.1

 **Actual behavior:**
Objects are not  getting garbage collected after removing them from ObservableCollection wh

[2022-02-08 18:20] tomasfil commented on #6087
Ok, to add. I did update the repo, the issue is the same with using ItemsControl.

You can just comment/uncomment setting the ItemsSource in MainWindow.xaml.cs

This is huge app breaking issue inside WPF.

[2022-02-08 21:06] Starwer opened #6091 "Displaying an Image from a byte[] in an ItemControl leads to huge memory leak"
* .NET Core Version: 6.0 or any other .NET core version I could try
* Windows version: 10
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
I need to display an image which is in a form of `byte[]` (array of byte) in a WPF `ItemsControl`, but everything I could try leads to memory leak. I use what I think to be the canonical MVVM approach to do so. To ena

[2022-02-09 00:49] lindexi commented on #6091
@Starwer Could you see https://github.com/dotnet/wpf/issues/2397 ?

[2022-02-09 03:18] hwybao commented on #2591
Hi, can you upload a demo with source code? thank u : )

[2022-02-09 06:10] gurpreet-wpf commented on #6082
@Symbai Have you tried any other DirectX based application on the same machine?

[2022-02-09 06:14] Symbai commented on #6084
.NET (Core) works differently than .NET Framework. So don't expect the same behavior. Please read the [docs](https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing) to get more information about the  `deps.json` file.

[2022-02-09 06:15] Symbai commented on #6082
Yes all non-WPF applications run fine. But all WPF applications instead have a high GPU usage under the given circumstances.

[2022-02-09 06:16] gurpreet-wpf commented on #6087
@tomasfil Is it reproducible in .NET Framework?

[2022-02-09 06:18] gurpreet-wpf commented on #6091
@Starwer I hope we can mark this as duplicate of #2397 and close it?

[2022-02-09 07:02] tomasfil commented on #6087
@gurpreet-wpf Yes. I did update the repository:
https://github.com/tomasfil/ReactiveUI_Tests/tree/WithoutReactiveUI/MemoryLeak_WPF_NetFramework

[2022-02-09 07:34] Starwer commented on #6091
Thanks @lindexi and @gurpreet-wpf ! I really value your responsive reply with a pointer to a potential solution.

However, the #2397 trick is not really something addressing a pure MVVM approach... In my example, I only control the View Model contrary to the other issue where it instantiates the controls directly in the code. I doubt we could call that a duplicate then.

Anyway, I'll try this tric

[2022-02-09 10:11] igugalov commented on #6084
This issue gives much more clarity to the problem I am facing https://github.com/dotnet/runtime/issues/48792, but still it does not give a feasible solution to the problem. Still I haven't found a possibility to customize the MyApp.deps.json file in any way except when adding `Private=false` to the projects.

[2022-02-09 16:07] marcauto commented on #2491
Is this a problem only with Windows 10 or is a problem also in the other Windows (7, p.e)?

[2022-02-09 16:18] GuangSunshine commented on #2491
Only tried on Windows 10, do not know about other Windows.

[2022-02-09 18:50] matthew-a-thomas commented on #6026
This exception popped up again. Here are the OS and runtime involved this time:

[2022-02-09 19:55] Tetedeiench opened #6096 "Trimming for WPF - Enable the feature, or give us a way to force the include an assembly"
I was considering moving my application from .net Framework to Net code and encountered a show stopper. One of your team member on Reddit suggested I open an issue, so here I am !

My application ( you can easily find it using my profile, i'm just avoiding advertising here) is used by many (20k+ downloads a day), and Microsoft is one of my customers.

On to my requirements :
- SIngle exe (no insta

[2022-02-09 21:17] MichaeIDietrich commented on #6026
Might it be possible that your window has an extraordinary long title?

The call stack shows that a WPF layout update has been triggered which also refreshes the accessibility properties of the window. And it fails updating the `AutomationName` when trying to read the window title using the Win32 function `GetWindowText`. A fixed buffer of 512 characters is passed, it this is not enough, the funct

[2022-02-09 21:20] rickbrew commented on #5305
If you're doing interop to DWrite in C#, I highly recommend making use of @tannergooding 's [TerraFX.Interop.Windows](https://github.com/terrafx/terrafx.interop.windows) package. It's written to be as low-overhead as possible, and will be the best performing solution (I did take a look at e.g. https://github.com/ThomasGoulet73/wpf/tree/managed-dwrite and it is using some patterns, such as liberal

[2022-02-09 21:39] tannergooding commented on #5305
Also noting that `microsoft/cswin32` is driven off of `miocrosoft/win32metadata` which in turn builds its metadata using `dotnet/clangsharp` (which I maintain) + some post processing.

TerraFX.Interop.Windows is just using `dotnet/clangsharp` and skips the other bits. It also only provides the low-level unsafe/bindings and so is basically guaranteed to be as low-overhead and as 1-to-1 as you can g

[2022-02-09 22:47] Starwer commented on #6091
I've implemented the #2397 workaround to the example of this post.
I could confirm that this definitely solves the memory leak problem ! 👍

Here is the modification that went successful in the previous code:

[code]

**So that's the good news. Unfortunately, any attempt I could do to keep the code more or less MVVM failed. Here a few things I tried:**
Trying to free on a Unloaded event in the imag

[2022-02-09 23:18] ThomasGoulet73 commented on #5305
Thanks @rickbrew and @tannergooding for the suggestion! I don't think we could use TerraFX.Interop.Windows in WPF as a dependency because of its size. It might be highly trimmable but WPF is not trimmable.

So it looks like there's 3 choices (In no particular order):
- Write it by hand. Cons: Might make mistakes or use slower code.
- Use CsWin32. Cons: Still in beta.
- Use only required files from

[2022-02-09 23:23] tannergooding commented on #5305
Using TerraFX.Interop.Windows in WPF probably isn't feasible; but pulling it in or utilizing `dotnet/clangsharp` to only generate blittable bindings for the parts of the Windows SDK it needs should be.

[2022-02-09 23:29] rickbrew commented on #5305
Yeah, I meant to say to _copy_ the code from TerraFX, not reference the package itself.

[2022-02-10 05:30] ThomasGoulet73 commented on #5305
@tannergooding I think I'll do what you suggested and use `dotnet/clangsharp`. I tried it locally and it looks very easy to generate the required bindings using `dotnet/clangsharp` and it's better than doing it by hand. Thank you both!

[2022-02-10 08:37] tomasfil commented on #6087
@gurpreet-wpf Does the memory leek happen on your machine as well? It is currently breaking all of my applications, which were fine till now.

[2022-02-10 09:53] arunas-baluzis commented on #6087
I tested the sample app [ReactiveUI_DataGrid_MemoryLeak](https://github.com/tomasfil/ReactiveUI_Tests/tree/WithoutReactiveUI/ReactiveUI_DataGrid_MemoryLeak ) in branch `WithoutReactiveUI` built for .NET 5 and .NET 6 using Visual Studio 2022.

Checking with memory profiler shows there is no `TestModel` objects left in the memory after the app cycle stopped. Forcing garbage collection releases the m

[2022-02-10 10:59] tomasfil commented on #6087
@arunas-baluzis

Well, I did download trial of dotMemory to have the same view, but the memory fixes itself only after clicking "Force GC". If you dont do that, then the memory stays after minutes of runtime:
![image](https://user-images.githubusercontent.com/34779382/153386527-662a914b-96d3-4b2f-9a73-c19a95ffd7e5.png)

To prove something is not right I did edit ty cycle to run slower, for the UI

[2022-02-10 12:47] tomasfil commented on #6087
@gurpreet-wpf @arunas-baluzis
Minimaly I have at least one person confirming the same behaviour:
https://stackoverflow.com/questions/71055368/wpf-itemssource-memory-leak?noredirect=1#comment125622231_71055368

[2022-02-10 12:53] arunas-baluzis commented on #6087
Thanks, @tomasfil.
I confirm there is a memory leak in WPF when using your example.
Some time ago I faced memory leak too in a similar scenario, will post here more details when I retest my case.

[2022-02-10 12:55] tomasfil commented on #6087
This must get addressed by WPF team ASAP, it is issue for many controls working with ItemsSource, honestly I dont understand how this is not wide spread issue already.

[2022-02-10 13:13] luojunyuan opened #6103 "Show a new window as CenterScreen bugged with dpi PerMonitorV2 at second screen"
* .NET Core Version: 6.0.102
* Windows version: Windows 11 21H2 22000.434
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

I have two monitors. One set as primary screen with dpi scale 300%, another one dpi 100%.

Add `app.manifest` to the project (code below). Showing a window at the second screen with `WindowStartupLocation = WindowStartupLocation.Cen

[2022-02-10 14:49] philfontaine opened #6111 "WPF App corrupted when using GitHub Action setup-dotnet for .NET 6"
### Describe the bug
The WPF app is built with GitHub Actions. The compiled application simply does not work (nothing launches, nothing appears).
The App works fine when compiled locally.
The App was created using the default WPF template, so it's a blank page.

### To Reproduce
I have a repo here https://github.com/philfontaine/gh-actions-wpf-net-6-bug showing the bug.
The `vTest1` release contai

[2022-02-10 14:51] arunas-baluzis commented on #6087
I created a sample to demonstrate .NET6 WPF memory leak when using ListView with ObservableCollection: https://github.com/arunas-baluzis/WPF-ListView-MemLeak

The app adds a set of items to the ObservableCollection and then moves the same items around in a cycle. The result is that the memory usage grows while moving items. When the app stops moving items, the memory usage doesn't go down, forcing

[2022-02-10 15:08] tomasfil commented on #6087
So the issue exists with ItemsControl, DataGrid, ListView.

For my samlpe this is key retention:
![image](https://user-images.githubusercontent.com/34779382/153435848-ba3d7e76-c440-45fd-9849-b08607ee9929.png)

And there is stack trace creation for the ConditionalWeakTableEntry:
![image](https://user-images.githubusercontent.com/34779382/153435991-db2b3105-96bf-46a0-a11a-e29191e14bf4.png)

[2022-02-10 15:30] arunas-baluzis commented on #6087
I retested my above sample by targeting .NET 4.8 on Visual Studio 2022, the memory leak is there. Updated the above comment.

[2022-02-10 15:37] kant2002 commented on #3811
Not sure about future. But at least some progress with taking community contribution is happening. It requirest patience, but smallish PRs flowing inside codebase and fixing a bit of trimming issues here and there. It's far from perfect, and I did not expect large-scale improvements. At the same time I would like to say that custom build of WPF is easy to use, and if issue with trimming would be s

[2022-02-10 15:59] LaughingJohn opened #6106 "Spell Check very slow and causes UI to become unresponsive"
.NET Version: I tried this with .Net Framework 4.5.2, 4.7.2, 4.8 and .Net (Core) 6.0.
Windows version: Windows 11
Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

Hi,

The spell checking is really slow in our Application (.Net 4.7.2) and causes the UI to become unresponsive and essentially unusable until the spell check is complete. This affects both the text box and the rich textb

[2022-02-10 16:22] tomasfil commented on #6087
For now I believe the issue is here:
https://referencesource.microsoft.com/#PresentationFramework/src/Framework/System/Windows/Controls/ItemCollection.cs,570d5ec42ffdd6a3,references
![image](https://user-images.githubusercontent.com/34779382/153450665-7381012e-574d-45e8-b1a3-59d461a67203.png)

Those calls to hooks are originating from this
![image](https://user-images.githubusercontent.com/3477938

[2022-02-10 16:34] batzen commented on #6087
`OnItemsSourceChanged` is only called when a different `ItemsSource` than the current is assigned, not when single items are added/removed/replaced.

[2022-02-10 16:39] tomasfil commented on #6087
@batzen I did decompile the sources and thes two breakpoints are getting hit again and again, finnally calling HookCollectionView, but almost never UnhookCollectionView.

@batzen
From the memory snapshots the leaked WeakEventTable originate from this.

Please go on, download the sample I provided, decompile the PresentationFramework, set breakpoints and check for yourself how many times HookCollec

[2022-02-10 22:05] ClosetBugSlayer commented on #5967
WPF should be using TaskDialog not MessageBox. Every supported version of Windows has this API now.

[2022-02-10 22:26] psmulovics commented on #5967
https://docs.microsoft.com/en-us/windows/win32/controls/task-dialogs

[2022-02-10 22:33] RussKie opened #6109 "Issue building with Windows Desktop 6.0.2"
After updating to 6.0.2 you may experience issues running WPF apps built against 6.0.2 on 6.0.0 or 6.0.1 runtime with the following error.

[code]

For an available workaround please refer to https://github.com/dotnet/core/issues/7176.

[2022-02-10 22:38] RussKie commented on #5967
Windows Forms SDK provides an [app.manifest by default](https://github.com/dotnet/winforms/blob/12d87648900ba1668c0bad7e63c4cba8f58c5abb/src/System.Windows.Forms/src/System/Windows/Forms/Application.cs#L835-L837), so the comctl 6.0 is used by default as well (with the ubiquitous `Appplication.UseVisualStyles()` call in Program.cs).
I don't know if WPF provides a default manifest, so this is someth

[2022-02-10 22:42] RussKie commented on #5967
It isn't straightforward to correctly use Win32 API, and it requires a lot of elbow grease without managed wrapper (e.g., https://github.com/dotnet/winforms/pull/1133).

[2022-02-11 00:12] marcpopMSFT commented on #6111
Might be the same as https://github.com/dotnet/winforms/issues/6663

[2022-02-11 00:41] lindexi commented on #5305
I don't think it matters what library to choose.

[2022-02-11 02:34] rephiled commented on #707
I have this issue on a new Alienware Aurora 13 I cant find anything like Nahimic on it and I don't have any computer skill what can I do

[2022-02-11 07:13] antoinebj commented on #6087
FYI this is what my profiling session looked like for your DataGrid example while attached to the Visual Studio debugger:

![image](https://user-images.githubusercontent.com/6056675/153550813-00871377-6a87-4ba8-82c1-bff1e9b67d18.png)

And this is what it looked in Release build running without the Visual Studio debugger attached:

![image](https://user-images.githubusercontent.com/6056675/15355089

[2022-02-11 07:22] arunas-baluzis commented on #6087
Thanks, @antoinebj, for pointing out this factor.
I retested my previously posted sample (https://github.com/arunas-baluzis/WPF-ListView-MemLeak) of the memory leak with the Visual Studio debugger attached and without. Indeed, there is no memory leak when run outside the Visual Studio.

[2022-02-11 07:31] tomasfil commented on #6087
@arunas-baluzis No, there is, but much slower build up.

[2022-02-11 07:36] antoinebj commented on #6087
I believe that he was referring to his sample, which I can confirm to not exhibit any memory leak.
On your DataGrid one though, I haven't looked deeper to see what remains in memory. From my short test it does look like the low points after garbage collection increase over time.

[2022-02-11 07:41] tomasfil commented on #6087
Ok, please do check it out as soon as you have time, it is pretty big issue to lot of our applications. I believe that the main reason is that UnhookCollectionView doesn´t get called.

[2022-02-11 08:22] antoinebj commented on #6087
I profiled your sample again:

![image](https://user-images.githubusercontent.com/6056675/153556966-c99591c4-b28b-4ee2-a793-26641b687b0c.png)

Although it shouldn't have changed anything regarding memory usage, I'll point out that in my run I removed the call to `ToList()`, added a button to manually stop the loop and added `DispatcherPriority.Background` as priority to the `Dispatcher.Invoke` cal

[2022-02-11 08:30] tomasfil commented on #6087
@antoinebj Please let it run for like 15 minutes, then you will have hundred of thousdands WeakEventTable objects in memory, which are not getting collected.

[2022-02-11 11:49] Viveksach commented on #2854
Hi,  same issue is occurring when working with  .Net 5. Can someone confirm if it is already applied to .Net 5 and if not when will it be applied and in which release version it will be available?

[2022-02-11 11:51] lindexi commented on #2854
@Viveksach Could you update to .NET 6.0.2 ?

[2022-02-11 11:55] Viveksach commented on #2854
@lindexi we can not update our solution to .Net 6 right now due to the Visual studio 2019 restrictions. Does the fix has not been released for .Net 5 ?

[2022-02-11 13:19] igugalov commented on #6084
`<PreserveCompilationContext>true</PreserveCompilationContext>` looks like a solution, but it seems it's not working on WPF projects.

[2022-02-11 13:32] Squall-Leonhart commented on #707
Nahimic is on several alienware machines,

https://www.reddit.com/r/MSI_Gaming/comments/l45fnj/guide_how_to_uninstall_nahimic_completely_from/

[2022-02-11 14:23] rephiled commented on #707
Thanks for this

[2022-02-11 14:24] rephiled commented on #707
Thanks for this

[2022-02-11 17:42] philfontaine commented on #6111
@marcpopMSFT Yes it is the same problem. I applied the workaround and it works now. Thanks a lot!

See also https://github.com/dotnet/core/issues/7176

[2022-02-11 17:43] philfontaine commented on #6111
https://github.com/dotnet/wpf/issues/6109 was created after too so I'll close this one.

[2022-02-11 17:43] #6111 closed

[2022-02-11 18:37] dotMorten commented on #6109
We're hitting this too. Didn't happen with 6.0.1

[2022-02-12 00:25] batzen commented on #6087
@tomasfil We were both right.
`OnItemsSourceChanged` is only called once on the `DataGrid`, but every row contains a row presenter which is also an items control on which `OnItemsSourceChanged` is called.

But that's not the issue/leak you noticed.

I think the issue has something to do with `PropertyRecord` and it's associated `ListenerList` as the capacity of it's `_list` (`FrugalObjectList`) on

[2022-02-12 02:19] driver1998 commented on #4762
Speaking of C++/CLI, there is ongoing work on porting `DirectWriteForwarder` to C#: https://github.com/dotnet/wpf/issues/5305.
@wjk

[2022-02-12 03:30] kant2002 commented on #5305
So seems to be that’s unlock me on WPF and NativeAOT support. @ThomasGoulet73 you should expect contributions when this appear on my radar

[2022-02-12 05:09] kant2002 commented on #5305
Okay I take a look at the source code only. Did not have access to Windows PC right now (will test in next couple days max).

I would like to discuss following idea:
1. I think rewrite should remove CPP `DirectWriterForwarder` and replace with almost identical (if not fully implemented) library. Same logic applies to `System.Printing`.
2. That way we can create out-of-band package which inject int

[2022-02-13 17:47] Andrej123456789 commented on #5967
I will try it soon

[2022-02-14 05:10] gurpreet-wpf commented on #6096
Closing this issue as it is duplicate of #3811

[2022-02-14 05:10] #6096 closed

[2022-02-14 05:13] gurpreet-wpf commented on #6091
Thanks @Starwer for the confirmation.

[2022-02-14 05:13] #6091 closed

[2022-02-14 07:39] yutengRen opened #6121 "WPF程序调用winform的控件无法设置Zindex"
使用Microsoft.DwayneNeed.dll这个DLL才能在WPF中设置winform控件的Zindex。
但是这个DLL有个bug，就是创建了几十次控件后窗体上就会有个阴影。
这个问题有办法能解决吗？

[2022-02-14 17:54] oli-g-sk commented on #707
1. Open **Start** and search for **Services**
2. Look for the _Nahimic service_, **right click** and choose **Properties**
3. Set its Startup Type to **Disabled**
4. Restart

### 🖼️ Screenshots
1.  https://ibb.co/S32LbVm
2. https://ibb.co/DtGwSY7
3. https://ibb.co/sjPtKJ2

[2022-02-14 22:44] Ray-Wynn commented on #4878
I believe the problem described requires handling in DataGrid's DataGridTemplateColumn - CellTemplate and CellEditingTemplate. Instigating the data binding at the cell level resolves the issue.

Hopefully the following examples (derived and refined from others work) help?

https://github.com/Ray-Wynn/Example-IDataErrorInfo
https://github.com/Ray-Wynn/Example-INotifyDataErrorInfo

[2022-02-15 09:48] HastaCs opened #6127 "datagrid does not change fontsize on some rows"
* .NET Core Version:  2.1.509
* Windows version: 10
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes/No

 **Problem description:**
 When i change the fontSize from code and save it in Settings some rows are not changing the size

[code]
[code]
![imagen](https://user-images.githubusercontent.com/53431308/154036579-dd77cf1a-0e26-4bcb-9141-e09f573c1166.png)

[2022-02-15 10:03] liwuqingxin commented on #2591
Sorry @hwybao. I can only offer the code of xaml. You should **focus on** the usings of class **RightFrozenSupportedDataGridCellsPanel**. I hope it could help.

[code]

[2022-02-15 10:42] vishalmsft commented on #5880
@miloush

The implementation will be used ALT + Arrow. That shall be safe.

This is a nice test case. cc: @anjalisheel-wpf

Current release cycle do not allow us to support more. But yes, this would have been a nice addition. Thank you for suggestion

[2022-02-15 11:04] miloush commented on #6127
Do you have a project that reproduces the issue?

[2022-02-15 11:10] miloush commented on #6121
Google Translate:

But this DLL has a bug, that is, after creating dozens of controls, there will be a shadow on the form.
Is there a way to solve this problem?

Microsoft.DwayneNeed.dll is not part of WPF so I don't expect anyone here would be able to do fix any issues with it.

Do you have any code that shows the problem?

[2022-02-15 12:11] anjalisheel-wpf commented on #5227
@[merriemcgaw](https://github.com/merriemcgaw)

In this we are adding keyboard resize support for DataGrid and GridView. I have incorporated changes for DataGrid, and I have changes ready for GridView as well.

But for GridView, we are facing challenges while making this change as  we are not able to get the focus on GridHeadersColumns, if we will not be able to get the focus then how will we perf

[2022-02-15 13:56] zlatanov commented on #6087
Are you guys sure that you aren't hitting this issue in Visual Studio 2022 - https://developercommunity.visualstudio.com/t/Using-Hot-Reload-in-WPF-project-in-VS-20/1591986?

[2022-02-15 14:01] MohanramAnbukkarasu commented on #6041
@miloush , Please check the attached sample which I have used to record the video I have provided in my first update
[WpfApp1.zip](https://github.com/dotnet/wpf/files/8069666/WpfApp1.zip)

[2022-02-15 14:05] antoinebj commented on #6087
@arunas-baluzis was most probably experiencing that hot reload issue, yes.
However, this issue is about @tomasfil's claim that his DataGrid sample exhibits a memory leak even when running it outside any debugging environment, so it wouldn't fall under the hot reload issue.

[2022-02-15 14:23] miloush commented on #6041
@MohanramAnbukkarasu thank you for the demo project. However when I run the exe file and follow your steps, it works for me in place:

![image](https://user-images.githubusercontent.com/10546952/154080665-76d0a9fa-4856-42a1-be86-13aefe90b7d4.png)

What Windows version are you using?

[2022-02-15 14:59] tomasfil commented on #6087
@zlatanov Yes, I am sure. Tested on VS 2019/2022 and Debug/Release and with/without attached debugger.

[2022-02-15 16:36] vishalmsft commented on #5227
cc: @Swati1700
duplicate: #5880

[2022-02-15 17:52] RifHut commented on #6111
also i get errors after switching to dotnet version 6.0.0 and 6.01 and 6.0.2
all work fine on .net version 5.0

[2022-02-15 18:39] HastaCs commented on #6127
ups.. the EnableRowVirutaliztion works!... thank you..

[2022-02-15 18:41] miloush commented on #6127
I would keep the issue open, disabling virtualization is only a workaround that is not always acceptable.

[2022-02-15 18:42] kant2002 commented on #5305
@ThomasGoulet73 when trying to build from aforementioned branch, I receive bunch of C++ errors like this
[code]

Is this expected?

[2022-02-15 18:55] ThomasGoulet73 commented on #5305
@kant2002 I don't know, it looks a bit weird. Do you have the same error on main ? Because I haven't changed anything in `WpfGfx`.

[2022-02-16 00:25] ClosetBugSlayer commented on #6082
We've known for a decade that WPF does not tesselate circles (and possibly rounded edges too) efficiently.

[2022-02-16 05:33] ThomasGoulet73 commented on #5305
@kant2002 I had the same error but I fixed it by running `git clean -xfd` and then starting a build. `DisableDirtyRectangles` was added recently so there might be a cache somewhere that fails the build when pulling the main branch.

[2022-02-16 07:12] kant2002 commented on #5305
Yeah. I remove `artifacts` folder and that was enough. I successfully launch empty WPF application from your branch.

For anybody interested in NativeAOT, it is still fails, now at `System.Printing` initializers.

[2022-02-16 08:54] NeilAllen commented on #1543
Getting the same issue, as the OP, with VS2022.

[2022-02-16 16:52] snickler commented on #6032
Hello, I was wondering if there were any updates on this?  @singhashish-wpf @dipeshmsft

[2022-02-16 19:25] vsfeedback opened #6137 "Binding errors when running in Visual Studio but not when directly executing the EXE"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Binding-errors-when-running-in-Visual-St/1463517)._

---
[severity:It bothers me. A fix would be nice]
(This is a repost of [this issue](https://developercommunity.visualstudio.com/t/Binding-errors-when-running-in-Visual-St/1294226) that I think was improperly closed and, as far as I can

[2022-02-16 23:28] ClosetBugSlayer commented on #5967
The only elbow grease is if you use an activation context, which I do personally just to be safe. Otherwise the default manifest should pull in the API as-is; it works for me in .NET 6 at least.

[2022-02-16 23:36] noahfalk opened #6138 "Add events that help do startup performance investigations"
This issue one part of a larger request being tracked in https://github.com/dotnet/runtime/issues/64993

When developers want to improve the startup time of their applications, a common approach would be to run the app while taking an ETW trace, identify the period of time that corresponds to app startup, and then analyze the app behavior during that window. It would be helpful to have one or more

[2022-02-17 00:44] lindexi opened #6139 "Can we public the `DefaultTextStore.Current.DocumentManager` property to create custom TextEditor with IME"
We should use the [ITfThreadMgr.SetFocus](https://docs.microsoft.com/en-us/windows/win32/api/msctf/nf-msctf-itfthreadmgr-setfocus) to make the [IME(Input Method Editors)](https://docs.microsoft.com/en-us/windows/apps/design/input/input-method-editors) focus TextEditor in application in WPF.

But we can only do that by InputMethod.IsInputMethodEnabledProperty.

https://github.com/dotnet/wpf/blob/8e

[2022-02-17 08:35] hwybao commented on #2591
Thank you so much!!! @liwuqingxin  I implemented this function by referring to your code.

[2022-02-17 09:57] #5443 closed

[2022-02-17 09:57] #5441 closed

[2022-02-17 09:57] #5440 closed

[2022-02-17 09:58] #5444 closed

[2022-02-17 09:58] #5835 closed

[2022-02-17 09:58] #5442 closed

[2022-02-17 12:32] dipeshmsft commented on #6032
@snickler , we are still looking into this issue.

[2022-02-17 22:25] snickler commented on #6032
Awesome, thanks @dipeshmsft !

[2022-02-18 02:41] essoperagma opened #6141 "How to pass a shared handle to D3DImage in a managed way?"
I have a Win32 application that is rendering a 3D scene onto a **shared texture** using Direct3D 9ex.

I also have a WPF application, running as a **separate process**. It has access to the shared handle of the texture previously created by the 3D application.

To be able to display this image in my WPF app, I am trying to utilize 3D3Image.SetBackBuffer, which requires a pointer to the texture.
[c

[2022-02-18 03:46] ThomasGoulet73 commented on #5305
@kant2002 I took a look at you're ideas but I think we should just move the code from DirectWriteForwarder into PresentationCore (Where it was in .Net Framework). By doing this, we can move code in small chunk instead of replacing DirectWriteForwarder with a new dll at once. I don't think binary contract matters here because DirectWriteForwarder is an internal only dll with its internals visible t

[2022-02-18 04:07] ThomasGoulet73 commented on #5305
1. Yes I'll try to do this in the coming weeks to try to get as much changes as possible in .Net 7.
2. Right now I only did manual testing with sample apps. There might already be text rendering in the dotnet/wpf-test repo related to text rendering that we could use.
3. My initial plan was to keep my current branch as a baseline and extract changes in small chunks and open a PR upstream, pull the

[2022-02-18 04:46] kant2002 commented on #5305
I just trying to ask you opinion, so we will have coherent understaning. separate branch is fine for me. I would interested in DirectWriteForwarder rewrite because I want make WPF NativeAOT friendly, but that's bigger amount of code which would be separate.

So question do we aligned on NativeAOT goal, or I should maintain slightly separate fork and we will be kept in sync? I prefer to have more p

[2022-02-18 07:31] vsfeedback opened #6142 "PriorityBinding for Image Source property does not fail over to next in row on UnsetValue"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/PriorityBinding-for-Image-Source-propert/1044519)._

---
<p><a href="https://aka.ms/dc/file?name=B752cf1504ded4f0eb23d8f19f23a7397637494443398424808_customcontrol-source.zip&amp;tid=752cf1504ded4f0eb23d8f19f23a7397637494443398424808">customcontrol-source.zip</a>I have a <code>PriorityBi

[2022-02-18 07:31] vsfeedback opened #6143 "WPF TabControl bug"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/WPF-TabControl-bug/1111453)._

---
There’s a WPF bug with Toolbars inside TabControls, starting with .NET Framework 4.7.1 and it also affects .NET Core. Location of bug in MSFT code, and workaround at bottom.

**Repro**:

1.  Create a WPF Application for .NET Framework 4.7.1 or later, o

[2022-02-18 07:31] vsfeedback opened #6144 "Rendering Labels with TranslateTransform"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Rendering-Labels-with-TranslateTransform/1383441)._

---
[severity:It bothers me. A fix would be nice]
Hello,
i do have the following Code:

[code]

this method is called on an Menu-Eventhandler and it shows an coordinate system with (0,0) in the mid of the canvas. It should show a label

[2022-02-18 07:31] vsfeedback opened #6145 "System.InvalidOperationException while defining parenthesis in column property in DataTable collection"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/SystemInvalidOperationException-while-d/1397282)._

---
I have defined the column name with parenthesis in the DataTable collection. In this case, while loading DataGrid System.InvalidOperationException. Replication procedure to reproduce the reported issue,

Step 1: set the column name

[2022-02-18 07:32] vsfeedback opened #6146 "System.ArgumentException occurs while sorting the column when column name contains a comma(,) in DataTable collection"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/SystemArgumentException-occurs-while-so/1407323)._

---
I have defined the column name with a comma(,) in the DataTable collection. In this case, while sorting the column in DataGrid System.ArgumentException occurs. Replication procedure to reproduce the reported issue,

Step 1: set the

[2022-02-18 07:32] vsfeedback opened #6147 "Windows MediaPlayer finalizer hang"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Windows-MediaPlayer-finalizer-hang/1485862)._

---
Windows Media Player (the application) fails to play a specific video - an mp4 with h264 (High 4:2:2) profile. And then hangs the app when trying to close (window itself is closed, but app can be seen in task manager.

In WPF, I can repr

[2022-02-18 16:56] JVimes commented on #6143
# Code that's supposed to appear in step 2

Not sure why, but the Developer Community system turned the code block into spaces. Here's the code that's supposed to be in step 2 above. If someone could edit the original post to put this in there, that would be great.

[code]

[2022-02-18 21:26] Ibrahimogod opened #6151 "No Base Implementation For ICommand Interface for WPF apps"
Implementation needed for Command Base Class That works for WPF Command Binding as it works for Xamarin Forms

[2022-02-18 23:01] ebussa opened #6153 "XamlC error after upgrading Visual Studio / SDK 6.0.2"
After updating Visual Studio / SDK 6.0.2, I am seeing the following Xaml compiler errors in my WPF App:

[code]
I have isolated the cause of these errors to a package reference that references 'Xamarin.Forms'.  This package reference worked fine prior to installing the update.

### Repro Steps

1. Create a new WPF App.
2. Add a package reference to 'Xamarin.Forms'.
3. XAML compiler can not resolve

[2022-02-19 20:04] essoperagma commented on #6141
I have managed to get this done using an unmanaged dll and calling the following functions:
- [CreateWindow](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-createwindowexa)
- Direct3DCreate9Ex
- IDirect3D9Ex::CreateDeviceEx
- IDirect3DDevice9Ex::CreateTexture
- IDirect3DSurface9::GetSurfaceLevel

Even though I'm unblocked at the moment, I think it would be nice to have this

[2022-02-20 00:55] KMastalerz commented on #3904
WPF never dies.

Yes there are multiplatform solutions, but WPF has so many open source packages that we can build reliable apps in matter of weeks.

For many business applications cross platform isn't actually needed when you build an app for accounting team. Also quite often you wouldn't want to buil a web app when companys boundwith is so stacked that nothing is loading fast.

for example:

If

[2022-02-20 01:48] noseratio commented on #3904
Sure it won't. But any modernization (e.g., WPF still uses DirectX 9) or new features that may require substantial changes on WPF side (e.g., proper WebView2 support) are very unlikely at this point.

I browse [WPF commit history](https://github.com/dotnet/wpf/commits/main) every now and then, it hasn't been much going on there for quite a while.

[2022-02-20 01:53] ClosetBugSlayer commented on #3904
I could have sworn I saw on a blog years ago that WPF was upgraded to DX10 or 11...

To do WebView2 right would mean hosting the control within WPF's airspace. I know it can be done; there was once an experimental WPF feature that would do this for any HWND. And why on earth would I want to host WebView2 anyway?

[2022-02-20 04:44] noseratio commented on #3904
@ClosetBugSlayer

To my best knowledge it's still DirectX 9, would be happy to be proven wrong.

Part of the main reason may be, these days WPF is mostly maintained by .NET Framework folks (driven by ongoing Visual Studio 2022 development, which is based on .NET Framework 4.8). Those are mostly minor bug/security issue fixes, imposed by the strict compatibility requirements of .NET Framework. So n

[2022-02-20 16:12] Andrej123456789 commented on #5967
I tried this but I can't compile project anymore.  [Here](https://gist.github.com/Andrej123456789/3b692446ef4a05e36a90dd6484309a82) is file so you can check it out.

![image](https://user-images.githubusercontent.com/83548580/154852303-2b4689f5-64d1-4fe8-9d35-2ada6b757697.png)
Here is screenshot of error

[2022-02-20 16:17] Andrej123456789 commented on #5967
Nevermind, now works

[2022-02-20 16:18] Andrej123456789 commented on #5967
But point of this issue to use TaskDialog as default

[2022-02-20 16:22] miloush commented on #5967
@Andrej123456789 no the original issue is asking for WinForms matching message box, and that is solved using manifest. If you have a TaskDialog API request, upvote #2902.

[2022-02-20 16:27] Andrej123456789 commented on #5967
Oh

[2022-02-21 00:39] lindexi commented on #6141
@essoperagma Could you try my demo?

https://github.com/lindexi/lindexi_gd/tree/f4c2f884b3fb006676aeef7e249055c5e2d8766d/RawluharkewalQeaninanel

[2022-02-21 00:56] noseratio commented on #3904
To my best knowledge it's still DirectX 9, would be happy to be proven wrong.

The main reason for that may be, these days WPF appears to be maintained by mostly by .NET 4.x Framework folks (driven by ongoing Visual Studio 2022 development, which is based on .NET Framework 4.8). Those updates are mostly minor bug/security issue fixes, imposed by the strict compatibility requirements of .NET 4.x Fr

[2022-02-21 04:51] Viveksach commented on #2854
@SamBent Could you please confirm if the fix has been released for .Net 5 version or still pending for next releases.

[2022-02-21 04:55] ThomasGoulet73 commented on #2854
@Viveksach The fix is not in a currently released version of .Net 5.0 but it has been merged and should be in .Net 5.0.15 according to the milestone on the pull request containing the changes for .Net 5.0 (https://github.com/dotnet/wpf/pull/6013).

[2022-02-21 05:34] singhashish-wpf commented on #6153
@ebussa Could you please check this https://github.com/dotnet/core/issues/7176 and try the workaround mentioned here?
Please confirm if it works for you.

[2022-02-21 05:50] MohanramAnbukkarasu commented on #6041
@miloush ,

Please find the OS details below.

![image](https://user-images.githubusercontent.com/44049406/154896885-89925523-e7d7-4dc0-abd6-d1051c87296b.png)

[2022-02-21 16:12] ebussa commented on #6153
The workaround does not work for this issue.

[2022-02-21 21:54] essoperagma commented on #6141
Thanks @lindexi. It seems that you have used a 3rd party package to access D3D functionality. I guess that is another way to unblock the development.

I'm wondering if this could be included in `D3DImage` type so we wouldn't need these relatively more difficult ways.

[2022-02-22 01:02] walterlv opened #6164 "The default font family of a WPF app in the zh-CN region is Segoe UI instead of Microsoft YaHei UI"
* .NET Core Version: 3.1.413, 5.0.403, 6.0.200
* Windows version: Windows 8/10/11 (since the first version of Windows 8 to the latest Windows 11)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes (even since the first release of WPF)

 **Problem description:**

The default font family of all the Windows apps in zh-CN region is Microsoft YaHei UI. However, it's Segoe UI in a WPF app

[2022-02-22 02:54] singhashish-wpf commented on #6153
Please share a sample repro project. Prior to that you can try with [6.0.3](https://github.com/dotnet/installer#table) once.

[2022-02-22 10:29] msedi commented on #2930
Any news on this?

[2022-02-22 11:30] Larhei opened #6165 "WPF Application Resources not loaded"
### Description

When starting an Application containing only 1 Resource in the Application.Resources Dictionary an not using StartupUri
the Application.Resources are empty.

### Reproduction Steps

1. Create a new WPF Application.
2. Remove StartupUri from App.xaml.
3. Override OnStartup in App.xaml.cs
`protected override void OnStartup(StartupEventArgs e)
        {
            base.OnStartup(e);

[2022-02-22 11:45] Viveksach commented on #2854
Ok. Thanks for the details @ThomasGoulet73

[2022-02-22 14:12] ebussa commented on #6153
I emailed you a zipped sample project.  I am reluctant to install "the latest bits" in 6.0.3.  Is that something you could check with the sample project?

[2022-02-22 16:12] singhashish-wpf commented on #6106
@LaughingJohn Could you please provide a sample repro for this issue?

[2022-02-22 20:40] timmi-on-rails commented on #5255
Can you rule out, that a virus scanner or windows defender might be locking the file?
In my case it is working relyably on one machine, but not on the other.

[2022-02-23 15:16] msedi commented on #5711
@ThomasGoulet73: Did you have any progress on your experiments? My output directory gets bloated and I cannot see any real output anymore.

[2022-02-24 10:24] unforgettableid commented on #2970
# In .NET 6, WPF HelloWorld doesn't shorten the timer interval

* I downloaded .NET 6.0.2 and the WPF [HelloWorld](https://github.com/microsoft/WPF-Samples/tree/main/Getting%20Started/HelloWorld) sample program.
* I modified the .csproj file to target `netcoreapp6.0-windows`.
* I entered `dotnet run`.
* While the HelloWorld window was still visible on-screen, I ran `powercfg -energy duration 5`.

[2022-02-24 19:24] matthew-a-thomas commented on #6026
This has happened again. The user said they had left our software running for a few days without really interacting with it.

[2022-02-24 19:30] randomascii commented on #2970
That's quite an essay. It is unfortunate that some parts of WPF (thanks for the investigation) raise the timer interrupt frequency and leave it raised.

I should probably delete or reword that sentence from my blog post. It's safe to assume that timeBeginPeriod does cost some energy and performance, although recent work on Windows 10 and above has reduced the cost.

I don't think that WPF will be

[2022-02-24 19:55] MichaeIDietrich commented on #6026
Usually when we discover errors that only occur for specific customers and we cannot reproduce those, we please that customer to collect a memory dump of the running application, so we can analyze the state of the application with our tools e.g. Visual Studio. In your case it might be useful to set up the Windows Error Reporting to collect a memory dump when your application crashes: https://docs.

[2022-02-24 20:01] matthew-a-thomas commented on #6026
Thank you @MichaeIDietrich for the ideas.

Just to be clear: the application isn't crashing. These exceptions are caught by our in-app exception handling. Unfortunately WER wouldn't help in this specific case.

But the general concept of trying to get some memory dumps is a good idea. I'll see what I can do.

[2022-02-25 05:04] kant2002 commented on #2968
Seems to be this issue can be closed after https://github.com/dotnet/wpf/pull/4909. Please open new issue, if some problems will be present.

[2022-02-25 05:04] #2968 closed

[2022-02-25 14:31] matthew-a-thomas commented on #6026
# Reproduction

But it's easy enough to trigger this exception by simply setting the system error to 122 within a message loop hook while handling the WM_GETTEXT message and returning zero:

[code]

Actually it's not even necessary to conditionally set the error. It also throws the exception if `SetLastSystemError(122)` is outside the if-statement.

But with the above then you get this exception s

[2022-02-25 14:56] trockefeller-pathway commented on #438
I recently started experimenting with .NET 6 and was thinking that maybe there were better options for opening a folder than there was before, and found this instead...

It's nice that the WinForms FolderBrowserDialog has been updated, so I figured that would be good enough, and it's easy enough to add.

But then, I started going down the rabbit trail of how am I going to deploy my shiny new .NET

[2022-02-25 14:57] FlsZen commented on #6026
This seems like it could be similar to what is being experienced in #4181 except it's a different error code being set by a hook in that case. I wonder if there's an easy way to capture stack traces when the error codes are set. I'm not an experiences win32 programmer, but maybe `SetWindowHookEx` and `WH_DEBUG` could be used to identify the hook that is leaving an error code set. Perhaps there is

[2022-02-25 16:19] unforgettableid commented on #2970
No worries!

A few years ago, it may have been true that WPF was basically unmaintained. However, I think Microsoft has resumed limited maintenance efforts. [(Source.)](https://visualstudiomagazine.com/articles/2020/09/30/wpf-survey.aspx)

I suspect it still might be preferable to wait a year or two before submitting a pull request. [(Source.)](https://github.com/dotnet/wpf/blob/main/roadmap.md)

[2022-02-25 16:57] snickler commented on #6032
As of Windows 11 Dev Channel build 22563 + .NET 4.8.9022.1, this is resolved! \o/

![image](https://user-images.githubusercontent.com/4016293/155755541-9592067e-d379-44ff-a9d5-9eb9815b3158.png)

[2022-02-25 18:33] matthew-a-thomas commented on #6026
# Another workaround

I think the following will more reliably work around this issue.

In general, P/Invoke the `SetWindowsHookEx` function with these parameters:
 * `idHook`: `WH_CALLWNDPROCRET` (12)
 * `lpfn`: _the function described below_
 * `hmod`: `IntPtr.Zero`, or 0
 * `dwThreadId`: _current thread's **native** ID_

The function signature for `WH_CALLWNDPROCRET` is described here:
https://

[2022-02-25 18:36] matthew-a-thomas commented on #4181
@DaveSenn @jairbubbles @deiruch Does [my workaround](https://github.com/dotnet/wpf/issues/6026#issuecomment-1051096657) for a very similar (identical?) issue help?

[2022-02-25 18:44] jairbubbles commented on #4181
Thx @matthew-a-thomas I don't think I've seen an occurence of this issue recently. I'm not sure why though...

[2022-02-26 08:34] #6032 closed

[2022-02-26 09:40] Squall-Leonhart commented on #707
This is reportedly resolved with standalone nahimic 1.8.6, and vendor softwares including it.

[2022-02-26 11:55] CleanCodeDeveloper commented on #438
Lets hope that our new Maintainers (announced here: [WPF Responsibility Update](https://github.com/dotnet/wpf/discussions/5849)) listen more to the community than the previous one. A good start would be to resolve this issue here.

[2022-02-26 22:32] miloush commented on #6144
The issue is the label has a negative margin and is center aligned. Negative margin creates a bounding box in which the control becomes aligned. Changing this behavior would be a breaking change.

The code can easily avoid the issue by not using center alignments, they wouldn't normally apply in Canvas anyway.

That said, nowhere in the documentation I found how negative margins/paddings affect th

[2022-02-26 23:40] miloush commented on #6145
Yeah this one I would consider a bug in WPF. The property path for the binding created by `DataGridColumn.CreateDefaultColumn` should be properly escaped.

Another symptom: if the name is inside parenthesis or contains a full stop, the binding does not work.

[2022-02-27 00:40] miloush commented on #6142
That is not how `UnsetValue` works. Returning `UnsetValue` from coerce callback has a specific meaning, see [Dependency property callbacks and validation](https://docs.microsoft.com/en-us/dotnet/desktop/wpf/properties/dependency-property-callbacks-and-validation?view=netdesktop-6.0#cancel-value-changes). Moreover, the documentation for [UnsetValue](https://docs.microsoft.com/en-us/dotnet/api/syste

[2022-02-27 02:15] miloush commented on #6146
Related to #6145 (`SortMember` is prefilled from binding's path in `DataGridBoundColumn.OnCoerceSortMemberPath`), but a separate set of issues.

The code responsible for translating WPF binding into .NET binding is [`DataView.CreateSortString`](https://referencesource.microsoft.com/#System.Data/fx/src/data/System/Data/DataView.cs,1157). According to the [Expression Syntax](https://docs.microsoft.c

[2022-02-27 20:50] GeraudFabien commented on #3904
Well they move [from 3.1 to 6](https://github.com/dotnet/wpf/commit/bde88458855fed7a914190713c4c0bc5fd2bdcf1) 27 days ago. It show how active it is.
https://github.com/dotnet/wpf/blob/main/roadmap.md#proposed-roadmap
[code]
[code]
Support for 3.1. awesome \0/

[code]
https://github.com/dotnet/wpf/blob/b3caf4aa15db57263cf94e79ab935246460279e2/roadmap.md

Well it change a lot since 2020.

[code]
One

[2022-02-28 09:17] singhashish-wpf commented on #6153
@ebussa didn't receive any mail. Please attach the sample repro here,

[2022-02-28 09:19] #6151 closed

[2022-02-28 09:38] singhashish-wpf commented on #6143
Please attach a sample repro to the issue.

[2022-02-28 10:22] gurpreet-wpf commented on #2854
PRs merged, closing this issue

[2022-02-28 10:22] #2854 closed

[2022-02-28 14:32] JVimes commented on #6143
@singhashish-wpf sure, here it is: [TabControlBug.zip](https://aka.ms/dc/file?name=Bdf04a33f951a44b59ccb3773ffe6d5e1637787278098324370_TabControlBug.zip&tid=df04a33f951a44b59ccb3773ffe6d5e1637787278098324370)

[2022-02-28 18:24] emako opened #6185 "MediaPlayer cant play the uri startswith `pack://...`"
* .NET Core Version: 6.0.2
* Windows version: win11
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Dont know
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? NO
* Security issues and bugs should be reported privately, learn more via our [responsible disclosure guidelines](https://github.com/dotnet/wpf/blob/main/README.md#repo

[2022-02-28 20:26] deiruch commented on #4181
Thanks for the tip, @matthew-a-thomas  ! I tried your workaround, to no avail.

The callback is installed correctly, and is even invoked occasionally. However, the callback is not called right before the exception hits.

[2022-02-28 23:15] ThomasGoulet73 commented on #6153
@ebussa By looking at your errors, it looks like your trying to compile WPF XAML files using Xamarin.Forms XAML compiler (XamlC is Xamarin.Forms XAML compiler). WPF XAML and Xamarin.Forms XAML are not compatible with each other which is why you get those errors. I don't have your sample repro but I would not recommend doing the repro steps in your post which adds both Xamarin.Forms and WPF to a si

[2022-03-01 00:59] lindexi commented on #6185
I wrote a demo to reproduce this problem: https://github.com/lindexi/lindexi_gd/tree/af15cde4b0628c2744a8b8eac14a791e2d4f7b54/KufayunurharnaLuragaruker

[2022-03-01 03:30] ThomasGoulet73 commented on #6185
MediaPlayer is a wrapper around the [Windows Media Player](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/api/_wmp/) which, to my knowledge, only supports path and URLs. You could extract the file from the assembly, save it to a file, play the file and then delete the file. This is not ideal but for small files (Which I suppose is your case since it doesn't really make sense to

[2022-03-01 03:52] lindexi commented on #6185
@ThomasGoulet73 How about throw an exception when input the `pack://` uri?

[2022-03-01 03:56] emako commented on #6185
Does MediaPlayer intend to append the API that passes the `Stream` parameter for opening file?

[2022-03-01 03:56] lindexi commented on #6185
![图片](https://user-images.githubusercontent.com/16054566/156101937-4379f6c7-526c-421d-8562-da3185426532.png)

Good catch. It will raise the MediaFailed event.

[2022-03-01 04:03] ThomasGoulet73 commented on #6185
You were faster than me 😄. Here's the code that throws when using pack for reference:
https://github.com/dotnet/wpf/blob/4af440108d50958a2ac3e3f67a454aa0cd142e5c/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/MediaPlayerState.cs#L844-L855

`Does MediaPlayer intend to append the API that passes the Stream parameter for opening file?`
This repo is probably not right place to ask

[2022-03-01 07:34] emako commented on #6185
Try VLC or extract the file from the assembly to fix problem.

[2022-03-01 07:34] #6185 closed

[2022-03-01 08:35] Flithor opened #6189 "Feature request: Add new "Negate" property in "Trigger" and "Condition" on use Trigger scene."
Sometimes we will need to use triggers to make some "not equals to value" scenarios, but for such scenarios it is often necessary to add additional code in the code behind to achieve (such as creating a "not" property, or implementing IValueConverter).
But It seems that just adding a "Negate" property to the `Trigger` and `Condition` can makes everything easier.

Is it possible?? Or why not?

[2022-03-01 12:42] ebussa commented on #6153
Please remember, the repro steps are a simplified way to duplicate the error that happens when including a reference to a package that references Xamarin.Forms.  Again, I have reason to reference said package and was able to do this before the Visual Studio update.  Therefore, the root of this issue is not whether or not anyone should do this, but rather what changes were made that force this func

[2022-03-01 12:43] ebussa commented on #6153
@singhashish-wpf What is the information you need?

[2022-03-01 14:56] ZionGates commented on #5853
I'm having the same issue, WPF on DOT NET CORE opens the window slower too, about 2 seconds slower.
However WPF on dot.net 4.8 sometimes didn't open at all periodically and just hung, at least they fixed that after 15 years...

[2022-03-01 19:31] danmoseley commented on #6052
This survey is now closed -- thanks for all the responses. We'll now dig through them.

[2022-03-01 19:31] #6052 closed

[2022-03-02 11:45] lisalisal opened #6194 "WPF Textbox work abnormally when IME is Chinese Simplified(Microsoft Pinyin)"
* .NET Core Version: .Net 5.0
* Windows version: Version 2004(OS build 19041.1415)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No.

Issue description:
1.New a wpf textbox with data binding, data bidding is like:
TextBox Text="{Binding Path=InputText,UpdateSourceTrigger=P

[2022-03-02 17:54] ebussa commented on #6153
Here are two zipped downloads for you:

[FIRST PARTY PACKAGE](https://i8dashbdev.blob.core.windows.net/download/github/_issues_6153/WpfApp1.zip)

[THIRD PARTY PACKAGE](https://i8dashbdev.blob.core.windows.net/download/github/_issues_6153/WpfApp2.zip)

[2022-03-02 19:16] ThomasGoulet73 commented on #6153
@ebussa This looks unrelated to WPF because the XAML files in your repro are WPF XAML files but the error says that Xamarin tries to compile the files (Which it can't, hence the errors). So it looks like the Visual Studio update made Xamarin try to compile those WPF XAML files (Xamarin tries to compile every .xaml files by default). You can opt out of the default Xamarin compilation by setting Ena

[2022-03-03 00:51] lindexi commented on #6194
It seems like the IME issues.

[2022-03-03 00:58] lindexi commented on #2930
@msedi It looks like VS2022 will try its best to clean out these folders

[2022-03-03 06:16] KirillOsenkov opened #6198 "Non-existing StaticResources are cached the second time, no exception is thrown"
[wpf.zip](https://github.com/dotnet/wpf/files/8175381/wpf.zip)

If you build and run the attached WPF project, it will seemingly work fine with no exceptions. However if you open App.xaml and comment out one of the two ResourceDictionary references, you'll get an exception here:
https://github.com/dotnet/wpf/blob/255cdad0b0e637b28305843940585ade55545186/src/Microsoft.DotNet.Wpf/src/PresentationFra

[2022-03-03 07:09] lisalisal commented on #6194
@lindexi Could I know which win32 application you tried also has the same issue? We tried notepad and search box of file explorer, don't hit this issue.

[2022-03-03 07:11] lindexi commented on #6194
@lisalisal NodPad++ SublimeText Edge and so on.

但非必现

各个版本的 Windows 修了又修，修了又修……

[2022-03-03 07:14] lindexi commented on #6194
Could you try use the thired part Pinyin, just like *QQ Pinyin* or *Sougou input* ?

如果尝试用搜狗，然后什么都正常，那么证明是微软拼音投毒。否则就是应用的锅

[2022-03-03 10:19] miloush commented on #6198
Sounds like #2543

[2022-03-03 10:28] miloush commented on #4641
This is a per-user setting, see #5944. It gets activated only when you connect specific class of devices, e.g. pens or old touch digitizers.

@lindexi I cannot support your workaround this time since it on purpose ignores user's wishes, creating inconsistency with other apps. (Yes I know the default behavior is confusing and annoying)

[2022-03-03 10:50] lindexi commented on #4641
@miloush Do you mind we public the property of `_menuDropAlignment` ?

[2022-03-03 14:21] ebussa commented on #6153
Thank you for that, it works!

[code]

 I will create an issue with the third party package team and let them know about this change.

[2022-03-03 18:37] GrabYourPitchforks opened #6204 "SDL signoff requirements - please enable additional C/C++ compiler warnings"
Recent SDL changes require that we enable additional compiler warnings across our C/C++ projects. The requirements are:

* Compile with warning level 3 or higher. These warnings do not have to be fixed, but they must at least be triaged.
* Enable the following additional warnings, which __must__ be fixed if they occur:
  * __C4018__ - 'expression' : signed/unsigned mismatch
  * __C4055__ - 'conver

[2022-03-03 20:05] msedi commented on #2930
@lindexi: Thx. Do you know which version. I'm having the latest official version. Are you using the previews?

[2022-03-04 01:34] brandonhood commented on #6189
Back when I used WPF at work, I would regularly curse the fact that `Trigger`/`DataTrigger` don't support binary comparisons other than positive equality and that you're forced to contort the perspective of your trigger conditions and/or use converters. I tried many times to make a derived trigger type that would support other comparisons, but I always arrived at the conclusion that it was too har

[2022-03-04 04:10] lindexi commented on #6198
I think this looks like a bug too. But if we fix this, there will be a change in behavior.

[2022-03-04 08:13] batzen commented on #6198
IMHO, it's clearly a bug and should be fixed. Even if the broken default behavior changes.

[2022-03-04 09:25] flundstrom2 commented on #109
Can you please fix this? Its been on the bug list for years (literaly).

[2022-03-04 11:43] fabriceleal commented on #3752
Well, can't it be fixed?

[2022-03-04 16:00] znakeeye opened #6208 "Make Popup.Reposition() public"
When a `Popup` is anchored to its parent, you usually want to reposition when the parent is resized or moved. This was [discussed on StackOverflow](https://stackoverflow.com/questions/1600218/how-can-i-move-a-wpf-popup-when-its-anchor-element-moves) 12 years ago, and the proposed hacks are still valid. E.g.:

[code]

Obviously, the [Reposition()](https://github.com/dotnet/wpf/blob/main/src/Microso

[2022-03-04 21:21] luy-ce commented on #5255
This failure occurs on our build agents, which as you can imagine, are set up to not have any external processes that may lock the file.

[2022-03-04 21:56] Thieum commented on #5737
See also: https://stackoverflow.com/questions/45526615/contentstringformat-binding-doesnt-refresh-on-propertychange
It would be nice to have a binding capacity.

[2022-03-05 03:25] lindexi opened #6210 "Make StylusDeviceBase public"
I'm developing in a touch screen application which will run on the dual-screen device. And the dual-screen device is the custom device which does not  follow the standard specification.

I want to raise the Stylus events when I receviced the private message from the custom dual-screen devices.

But as you can see, we can easily raise the touch event by inherit the TouchDevice. And we hard to raise

[2022-03-05 19:35] miloush commented on #4641
@lindexi isn't that https://docs.microsoft.com/en-us/dotnet/api/system.windows.systemparameters.menudropalignment?

[2022-03-06 01:25] yanshouwang commented on #4641
Closed this issue for I have gived up .NET, it's so sad that Microsoft can't follow Google and Apple's steps these years, especially with mobile system, UWP and Fluent Design is finally become a joke...

[2022-03-06 01:25] #4641 closed

[2022-03-06 01:33] lindexi commented on #4641
@miloush The SystemParameters.MenuDropAlignment is readonly. We can not ignore the system settings.

[2022-03-06 01:34] lindexi commented on #4641
@yanshouwang Do not give up. Come on.

[2022-03-06 02:27] yanshouwang commented on #4641
被 Xamarin.Forms 折磨了一年之后，转战 flutter 了，没有对比就没有伤害啊

[2022-03-06 05:02] Dub1shu opened #6212 "The ImeOn and ImeOff keys of the Microsoft Japanese IME do not work with the TextBox control."
* .NET Core Version: 6.0.100
* Windows version: Windows11 21H2
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No

 **Problem description:**
The ImeOn and ImeOff keys on the Microsoft Japanese JIS keyboard are disabled on the TextBox control.
This issue occurs when the Japan

[2022-03-06 16:28] miloush commented on #4641
@lindexi I see. I would support making all the properties writeable (i.e. allow to change the system settings). If you want to ignore system settings, you should do it at the control or its template level, not by pretending the system settings are different than they are.

[2022-03-06 16:34] miloush commented on #4641
I would also support the `Popup.GetPointCombination` to use dynamic resource with `MenuDropAlignmentKey` rather than directly `SystemParameters.MenuDropAlignment`. That way, you could override the value in your resource dictionary.

[2022-03-06 23:38] lindexi commented on #4641
Thank you.
For performance issues, I do not like use dynamic resource to fix it.

[2022-03-07 16:16] jmelas commented on #3775
It seems to me that this request boils down to these changes:
* GetSysColor(COLOR_HIGHLIGHT) should return the AccentColor
* GetSysColor(MENU_HIGHLIGHT) and should return the new Gray Color that WinUI uses. I am on Windows 11 22567 and I am happy that Win32 Menus already use the new Gray Color when hovering Menu Items.
* All Win32 Controls that use COLOR_HIGHLIGHT should be painted with the Accent

[2022-03-07 17:32] kalin-todorov commented on #4825
Hi @gurpreet-wpf, so is there any new API that will allow us to show manually the menu?

[2022-03-07 18:19] SebiCiuca opened #6220 "Tooltip flicker in Ribbon Elements that are inside menu/dropdown"
* .NET Core Version: 6.0.101
* Windows version: 21H1 OS Build : 19043.1526
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
 In .NET6 if you have a tooltip on a combobox/menu item it flickers and can't be read by user ( see picture https://imgur.com/a/RxFvAPP )
 **Actual behavior:**
 Tooltip shows for just a few milliseconds on the screen and closes itsel

[2022-03-07 18:39] miloush commented on #6194
I can reproduce the behaviour.

The difference between the legacy and new IME is that the legacy IME commits the first part of the string and then starts a new composition with the remaining "t" character. The new IME only commits the full thing.

This would normally not be a problem, except that a two-way binding on property changed is used, so once the first part is committed, the remaining comp

[2022-03-08 01:07] lindexi commented on #6220
See https://github.com/dotnet/wpf/issues/5870 https://github.com/dotnet/wpf/issues/4612 https://github.com/dotnet/wpf/issues/5703 https://github.com/dotnet/wpf/issues/5716

[2022-03-08 11:53] FG-rgb commented on #6109
Hello, is there a possibility to tell visual studio 2022 (v 17.1.0) to explicitly build with .net 6.0.0 or 6.0.1 instead of 6.0.2?

[2022-03-08 18:34] milos12345 opened #6225 "DivideByZeroException in VirtualizingStackPanel after WM_STYLECHANGED"
* .NET 4.8
* Windows version: 10.0.22000.0 and 10.0.19043.0 and all other

 **Problem description:**
I am capturing WM messages in a rolling buffer and on program crash I get see these preceding most crashes
[code]
The program crashes with
[code]
- Crashes 1/100 runs
- No my code in stack trace
- I tried to set MinWidth/MinHeight in everything that goes in any scrollviewer, but I still get these c

[2022-03-09 00:11] RussKie commented on #6109
6.0.3 has been released today, please consider updating. Also check https://github.com/dotnet/core/issues/7176 for suggested workarounds.

[2022-03-09 00:52] lindexi commented on #6225
@milos12345 What is the minimal repro?

[2022-03-09 00:55] lindexi commented on #6225
@milos12345 May be fixed in https://github.com/dotnet/wpf/pull/6015

[2022-03-09 00:57] lindexi commented on #6225
6.0.3 has been released today, please consider updating.

[2022-03-09 03:33] YerongAI commented on #6220
I have tried .NET Runtime 6.0.3 and complied with .NET SDK 6.0.201, the problem still not fixed.

Just simply add more items to ComboBox, the first item may work, but the others may not work.

[2022-03-09 03:57] YerongAI commented on #6220
[code]

Test result: 1 and 2 worked, others not.

[2022-03-09 05:57] lisalisal commented on #6194
Duplicated to https://github.com/dotnet/wpf/issues/5444.
Update to dotnet 6.0.3.can resolve this issue.

[2022-03-09 05:57] #6194 closed

[2022-03-09 08:59] akimusume commented on #2896
The original sample can not be downloaded anymore. I reupload one:
[WpfApp1.zip](https://github.com/dotnet/wpf/files/8213189/WpfApp1.zip)

[2022-03-09 13:05] lindexi commented on #6194
soga原来说的是这个锅哇…… 不好意思

[2022-03-09 14:45] miloush commented on #6194
I confirm the original issue does not reproduce in 6.0.3. There is now a hidden exception if the composition text is longer than the text set through property, caused by `ITextStoreACP.GetTextExt`. Also the binding is still set before PreviewTextInput in the latter case, but these separate issues.

[2022-03-09 15:00] Molinarius commented on #6109
I see exactly the same issue after updating to Visual Studio 17.1.1, .NET 6.0.3, .NET SDK 6.0.201, on 2 different computers.

[2022-03-09 15:21] YerongAI commented on #6220
More info: This problem occurs only on non-100% scaling.

[2022-03-09 15:40] FG-rgb commented on #6109
Me too. A helping workaround is using a global.json in solution dir:

{
  "sdk": {
    "version": "6.0.100",
    "rollForward": "disable"
  }
}

[2022-03-09 17:05] milos12345 commented on #6225
I cannot reproduce it myself and only get these crashes through Application Insights and it is less than 1 in 100 users/runs. If there was a way to have names of VirtualizingStackPanel in Stack Trace I could at least know which one (out of 10+) is causing the issue and what might be displayed in it. I'll see what happens when I try .NET6 but it is a large and complex software ("One Commander") so

[2022-03-09 21:44] matthew-a-thomas commented on #3067
Bump. I'm running into this issue when I use lots of `RenderTargetBitmap` instances in a parallel rendering scenario. GDI object count is hitting the upper limit of 10,000.

[2022-03-09 22:59] Poopooracoocoo commented on #5793
Fingers crossed that we'll also see Windows 10 styling for the .NET 7 release

[2022-03-09 23:53] bgrainger opened #6236 "Poor performance for `<Resource>` fonts"
* .NET Version: 6.0
* Windows version: Windows 10 21H2 (19044.1526)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

When using a font that is embedded as a `<Resource>` (see [fonts as resource items](https://docs.microsoft.com/en-us/dotnet/desktop/wpf/advanced/packaging-fonts-with-applications?view=netframeworkdesktop-4.8#adding-fonts-as-resource-items

[2022-03-09 23:55] bgrainger commented on #6236
The following fix (to `FontFileStream.cpp`) eliminates the problem on my system.

[code]

(It's not written as well as it could be; just a very simple POC fix.)

If this seems like the appropriate direction to take to fix this bug, I'd be happy to open a PR.

[2022-03-10 00:29] lindexi commented on #6236
@bgrainger See https://github.com/dotnet/wpf/issues/5305 , and @ThomasGoulet73 is working on this.

[2022-03-10 01:31] bgrainger commented on #6236
I saw PR https://github.com/dotnet/wpf/pull/6171 but it didn't (yet?) touch this file, so I didn't know if it would obsolete my proposed fix.

If all the C++/CLI is getting replaced with C#, then yes, fixing the C++/CLI may be pointless, unless:

1. The fix can easily be ported to C# when the time comes, or
2. This small fix can get into 7.0 but the C++/CLI → C# wouldn't make it in until 8.0.

[2022-03-10 01:33] lindexi commented on #6236
@bgrainger The bad news is I think C# wouldn't make it in until 8.0

[2022-03-10 01:42] bgrainger commented on #6236
If a simple C++/CLI fix can make it into 7.0, I'd like to make that happen; will wait for WPF team triage.

[2022-03-10 01:48] ThomasGoulet73 commented on #6236
My PR #6171 is the start of the migration of DirectWriteForwarder to C#. The migration is a direct port with minimal changes to the C++ code when porting. That means that the changes suggested in @bgrainger's patch could be either applied before or after the migration to C#.

That being said, the changes looks like a good idea but there is a risk with those changes, due to the fact that it would n

[2022-03-10 02:43] bgrainger commented on #6236
As long as the array isn't deallocated before `ReleaseFileFragment` is called, there is no risk. AFAIK, the `UnmanagedMemoryStream` returned for resources is a pointer to the resource within the DLL that's loaded into the process' address space, so this can't happen.

As per the blog post in the OP, a "hack" that implements this solution has been shipping (with no problems) in Logos for years, so

[2022-03-10 04:06] lindexi commented on #2166
The PreviewMouseDown is the PreviewMouseDown event, and the  PreviewMouseDown event can not share in mulit visual tree. The code will be run when we set the `StaysOpen="False"`

[code]

[2022-03-10 04:10] lindexi commented on #5793
@Poopooracoocoo  Let's use https://github.com/lepoco/wpfui

[2022-03-10 04:11] lindexi commented on #6212
Reference: [IME can't be turned on for TextBoxes inside a Popup](https://social.msdn.microsoft.com/Forums/en-US/b2428b85-adc9-4a1e-a588-8dbb3b9aac06/ime-cant-be-turned-on-for-textboxes-inside-a-popup?forum=wpf )

Not the same issues.

[2022-03-10 06:20] deeprobin commented on #768
Is Quaternion in a hot path? Why not use the quaternion from System.Runtime.Intrinsics which is already simdified?

[2022-03-10 06:22] deeprobin commented on #769
It would make sense to use stackallocation in many places and to use the [ArrayPool](https://docs.microsoft.com/de-de/dotnet/api/system.buffers.arraypool-1?view=net-6.0) for things that cannot be stack-allocated.

[2022-03-10 07:21] #5132 closed

[2022-03-10 07:38] Poopooracoocoo commented on #5793
Good solution but we shouldn't have to use it, y'know? This is me being a user advocate :p

[2022-03-10 07:41] dipeshmsft commented on #3356
Closing the issue.

[2022-03-10 07:41] #3356 closed

[2022-03-10 13:04] redseujac75 opened #6289 "After updating to .Net 6.0.3 through VS2022 Tooltips in WPF immediately vanish"
### Description
All Tooltips in C#, WPF project developed in VS 2022 Community .Net 6.0.2, vanish immediately after appearing. This happens with all controls (buttons, text boxes ...) with a tooltip. This problem appeared after updating to .Net 6.0.3. It wasn't there with previous .Net 6 versions.

### Configuration

* Which version of .NET is the code running on? .NET 6.0.3
* What OS and version,

[2022-03-10 14:27] matthew-a-thomas commented on #3067
The GDI count increments by two every time this function here is invoked:
![image](https://user-images.githubusercontent.com/14829821/157681968-69653f5e-a70c-4a99-b29f-6f6603849d28.png)

This is being invoked in a background dispatcher thread (a different thread than the main UI, but the thread is running a `Dispatcher`).

Here's my code:
![image](https://user-images.githubusercontent.com/14829821

[2022-03-10 14:39] matthew-a-thomas commented on #3067
@miloush Thank you. Unfortunately in my case that won't do because it introduces noticeable lag and because it increases the size of the gen 2 heap.

[2022-03-10 14:46] OptimaDan commented on #6220
This problem does not just affect ComboBox. It seems to affect all controls.

Another example:
`<Grid ToolTip="Flash" Background="Red" Height="100"/>`

I have Windows 11 Pro (22000.556) with a 4K monitor. The tooltip flash issue only occurs when I set the display scale to 150% or more.

.NET 5.0 works fine. It's only an issue with .NET 6.0.3

[2022-03-10 17:17] LaughingJohn commented on #6106
Attached. This is .Net 6.0. Same happens in .Net 4.5. I appreciate that Lorum Ipsum is a kind of worse case scenario, but this is causing issues in a real life application with normal English text.

[TestSpellCheckedNet6.zip](https://github.com/dotnet/wpf/files/8225560/TestSpellCheckedNet6.zip)

[2022-03-11 00:26] ryoasai commented on #6220
OptimaDan's comment is true. I also found that this bug affects all controls.

You can reproduce it even with the simplest possible WPF app generated from template!
I also use 4k display and 175% scaling.
I think this is a major regression since 6.0.3 and it should be fixed in higher priority.

[code]

[2022-03-11 00:54] lindexi commented on #3067
I think it is necessary to provide manual control, as @miloush says.

[2022-03-11 00:55] ryoasai commented on #6220
I installed the previous SDK and put global.json but the problem still persists.
Is this caused by windows update rather than dotnet update?

[code]

Windows10(21H2)
install date 2021/02/02
os build 19044.1586

[2022-03-11 00:58] lindexi commented on #769
Sorry for delay, I fixed it in https://github.com/dotnet/wpf/pull/5392

[2022-03-11 00:59] lindexi commented on #768
@deeprobin I do not think the Quaternion is in a hot path.

[2022-03-11 06:28] Rand-Random commented on #6220
@ryoasai
It is caused by the runtime in which .net version your application is running and not with which sdk you are working/building.

you can check which runtime your application is using by calling this in your app.
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.frameworkdescription?view=net-6.0

To force a different runtime, I believe the only wa

[2022-03-11 11:17] trivalik opened #6244 "BindingExpressionBase.ValidateWithoutUpdate does never validate"
* .NET Core Version: 6.0
* Windows version: 21H2
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
Adding a ValidationRule in code behind (because it rely on a value which is not known on startup) does not update validation the intuition way. Try to get arround this and call `ValidationWithoutUpdate` does nothing.

 **Actual behavior:**
You have to call U

[2022-03-11 19:26] vsfeedback opened #6246 "Missing LostKeyboardFocus event in Windows 11"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Missing-LostKeyboardFocus-event-in-Windo/1678933)._

---
When the MainWindow's LostKeyboardFocus event is triggered in my WPF (bridge) app, i.e. when the user clicks the mouse outside my app, the MainWindow will be hidden with Hide() in the LostKeyboardFocus handler. If the user clicks t

[2022-03-11 21:31] ryan-weil opened #6247 "AssemblyLoadContext Cannot Unload WPF Assemblies"
**Problem description:**
AssemblyLoadContext's unload method fails (does not unload the assembly) when the assembly has a WPF window. There is a thread about this issue [here](https://github.com/dotnet/runtime/issues/13226) in the main dotnet GitHub, but they recommended someone create a thread in the WPF GitHub .

[2022-03-12 09:21] elyoh commented on #3067
The only way I have found to reliably force the cleanup of the GDI handles and ensure memory use drops immediately is with the following hack:

[code]

As @miloush and @lindexi note,  BitmapSource should use IDisposable to release these resources and save developers this headache.

[2022-03-12 14:02] deeprobin opened #6251 "Unable to build WPF"
[code]

Do you have a solution for this problem?

[2022-03-12 15:39] ryan-weil commented on #6247
I see. Well, I hope this is planning to be fixed, because from what I understand at this point it would be accurate to say that there is physically no way to create GUI plugins that can be unloaded in any .NET UI Framework right now. Correct?

[2022-03-12 17:39] redseujac75 commented on #6220
Is it possible to specify a specific runtime (sub)version, e.g. "net6.0.2" ?  I'm afraid this will not work. The parameters "-f net5.0" or "-f net6.0" should work on the other hand, but that does not resolve the problem with the Windows Desktop Runtime 6.0.3.

[2022-03-12 17:58] Rand-Random commented on #6220
@redseujac75
As I already said, I believe that is impossible when you are using the framework dependent app model.
Because you are "dependent" on the "framework" that is installed on the client machine.

With "-f" you are only specifing the minimum framework you are supporting eg. saying ".net6.0" means you are supporting anything on ".net6.0.x".

This is so that when a new hotfix release comes eg

[2022-03-12 18:23] redseujac75 commented on #6220
Thank you. But with "self-contained" you unfortunately also deliver actually the damned runtime 6.0.3 which is on the developer computer :(

It's also rather problematic to uninstall the runtime 6.0.3 because it has been installed within the most recent Visual Studio 2022 update :(

So finally what I wanted to explain is that it isn't that easy to specify the runtime yourself in self-contained in

[2022-03-12 19:07] Rand-Random commented on #6220
@redseujac75

Why would it be problematic?

----

You can change it with a global.json

[code]

![image](https://user-images.githubusercontent.com/9868626/158031470-0eb8ac0e-2087-4953-a309-85e9d8ce966f.png)

This app with display .NET 6.0.2 with running the ConsoleApp1.exe from the publish folder because there it is configured as self-contained, but from bin/debug it will display .NET 6.0.3 as it

[2022-03-13 05:33] kant2002 commented on #6236
@bgrainger send PR to C++ part. I think that way we can hedge if DWrite rewrite in C# get stalled indefinitely. Also if you can measure improvements somehow that helps advocate for the fix

[2022-03-13 16:02] timmi-on-rails commented on #5255
Here comes a workaround that solves my (very similar) problem.

After the `MarkupCompilePass2` I am even unable to manually delete the DLL that the `CleanupTemporaryTargetAssembly` also fails to delete with a `Access to the path ... is denied.` error.
I was unable to determine the reason for the access denied error.
The command line tool https://docs.microsoft.com/en-us/sysinternals/downloads/hand

[2022-03-13 18:18] redseujac75 commented on #6220
Thank you very much for your great answer!

With adding a global.json file and publishing "self-contained" it didn't work for my project (Windows Desktop app - C# WPF). I don't know why.

Meanwhile I also found the [https://docs.microsoft.com/en-us/dotnet/core/versions/selection](url)  and added
`<RuntimeFrameworkVersion>6.0.2</RuntimeFrameworkVersion>`   to my project file. Now it's working with

[2022-03-14 00:52] lindexi commented on #6251
@deeprobin Could you try to use the github action to run your command? See https://github.com/dotnet-campus/wpf/blob/99f32a7bfc167e0592ca5cdfd9119d73b64be291/.github/workflows/Build.yml

And you can copy the artifact to your device. And then the compile behavior is incremental build.

[2022-03-14 08:10] wstaelens commented on #3754
what is the status of this @SamBent ?

[2022-03-14 11:43] redseujac75 commented on #6220
Let's hope that this .NET 6 WPF Tooltip bug can and will be fixed soon! I wonder if the .NET 6 team is reading all this?

[2022-03-14 12:48] redseujac75 opened #6253 "Tooltips are still broken in 6.0.3 - in some ways worse than before, is it possible the merge resolution was unsuccessful? Now tooltips seem to disappear everywhere. Run the popup-repro @ https://github.com/amirburbea/PopupRepro"
Tooltips are still broken in 6.0.3 - in some ways worse than before, is it possible the merge resolution was unsuccessful? Now tooltips seem to disappear everywhere. Run the popup-repro @ https://github.com/amirburbea/PopupRepro

Change the app between .NET5 & .NET6, check out tooltips in a ListBox (left) and in a ComboBox (right). It seems broken in both, whereas before it was only broken in the

[2022-03-14 12:48] #6253 closed

[2022-03-14 12:57] nnguyetnam commented on #6220
yes, it is a problem on our production code now.
we have used heavily "the Tooltip" until .Net 5 and now it is broken on .Net 6
Please help to consider it is high-priority issue

[2022-03-15 01:50] KirillOsenkov commented on #511
Similar issue here:
https://stackoverflow.com/questions/4500115/default-textblock-style-overriding-button-text-color

[2022-03-15 02:43] dipeshmsft commented on #6251
Hey @deeprobin can you provide the binlog for the same ??

[2022-03-15 10:43] gurpreet-wpf commented on #6246
We are not able to open sample project. Please attach the correct link.

[2022-03-15 16:50] vasiliy-vdovichenko commented on #4279
As workaround for this bug it can be possible to disable Automation Peers for DataGrid in derived class DataGridEx
and using DataGridEx  instead of DataGrid see details below:

[code]

[2022-03-15 17:07] redseujac75 commented on #6220
Because it has been installed/included with the latest Visual Studio Community 2022 update.  So, I do not know how to uninstall it separately (without touching Visual Studio).

[2022-03-15 18:51] RaulFunezp opened #6258 "Me too. A helping workaround is using a global.json in solution dir:"

[2022-03-15 18:51] MichaeIDietrich commented on #6246
For some reason the link behind seems to be broken and is different to the shown text. But you can copy the text manually and paste it into the browser's address bar. It'll redirects to a OneDrive storage.

[2022-03-15 18:52] #6258 closed

[2022-03-16 00:34] lindexi commented on #6246
@gurpreet-wpf

[MissingLostKeyboardFocus.zip](https://github.com/dotnet/wpf/files/8258073/MissingLostKeyboardFocus.zip)

[2022-03-16 00:46] ansolis commented on #3817
I have a Surface Pro 8 with 11th gen Intel i7-1185G7, and it had an issue running a WPF application (Amazon Chime) until I disabled HW acceleration.  It looked like only the first frame in the video stream was getting rendered.  Looks like Intel is aware of the issue: https://www.intel.com/content/www/us/en/support/articles/000058136/graphics/graphics-for-11th-generation-intel-processors.html . Lo

[2022-03-16 03:50] sam-wheat opened #6261 "Bindings for CommandParameter do not work"
My control  contains a ListBox which I populate with an array of strings as shown below:

	<ControlTemplate TargetType="{x:Type local:DimensionButton}">
		<Border Background="{TemplateBinding Background}"
				DataContext="{Binding RelativeSource={RelativeSource AncestorType=local:DimensionButton}}">
			<local:DropDownButton
				Content="{Binding Content}"
				SelectedItem="{Binding SelectedItem}"

[2022-03-16 06:12] batzen commented on #6261
CommandParameter is of type object and thus not automatically part of the logical/visual tree.
That's why bindings inside don't work.

You have to use a multibinding with a converter to construct your args object.

[2022-03-16 07:54] conioh commented on #109
Sup?

[2022-03-16 08:08] Fell commented on #109
I agree. It's time to fix this. What's so special about hyphens anyways?

[2022-03-16 08:25] HknCore commented on #3817
Just installed 30.0.101.1404 drivers from 3/8/2022 and it looks like the issue has appeared again. Running on Intel i5-1135G7.
Everything has been fine with 27.20.100.9616 before.

[2022-03-16 09:03] weltkante commented on #109
They take part in word breaking / line wrapping so probably have special code handling them that didn't have ligatures in mind when being written.

[2022-03-16 13:41] sampath-narayanan opened #6262 "Getting wrong size while calculate the size of contenttemplate."
* Windows version: 10
* Does the bug reproduce also in WPF for .NET Framework 4.8?: yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No

 **Problem description:**

**What I'm doing**
I have a contentcontrol in my window. I have loaded the content template to the contentcontrol. I have loaded the Expander control and ListView whose visib

[2022-03-16 14:00] sam-wheat commented on #6261
Thank you @batzen.  I am interested to know more about why it does not work however.  I bind to object all the time i.e. Content and the bindings work fine.  And why when I bind to CommandParameter as a single line it works?:

    <CheckBox .... CommandParameter={Binding} />

I think there are some objects in WPF where CommandParameter is not a DependencyProperty.  In the case of CheckBox however

[2022-03-16 16:44] batzen commented on #6261
That's because the current context for `CheckBox` is used. As that control is part of the logical/visual tree your binding works.

When you do
[code]

So context switches to the value of `CommandParameter`. As `CommandParameter` is defined as `object` and is it's value is not explicitly added to the logical tree by `CheckBox` your bindings don't work inside there.

When using a multibinding for `C

[2022-03-16 18:52] sam-wheat commented on #6261
Thank you again @batzen - the MultiBinding solution works.

[2022-03-16 18:52] #6261 closed

[2022-03-16 22:00] ryanmolden opened #6264 "WPF ProgressBars with IsIndeterminate = true appear to leak animations, since .NET 4.5"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`): All since .NET 4.5
* Windows version: (`winver`): Any
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No

**Problem description:** WPF's ProgressBar uses a well-known named template part (G

[2022-03-17 01:42] kkwpsv commented on #3817
I tested again with Intel i5-1135G7 and 30.0.101.1404 drivers. The issue didn't appear.

[2022-03-17 03:23] ThomasGoulet73 commented on #6264
@ryanmolden I opened #6266 which should fix this issue. Thank you for the detailed repro, it was very helpful!

[2022-03-17 19:31] NWoodsman opened #6273 "System.Windows.Media.Pen uses PenLineCap instead of PenDashCap"
* .NET Core Version: 6.0
* Windows version: 10 build 19043.1586
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? **No**

 **Problem description:**

`System.Windows.Media.Pen.DashCap` is of type `enum` `System.Windows.Media.PenLineCap` . The namespace has `enum` `System.Window

[2022-03-17 20:52] ygoe commented on #1485
WPF never really looked native after Windows 7. After a good theme for XP, they made such a great effort for Windows 7 (or was it Vista? can't remember that one), even including the animations that existed back then. Windows 8 had a slight gradient and soft border on the buttons when WPF only had that flat something of a box. Feels very unloved since then. And even more alien on Windows 10. I don'

[2022-03-17 22:22] Mgamerz commented on #5716
Should this be re-opened, since the issue seems to be worse now than it was before, and it's been a servicing release (6.0.3 came out in march)?

[2022-03-18 01:50] lindexi commented on #2294
@bugproof How about dragging the other win32 window, such as explorer?

[2022-03-18 12:56] lindexi commented on #6273
It will change the behavior.

[2022-03-18 15:06] vijayarasan opened #6283 "ToolTip immediately closed when showing in Button while project create with .Net 6"
* .NET Core Version: 6.0

 **Problem description:**
 I am using button and defined the tooltip like below mentioned code snippet,
[code]

When hovering to the button ToolTip immediately disappear. The reported problem occurs while using with VS2022 Preview, Scaling 150 and .Net 6.0.

 I have also set the ShowDuration and InitialDelayDuration, but no effect.

 **Note :** The reported problem does n

[2022-03-18 23:39] ryoasai commented on #6283
This is related to #6220 and https://github.com/dotnet/core/issues/7268

[2022-03-21 09:38] anjalisheel-wpf commented on #5874
@lindexi
High CPU usage is only at the time of launching the application, later it is becoming stable. I tested it on other applications as well. I do not think that this is an issue which needs to be fixed because at the time of launch it takes resources which it requires for launching the application, which is expected behavior.

[2022-03-21 11:18] lindexi commented on #5874
@anjalisheel-wpf Think about it if such shapes are frequently added and removed, thank you.

[2022-03-22 00:58] lindexi commented on #6290
@emusgrave Because the XAML Compiler do not know the relative path and it do not know where is the project root folder.

[2022-03-22 00:59] lindexi commented on #6290
And I think few developers will write absolute paths in projects.

[2022-03-22 03:47] hamarb123 commented on #5462
(originally commented in #5747) I'm having issues with this on my app. Can this be back-ported to .NET 6.0.4? I'm going to wait until next LTS for upgrade so I would be stuck not being able to support arm64 users until .NET 8 (~1.5 years).

[2022-03-22 03:49] lindexi commented on #5462
@hamarb123 Could you see https://github.com/dotnet/wpf/pull/5747 ?

[2022-03-22 03:51] hamarb123 commented on #5462
You mean see the PR? Yes, I commented on it.

[2022-03-22 03:52] lindexi commented on #5462
@hamarb123  Sorry, I thought this issue was fixed.

[2022-03-22 03:53] hamarb123 commented on #5462
It's fixed in .NET 7 (apparently), but not for .NET 6 (I'm using 6.0.3).

[2022-03-22 03:55] lindexi commented on #5462
@hamarb123 I remember it was merged into 6.0.3, let me check. Sorry.

[2022-03-22 03:59] lindexi commented on #5462
The bad news is it do not merge to 6.0.3...

[2022-03-22 04:00] hamarb123 commented on #5462
Okay. Will it be in 6.0.4?

[2022-03-22 06:34] NeverMorewd commented on #6143
mark

[2022-03-22 08:05] aquinn39 opened #6294 "WindowsFormsHost does not scale children correctly when the DPI is changed"
* .NET Core Version:  .Net 6.0.3
* Windows version: Windows 11 21H2 (OS Build 22000.556)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes (Except for some of the issues with NumericUpDown - some of these issues did not exist in .Net Framework 4.8)

 **Problem description:**
When scaling to a new DPI using Per Monitor V2, the contents of WindowsFormsHosts often do not scale correct

[2022-03-22 08:28] aquinn39 commented on #5967
Another way to solve this if you can't/don't want to use the app manifest is to call System.Windows.Forms.Application.EnableVisualStyles() when the app starts. Similar to the manifest solution, this enables visual styles for Forms and GDI controls, such as the message box.

[2022-03-22 08:32] lindexi commented on #5967
@aquinn39 By default, we will reference the System.Windows.Forms in dotnet core.

[2022-03-22 08:59] wstaelens opened #6296 "XPS huge memory issues"
* .NET Core Version: 5, 6, ... every version.
* Windows version: Windows 10 21H2 Windows 10 21H1, Windows 11 21H2
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes, I guess so.

 **Problem description:**

Opening a large XPS document requires a huge amount of memory.
Same situation when merging several XPS documents into one XPS documents (the total amount of merged pages is: 500 -

[2022-03-22 09:27] jroessel opened #6297 "VisualCollection.RemoveAt breaks when multiple null entries exist"
RemoveAt takes the entry at the specified index and delegates to RemoveInternal with that item. However, if there are multiple `null` entries in the collection, RemoveInternal then only removes the first, not the one at the requested index.

This likely necessitates inlining part of what RemoveInternal does into RemoveAt, since those two approaches are a bit incompatible with each other.

[2022-03-22 13:43] emusgrave commented on #6290
@lindexi I agree that not many will use absolute paths, because they would have to be writing the csproj by hand. Or, in this case, using `cmake` to generate it. But _anyone_ using cmake and also having duplicate file names with encounter this. Cmake is designed to always support out-of-source builds, so there is no way around the absolute paths.

My workaround was to guarantee that each file has

[2022-03-22 16:16] mikeKuester commented on #6289
Our Azure DevOps build pipeline still uses .NET 6.0.2 (image windows2022). It would be very helpful if you @ Microsoft could assure that the responsive team updates .NET **after** this bug is fixed. In the moment the production build is not broken.

[2022-03-22 16:54] schruuuth commented on #4362
Ran into the same problem, but could replace the Expander with a "selfmade" Expander that is made up of a ToggleButton and content area. The binding with the isChecked Property of the ToggleButton does work as expected unlike the Expanders property.

`   <StackPanel>
        <Button Command="{Binding ResetCommand}">RESET PROPERTY</Button>
        <Button Content="CloseAll"
                      Co

[2022-03-22 21:06] Dunge commented on #5716
Having the same issue with 6.0.3. Works on my home (Win11) and work (Win10) computer fine, but customer (Win10) recorded a video showing the same behavior on his. Not sure what's the difference between machine to cause the issue, but it was working in NET5 and started showing up when upgrading to NET6.

[2022-03-23 00:51] Mgamerz commented on #5716
From others comments (and a quick test of mine) it seems to have to do with
dpi scaling.

On Tue, Mar 22, 2022, 3:07 PM Dunge ***@***.***> wrote:

[2022-03-23 00:53] lindexi commented on #5716
@Mgamerz  Do you means https://github.com/dotnet/wpf/issues/6289 ?

[2022-03-23 03:15] lindexi commented on #6299
It works well in VS2022 17.0.4

![CarkoberegemchenijayLahokeha](https://user-images.githubusercontent.com/16054566/159616651-1414b0ed-dc28-42f1-a4d4-49260d01a93c.gif)

[2022-03-23 04:26] Mgamerz commented on #5716
Yes, as well as reports here.

[2022-03-23 08:08] dipeshmsft commented on #5967
@Andrej123456789, @miloush got a bit confused about what are we talking about in this issue.

TaskDialog request is a different issue, I am clear on that.

Now, going through the first comment in this thread, it's mentioned that "Please add better design at MessageBox."

1. Does this refer to the rounded corners ( as in Windows 11 theme ) ??
2. Or are we referring to the icon and buttons in the me

[2022-03-23 08:34] wstaelens opened #6301 "XPS documents memory leak (System.Windows.ContextLayoutManager+LayoutQueue+Request and XpsDocument.GetFixedDocumentSequence())"
originally posted at runtime but is for wpf: https://github.com/dotnet/runtime/issues/66756

### Description

Situation: we have a windows service running in .net 6 with an admin panel in asp.net core 6 (+ blazor + pri nt drivers etc...)

(complex solution, but for the memory leak mainly does this:)
[code]

When processing 5 documents, we see an increase of memory with ±1.5MB memory because `Syste

[2022-03-23 09:10] miloush commented on #5967
@dipeshmsft I agree that the original post does not actually mention what the perceived issue is. From the screenshot, my interpretation was the button styling, which can be solved by manifest. Good call pointing out that the user can add an icon and a title with different overload.

[2022-03-23 12:41] vijayarasan opened #6302 "DynamicResource is not working for Header property in DataGridTextColumn"
* .NET Core Version:  .Net 6.0
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

I have defined the DynamicResource for Header property in DataGridTextColumn of DataGrid. Please refer the below code snippet,
[code]

[code]

When change the resource at runtime Header property does not change the value in DataGrid. Can you please check and elaborate why Dy

[2022-03-23 14:10] sampath-narayanan commented on #6262
Hi Guys,

Can I get any update for this issue.

Regards,
Sampath.S

[2022-03-23 17:49] jasonmalinowski commented on #6299
@lindexi I don't think that's what @Faramoz161 was trying. Instead go to definition from the "MainWindow" class name on line 20 -- that gives you a choice of all parts to go to. But if you navigate from the x:Name entry in the XAML file, you don't get an equivalent choice.

[2022-03-23 20:07] kayle opened #6304 "TextFormatter.FormatLine has O(n^2) performance when called multiple times"
* .NET Core Version: .net 6
* Windows version: 11
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? no

 **Actual behavior:**

TextFormatter.FormatLine has O(n^2) performance

 **Expected behavior:**

TextFormatter.FormatLine exhibits linear performance

 **Minimal repro:**
[W

[2022-03-24 00:41] lindexi commented on #6299
@jasonmalinowski  Thank you. It doesn't matter to me. I rarely care about the generated files.

[2022-03-24 00:46] lindexi commented on #6304
I think very few businesses need to typeset more than a thousand words. I don't think there is a performance issue within a thousand words.

[2022-03-24 00:57] lindexi commented on #5874
@anjalisheel-wpf Can I ask why it will cause high CPU usage? Thank you.

[2022-03-24 01:17] lindexi commented on #5462
@hamarb123 I ask @singhashish-wpf in https://github.com/dotnet/wpf/pull/5747#issuecomment-1074699704

And If you can't wait, you can try building the private version.

`build.cmd -pack -ci -configuration Release -prepareMachine /p:Platform=x86`

[2022-03-24 03:54] dotMorten commented on #3062
WinForms is currently considering this for .NET7: https://github.com/dotnet/winforms/issues/1107

[2022-03-24 11:47] Symbai opened #6308 "72 Hours"
https://github.com/dotnet/wpf/blob/main/roadmap.md#triaging-github-issues Since weekend (monday) PRs are not reviewed and issues are not labeled/commented. Are the mentioned 72 hours still up to date?

[2022-03-24 14:51] toristorii commented on #5716
.NetCore 6.0.3 here and having the same problem with tooltips on pretty much anything, even a button.

Steps I did to repro:
Created a new .net core 6 wpf app, in Visual Studio.
Added a button to the grid in MainWindow.xaml as follows:
   <Button Content="Test" Height="25" Width="100" ToolTip="Hello World"/>
Run.
Mouse over the button and 95% of the time it only appears for a fraction of a second.

[2022-03-24 15:26] ThomasGoulet73 commented on #6289
According to @SamBent's comment [here](https://github.com/dotnet/wpf/pull/6300#issuecomment-1076850512), this is being worked on by the WPF team.

[2022-03-24 15:28] ThomasGoulet73 commented on #5716
@toristorii This is the same issue as #6289, you should follow the status there since closed issues are less likely to receive updates.

[2022-03-24 19:52] SamBent commented on #6220
There is a lot of confusing and sometimes inaccurate information in this issue and related issues.  I will try to clarify.

* .NET 6.0 included new tooltip behavior, to meet global accessibility standards (WCAG 2.1).
* This broke tooltips in ComboBox (and other popups):  the tooltips would close immediately.  This was first reported in #5716.
* This was fixed in .NET 7.0, and backported to .NET 6.

[2022-03-24 19:53] SamBent commented on #6283
Closing this as a dupe of #6220.

[2022-03-24 19:53] #6283 closed

[2022-03-24 19:54] SamBent commented on #6289
Closing this as a dupe of #6220.

[2022-03-24 19:54] #6289 closed

[2022-03-25 11:46] gurpreet-wpf commented on #6308
**About non-code PRs**
We are committed to a 72 hour (3 working days) turn around on triaging and responding to new non-code PRs filed on GitHub. These are PRs for documentations bugs, documentation enhancements or a general question not related to source code issues/bugs.

@Symbai as mentioned in our roadmap, this 72-hour commitment is for non-code PRs. Meanwhile, we are actively working on addre

[2022-03-25 12:02] #6141 closed, assigned to SamBent

[2022-03-25 12:35] hotchkj commented on #438
I was also astonished to discover this has been so neglected; developers were complaining about this a decade ago; pretty sure I was one of them back then too. A few thoughts as I briefly attempted to come back to WPF (which looks to be short-lived at this rate):

- A number of proponents of 'just use open-source' appear to have waltzed past the legal licensing requirements, which not every compan

[2022-03-25 12:57] ToxicToxine opened #6312 "WPF 3D App crashes without exception on Intel UHD770"
* .NET Core Version: 6
* Windows version: 21H2 (Build 22000.556)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
I created a simple Testapplication using WPF 3D Media. It only Contains a Viewport3D and a simple MeshGeometry.
Evertime i execute this on my Machine (Intel I9-12900K and Intel UHD770) the program crashes without any Exception or error in the

[2022-03-25 14:50] nicolaihenriksen opened #6314 "WPF Window (border and title bar) renders strangely with mixed scaling"
* .NET Framework Version: 4.7.2 and 4.8 (and probably all others)
* Windows version: Windows 10 and Windows 11
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No

 **Problem description:**
A System.Windows.Window renders strangely if you have multiple monitors (2 is enough)

[2022-03-25 18:00] Rand-Random commented on #2885
Any updates on this issue? Is .NET 7 a possibility?

[2022-03-26 00:45] lindexi commented on #6312
@ToxicToxine Could you use [ProcDump](https://docs.microsoft.com/en-us/sysinternals/downloads/procdump?WT.mc_id=WD-MVP-5003260) tool to collect the dump file of your process when it crashes

[2022-03-26 00:53] lindexi commented on #6314
How aboult add DPI Awareness feature?

Add the code to your App.manifest file, See [Developing a Per-Monitor DPI-Aware WPF Application - Win32 apps | Microsoft Docs](https://docs.microsoft.com/en-us/windows/win32/hidpi/declaring-managed-apps-dpi-aware?WT.mc_id=WD-MVP-5003260 )

[code]

[2022-03-26 00:54] lindexi commented on #2885
See https://github.com/dotnet/wpf/issues/3062

[2022-03-26 01:54] jamiehankins commented on #5716
Not to pile on, but this is causing a lot of heartburn for me.

Since I went along with "implicit usings" in .NET6, going back to 5 would mean editing a bunch of files. Please tell me you guys are going to fix this soon!

[2022-03-26 06:47] Symbai commented on #6314
This doc says its only for Windows 8.1, for >Windows 10 it redirect users to https://github.com/microsoft/WPF-Samples/blob/main/PerMonitorDPI/readme.md where it interestingly recommends to use `PerMonitor` and not `PerMonitorV2` + even more steps are required.

[2022-03-26 08:45] nicolaihenriksen commented on #6314
Thank you for the swift replies!

@lindexi answer solved it for me.

Using PerMonitor instead of PerMonitorV2 as @Symbai suggested based on the documentation also fixes the strangely rendered borders, but the window now becomes way to "big" compared to the applied scaling.

Once again, thank you for the swift replies!

[2022-03-26 08:45] #6314 closed

[2022-03-28 08:25] wstaelens commented on #6301
@gurpreet-wpf let me know if you need anything...

[2022-03-28 08:47] wstaelens commented on #4000
@miloush see: https://github.com/dotnet/wpf/issues/6301

The situation:
[code]

Thanks to STA it is slow, consumes a lot of memory and we are not even printing in this scenario...

(I keep on wondering if the XPS format itself is actually being used internally at Microsoft.. No wonder this couldn't replace PDF... Even XPS documents generated by the MS print driver can't be opened. Guess we'll swit

[2022-03-28 09:17] wstaelens commented on #6304
@lindexi "I think very few businesses..."  Then I think your thoughts are wrong.

[2022-03-28 09:46] hhu-mahmoud opened #6319 "(ToolTip ) System.ArgumentNullException: Value cannot be null. (Parameter 'element')"
* .NET Core Version: 6.0.3
* Windows version: Win10
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)?: No

 **Problem description:**
 App Crash .. the Problem should be resolved but it comes again and again.

 BTW: I don't use any Tooltip in my App, regardless the problem come

[2022-03-28 11:39] Symbai commented on #6319
Can you try running it on 6.0.2? There is a [known issue](https://github.com/dotnet/wpf/pull/6300) introduced with 6.0.3 related to Popupcontrolservice

[2022-03-28 12:34] hhu-mahmoud commented on #6319
@Symbai it was also on 6.0.2. I wait for the Update of 6.0.3 but it still exist !! I need a workaround until they solve this problem.

[2022-03-28 19:56] AsgardXIV commented on #6312
Also encountering the same issue (or similar issue).

I reported to Intel and have a support ticket open with them, but not making a lot of progress. [Intel Community Link](https://community.intel.com/t5/Graphics/Crash-with-UHD-770-in-WPF-applications-using-Viewport3D/m-p/1370393#M106529).

The most I can see is:

[code]

If I run ProcDump, I don't actually get a dump, just get
[code]

[2022-03-29 00:46] lindexi commented on #6312
@AsgardXIV Could you see https://github.com/dotnet/wpf/issues/3817 ?

[2022-03-29 03:54] AsgardXIV commented on #6312
I'm currently running 30.0.101.1631 (latest for 12th gen as of today) and the issue does occur there.
I did try with previous versions last week, and as far as I have been able to test, there is no driver where this works on 12th gen.

[2022-03-29 09:07] krillboi commented on #5900
Is there any progress on this? I have a very similar bug and have been chasing a fix for over a week now.

[2022-03-30 03:24] #6109 closed

[2022-03-30 08:36] #5921 closed

[2022-03-30 08:39] #5461 closed

[2022-03-30 09:39] wstaelens commented on #6301
I don't know if this helps @gurpreet-wpf ?

[code]

(@danmoseley @SamBent @singhashish-wpf @ThomasGoulet73 )

[2022-03-30 12:16] wstaelens commented on #6301
https://social.msdn.microsoft.com/Forums/en-US/home?category=&forum=windowsxps&filter=&sort=relevancedesc&brandIgnore=true&searchTerm=memory

I really hope we are not experiencing this from 2007...: https://social.msdn.microsoft.com/Forums/en-US/9a310989-23a8-497e-b3f2-b1f2d0883bbd/memory-leak-printing-xps-files-on-aspnet?forum=windowsxps

[2022-03-30 18:25] SamBent commented on #6319
@hhu-mahmoud - Your app clearly _is_ using tooltips, otherwise it wouldn't reach this codepath.  The tooltips probably belong to built-in controls or to 3rd party controls that your app uses, so your app doesn't declare them directly.

The diagnosis and proposed fix from @amaitland doesn't go deep enough.  A codepath that reaches that far into CloseToolTip should have `owner != null`;  this is tru

[2022-03-30 20:11] amaitland commented on #6319
@SamBent Thanks for the prompt reply 👍

It's hard to reproduce the problem. It comes during the working

As per https://github.com/cefsharp/CefSharp/issues/4048#issue-1183132694 The bug report completed by @hhu-mahmoud doesn't provide a reproduction unfortunately.

The code in question is part of CefSharp.

- https://github.com/cefsharp/CefSharp/blob/master/CefSharp.Wpf/ChromiumWebBrowser.cs#L537

[2022-03-31 06:40] hhu-mahmoud commented on #6319
@SamBent Thanks for reply.

@amaitland has said all information, what i have.

Actually i become everyday reports from employees, that the app crashed between 2 until 14 times per day with 8 Hours work. I tried to reproduce the problem on the developing machine but no thing happend and everything works fine. At the client PCs i copied the error as  StackTrace from "Windows Events" and I posted it

[2022-03-31 18:37] Njoro007 opened #6522 "When UseWPF set True in a WinForms. Proj fails to recognize ApplicationConfiguration bootstrap code"
### .NET version

6.0.3

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Worked without any issues in NET 5 and Net Framework

### Issue description

In a WinForms desktop application targeting .NET 6, the [UseWindowsForms] element in the .proj file is set to True, and a bootstrap ApplicationConfiguration.Initialize(); is generated

[2022-03-31 18:41] SamBent commented on #6319
To summarize what we know (or suspect):
* (suspect) The crash involves tooltips belonging to the CefSharp browser control, on behalf of the web content it displays
* (suspect) There is a race condition that leads to the crash.  "app crashed between 2 until 14 times per day"
* (know) CefSharp manages its tooltips in a non-standard way.  @amaitland showed us code that manipulates tooltips directly,

[2022-03-31 21:29] vsfeedback opened #6336 "ToolTip no longer stable."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ToolTip-no-longer-stable/1691105)._

---
[severity:It's more difficult to complete my work]
ToolTip behaviour is now unstable.

I tried resetting Visual Studio. Created a simple project with a Button and a ToolTip.  The 'ToolTip' is displayed so briefly as to be unusable. Movement of the

[2022-04-01 00:36] lindexi commented on #6336
Duplicate of #6220

[2022-04-01 07:43] #6336 closed

[2022-04-01 08:53] petsuter opened #6337 "JPEG XL / JPEG XR / AVIF / HEIF / Webp Encoders and Decoders"
System.Windows.Media.Imaging supports only e.g. Gif, Icon, Jpeg, Png, Tiff, Wmp encoders and decoders
but not e.g. JPEG XL, JPEG XR, AVIF, HEIF, Webp encoders and decoders.

[2022-04-01 09:13] singhashish-wpf commented on #6337
@petsuter Would you please explain about the impact of not having these?

[2022-04-01 10:16] petsuter commented on #6337
Not having these means .NET applications can not load or save modern image file formats and must use old image file formats instead that require larger file sizes, worse image quality, less features, and reject valid modern images and not being compatible with other programs that produce such modern image formats.

["The average WebP file size is 25%-34% smaller compared to JPEG file"](https://dev

[2022-04-01 13:35] anjalisheel-wpf commented on #5874
@lindexi CPU usage is high because for pen you are using multiple dashes of DashStyle = new DashStyle(new double[] { 0, 0 }, 0).
This scenario is not going to be a valid one. If we want to use a pen, we will be setting some values to it. Since this issue is not a valid one. I have discussed this with other wpf developers too. Hence we can mark this as closed.

[2022-04-01 14:04] stephentoub commented on #6304
For reference, the offending implementation here appears to be in PresentationNative:
<img width="635" alt="image" src="https://user-images.githubusercontent.com/2642209/161279321-8be48cea-6ce4-45cd-96d3-d240df3cd7f3.png">
the source for which it seems isn't actually available in this repo?
https://github.com/dotnet/wpf/tree/main/src/Microsoft.DotNet.Wpf/redist/PresentationNative

[2022-04-01 19:17] ThomasGoulet73 commented on #6304
@stephentoub PresentationNative is closed source (See #5601) and the project PresentationNative in this repo is just responsible for copying the files from the nuget containing the PresentationNative files to the output path. As far as I know, most of the text rendering is done inside DirectWriteForwarder by calling into PresentationNative which then calls a bunch of methods from PresentationCore

[2022-04-02 00:34] lindexi commented on #5874
@anjalisheel-wpf Thank you. And can I create an new PR to fix it by the code below ?

[code]

[2022-04-02 00:39] lindexi commented on #6337
In fact, the WPF will call the WIC to decode the image file.

[2022-04-02 01:39] stephentoub commented on #6304
Thanks.

[2022-04-02 04:01] ThomasGoulet73 commented on #6337
Like @lindexi said, WPF uses WIC and I don't see WPF using something else or adding support for custom codecs not supported by WIC. But, AVIF, HEIF and Webp are already supported by using Windows extensions which adds other codecs in WIC. AVIF requires [AV1 Video Extension](https://www.microsoft.com/en-ca/p/av1-video-extension/9mvzqvxjbq9v), HEIF requires [HEIF Image Extensions](https://www.micros

[2022-04-02 09:56] petsuter commented on #6337
(Maybe https://github.com/mirillis/jpegxl-wic?)

Relying on WIC and providing only WIC supported formats sounds perfectly reasonable.
But can WPF apps take advantage of these extensions? It seems WPF would have to provide subclasses of e. g. `BitmapEncoder` and pass the right WIC GUIDs to the internal constructor, right?

[2022-04-02 14:50] miloush commented on #6337
[`BitmapDecoder.Create`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.imaging.bitmapdecoder.create?view=windowsdesktop-6.0) does exactly that. If the file is none of the known decoders, you get an instance of `UnknownBitmapDecoder` back.

[2022-04-02 14:51] AArnott opened #6343 "FrameworkTemplate.FindName should provide a way to avoid InvalidOperationException"
The `FrameworkTemplate.FindName` method throws `InvalidOperationException` when the template doesn't match:

https://github.com/dotnet/wpf/blob/559ca9bfc2b47691e9966fcb28c7378e7c1521fc/src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/FrameworkTemplate.cs#L317-L320

But there appears to be no way for the caller to check this condition beforehand in order to avoid the exception. The

[2022-04-02 15:00] miloush commented on #5874
@lindexi I think this is a workaround around a corner case that everyone will be paying for (in performance). It also probably happens when the dash is not exactly 0 but very close to it. And you are replacing it with something else than the developer asked for.

@anjalisheel-wpf Invalid scenario does not justify (or explain) high CPU usage. If it is invalid, why not throw an exception?

[2022-04-02 15:26] Andrej123456789 commented on #5967
There are already rounded corners so I my focus is on buttons

[2022-04-02 18:04] miloush commented on #6262
It is not clear to me what you are trying to achieve but this is not how templating works, and you almost definitely do not want to set the `Content` and `ContentTemplate` to the same object.

Templates are meant to _describe_ a visual tree. Every time an object is represented by a template, the template creates a new visual tree based on that description. Any changes you make in that visual tree

[2022-04-02 18:51] miloush commented on #6273
Note that the `PenDashCap` enum is not available in .NET Framework, it's only in .NET Core... I wonder how that happened.

[2022-04-02 20:06] petsuter commented on #6337
I now confirmed that `BitmapDecoder.Create` can indeed load AVIF, HEIF, and Webp files, if the WIC extensions linked above are installed first.

There's also `BitmapEncoder.Create`, but that doesn't seem to work for me with the Guid from [CLSID_WICHeifEncoder](https://docs.microsoft.com/en-us/windows/win32/wic/-wic-guids-clsids) even with the HEIF Image Extensions installed. Any ideas?

[code]

[c

[2022-04-02 21:48] miloush commented on #6302
The `DataGridColumns` are only descriptors, based on which the actual elements are created. The column headers are presented by `DataGridColumnHeadersPresenter`, an `ItemsControl` using `DataGridColumnHeader` as a container. When `DataGridColumnHeader` container is created, the property values are transferred onto it from `DataGridColumn`, e.g. the `DataGridColumn.Header` property onto `DataGridCo

[2022-04-02 23:01] miloush commented on #6302
The `DataGridColumns` are only descriptors, based on which the actual elements are created. The column headers are presented by `DataGridColumnHeadersPresenter`, an `ItemsControl` using `DataGridColumnHeader` as a container. When `DataGridColumnHeader` container is created, the property values are transferred onto it from `DataGridColumn`, e.g. the `DataGridColumn.Header` property onto `DataGridCo

[2022-04-03 00:19] miloush commented on #6337
`BitmapEncoder.Create` effectively calls `IWICImagingFactory::CreateEncoder` which according to https://docs.microsoft.com/en-us/windows/win32/api/wincodec/nf-wincodec-iwicimagingfactory-createencoder expects a container GUID rather than an encoder GUID.

That said, it still does not seem to be enough to be able to encode HEIF. I am seeing random suggestions on the internet that [HEVC](https://www

[2022-04-03 09:49] petsuter commented on #6337
For HEIF:
[code]
(without buying HEVC) leads to:
[code]
and for Webp:
[code]
still leads to:
[code]
and the same with `Guid wicWebpContainerGuid = new Guid(0x1f122879, 0xeba0, 0x4670, 0x98, 0xc5, 0xcf, 0x29, 0xf3, 0xb9, 0x87, 0x11);`  [from here](https://github.com/webmproject/webp-wic-codec/blob/v0.19/src/uuid.h#L21).

And for AVIF I don't even know what to try.

[2022-04-03 10:00] #6165 closed

[2022-04-03 11:17] miloush commented on #6337
"No imaging component suitable to complete this operation was found." is pretty clear that this format is not available/installed. As far as I know there is no built-in encoder for Webp and AVIF.

The exception you are getting from HEIF is quite confusing to me. I am getting

[code]

as a result from `UnsafeNativeMethods.WICBitmapFrameEncode.Commit`, without `StreamAsIStream` being called back. I

[2022-04-03 11:19] miloush commented on #6337
To summarize, WPF relies on WIC for decoding and encoding images. Future and 3rd party codecs are supported as long as they implement the WIC interfaces. It is unclear to me whether WPF is the correct place to request new codecs built into Windows.

That said, WPF has some space for improvement:
* Classes for recently added built-in decoders (and encoders) could be added, allowing to set parameter

[2022-04-03 14:18] miloush commented on #6337
OK I installed HEVC and now get your `NullReferenceException`, you must have had the encoder from before (I think it used to be part of Windows).

The buffer has data, but it looks like it's the `out uint cbWritten` parameter of `StreamAsIStream.Write`!

<img src="https://user-images.githubusercontent.com/10546952/161431983-952d62cf-1176-49d2-a122-84bd33b48127.png">

That does look like a bug.

[2022-04-03 14:23] petsuter commented on #6337
In my debugger it also shows the exception on `cbWritten = 0;`.

[2022-04-03 14:28] miloush commented on #6337
Yeah I am thinking the caller is not interested in the number of bytes written and passes null pointer to the method, as allowed per https://docs.microsoft.com/en-us/windows/win32/api/objidl/nf-objidl-isequentialstream-write

And the [wrapper](https://github.com/dotnet/wpf/blob/89d172db0b7a192de720c6cfba5e28a1e7d46123/src/Microsoft.DotNet.Wpf/src/WpfGfx/core/api/exports.cpp#L775-L782) does not exp

[2022-04-03 15:48] miloush commented on #6337
Indeed, I confirm that fixing that in the wrapper works and I get a valid HEIF file.

[2022-04-03 16:41] miloush opened #6344 "BitmapEncoder.Save throws NullReferenceException"
* .NET Core Version: 6.0.300-preview.22154.4
* Windows version: 22581.1.amd64fre.ni_release.220318-1623
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

When using HEIF encoder, the `BitmapEncoder.Save` method throws a `NullReferenceException`. User cannot avoid this codepath.

Discovered in #6337.

 **Actual behavior:**

[code]

 **Expected behavior:**

[2022-04-03 17:44] anjalisheel-wpf commented on #6302
@vijayarasan [vijayarasan](https://github.com/vijayarasan)

For this one you are mixing two things together, you have to pick either of the ones mentioned below.

Either use

<Window.Resources>
        <DataTemplate x:Key="headerTemplate">
            <TextBlock Height="50"
                    Text="{DynamicResource firstName}"
                    TextWrapping="Wrap" />
        </DataTemplate>

[2022-04-03 17:45] anjalisheel-wpf commented on #6302
@vijayarasan [vijayarasan](https://github.com/vijayarasan)

For this one you are mixing two things together, you have to pick either of the ones mentioned below.

Either use

<Window.Resources>
        <DataTemplate x:Key="headerTemplate">
            <TextBlock Height="50"
                    Text="{DynamicResource firstName}"
                    TextWrapping="Wrap" />
        </DataTemplate>

[2022-04-03 17:45] anjalisheel-wpf commented on #6302
@vijayarasan [vijayarasan](https://github.com/vijayarasan)

For this one you are mixing two things together, you have to pick either of the ones mentioned below.

Either use

<Window.Resources>
        <DataTemplate x:Key="headerTemplate">
            <TextBlock Height="50"
                    Text="{DynamicResource firstName}"
                    TextWrapping="Wrap" />
        </DataTemplate>

[2022-04-03 17:46] anjalisheel-wpf commented on #6302
<Window.Resources>
        <TextBlock x:Key="TextBlockName" Height="50"
                    Text="{DynamicResource firstName}"
                    TextWrapping="Wrap" />
    </Window.Resources>

[2022-04-03 17:46] anjalisheel-wpf commented on #6302
<Window.Resources>
        <TextBlock x:Key="TextBlockName" Height="50"
                    Text="{DynamicResource firstName}"
                    TextWrapping="Wrap" />

    </Window.Resources>

[2022-04-03 17:48] anjalisheel-wpf commented on #6302
@vijayarasan

For this one you are mixing two things together, you have to pick either of the ones mentioned below.

Either use

[code]

and

[code]

Or use

[code]

and

[code]

In this first approach we are setting style with the help of header template, and in the second one we are setting it with the help of static resource.

I hope this addresses your question, in such a case we can close it.

[2022-04-03 17:55] miloush commented on #6302
@anjalisheel-wpf this does not address the fact that the `DynamicResource` extension does not work on `DataGridColumn`.

[2022-04-03 19:48] miloush opened #6346 "OpenFileDialog.ShowReadOnly does not work"
* .NET Core Version: 7.0.0-preview.2.22152.2
* Windows version: 22581.1.amd64fre.ni_release.220318-1623
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**

The `OpenFileDialog` ignores the `ShowReadOnly` property on the Vista code path.

**Actual behavior:**

No check box in the dialog.

 **Expected behavior:**

A check box in the dialog as per documentati

[2022-04-04 02:38] lindexi commented on #5874
@miloush I do not think throw an exception is a good solution, because it change the behavior.

Yes, it is why I do not create an new PR.

[2022-04-04 08:03] lindexi commented on #6346
Sorry, what is the `Vista code path` ?

[2022-04-04 08:22] miloush commented on #6346
There are two code paths for the file dialogs, one uses GetOpenFileName API while the other one uses IFileDialog API:

https://github.com/dotnet/wpf/blob/3ccd6f5545fbebf775262af446f2aff819a2226c/src/Microsoft.DotNet.Wpf/src/PresentationFramework/Microsoft/Win32/FileDialog.cs#L823-L827

The legacy one is used on Windows XP only. The Vista one is used everywhere else:

https://github.com/dotnet/wpf/

[2022-04-04 10:36] miloush commented on #6337
@petsuter It sounds like we more or less covered the ability to decode the requested formats (or subset of their supported pixel formats). I would suggest closing this issue and opening new ones, probably even one per request - for example AVIF and Webp encoders might have different licensing conditions and different impact. I think it would also be helpful mentioning which other platforms/softwar

[2022-04-04 11:27] miloush opened #6352 "Support retrieving multiple file contents on drop"
**Scenario:**

User grabs multiple attachments in Outlook and drags & drops them into a WPF application. The application should be able to read the contents of all the files.

**Current state:**

The existing `DataObject.GetData("FileContents")` API only returns the first file. Other files need to be accessed by specifying the appropriate `FORMATETC.lindex` member, which is accessible through `Dat

[2022-04-04 11:52] JensNordenbro commented on #3067
Please fix for NET6+ and NET48.

[2022-04-05 01:33] NWoodsman opened #6355 "Setting System.Windows.Media.Pen.DashStyle exhibits unreliable behavior"
* .NET Core Version: 6.0
* Windows version: Windows 10 build 19043.1586
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No
* Security issues and bugs should be reported privately, learn more via our [responsible disclosure guidelines](https://github.com/dotnet/wpf/blob/main/

[2022-04-05 02:05] lindexi commented on #3067
@JensNordenbro We are trying to find a solution, thank you.

[2022-04-05 12:12] znakeeye commented on #6319
This has nothing to do with `CefSharp`. It's a bug introduced in `.NET 6`. We have it in our pure WPF project too.

[2022-04-05 12:33] hhu-mahmoud commented on #6319
@znakeeye do have a way to reproduce the exception? it comes by us randomly during the working and we did not find a way to reproduce it with certain steps!

[2022-04-05 17:03] #6220 closed

[2022-04-05 17:58] deeprobin commented on #6251
@dipeshmsft
[binlog.zip](https://github.com/dotnet/wpf/files/8420731/Build.zip)

[2022-04-05 18:02] Rand-Random commented on #6220
@singhashish-wpf
Does the merge actually fix the original issue?
Notice that the conversation in this topic shifted to a different issue.

[2022-04-05 18:28] CleanCodeDeveloper commented on #438
I hate to break it for you but .NET 6 does not solve this problem. Even with .NET 6 you are forced to use the Winforms FolderBrowserDialog.

[2022-04-05 18:30] AsgardXIV commented on #6312
The behavior has changed for me with either a Windows Update, DotNet Update or an Intel Driver update. Not sure exactly when it changed, and all 3 had updates.

It no longer crashes but the rendering is corrupt/incorrect when connected to a monitor on the Intel graphics.

In the attached videos:
Video 1: Launched on the Intel connected monitor, immediately corrupt.
Video 2: Launched on the NVidia

[2022-04-06 01:00] NWoodsman commented on #6355
I found this comment in the `System.Windows.Media.Pen` class in the callback for the DashStyle dependency property change. It seems that it _might_ apply to my problem, as it seems to refer to the first setting of the dependency property being unique, however I cannot find any public explanation of this though. If anyone is more familiar with WPF, can you shed some light on this?

[2022-04-06 02:25] singhashish-wpf commented on #6220
The merged PR will fix the tooltip getting closed immediately in high DPI scenarios.

[2022-04-06 06:52] kvijay22 commented on #6319
@SamBent
We are also facing this issue. We upgraded recently to 6.0.x, We are constantly facing app crash. This issue occurs when tool tip is invoked as soon as xaml is loaded. This happens for wpf controls not any third party.

CurrentDomain FirstChanceException
Message: Value cannot be null. (Parameter 'element') Type: System.ArgumentNullException
   at System.Environment.get_StackTrace()
   at

[2022-04-06 07:17] gurpreet-wpf commented on #6225
@milos12345 Please create a new issue with minimal repro attached. Thanks

[2022-04-06 07:17] #6225 closed

[2022-04-06 07:19] gurpreet-wpf commented on #6121
@yutengRen Please attach a sample repro to investigate this.

[2022-04-06 07:21] gurpreet-wpf commented on #6033
@diehell02  Please create a new issue if this issue persists.

[2022-04-06 07:21] #6033 closed

[2022-04-06 08:32] trivalik commented on #2357
Is this maybe related to this http://connect.microsoft.com/VisualStudio/feedback/details/363934/app-initializecomponent-is-not-generated-when-startupuri-and-startup-are-missing ? I couldn't find the page but the url text says basically all.

[2022-04-06 11:05] anjalisheel-wpf commented on #5620
@sfreed141

This is a narrator bug because the narrator announces automation name property. To announce sorting order, it must be looking for some property which the narrator team has to address as that is the additional information apart from automation name property.

[2022-04-06 11:08] anjalisheel-wpf commented on #5620
@sfreed141

Narrator does not announce sort order of the column (when DataGridColumnHeader is focused). - This is a narrator bug because the narrator announces automation name property. To announce sorting order, it must be looking for some property which the narrator team has to address as that is the additional information apart from automation name property.

[2022-04-06 16:41] IJlima commented on #3875
having the same problem here, once I publish with PublishSingleFile set to true, I can't read(or write) the setting from app.dll.config.
Note that everything works fine if I publish with PublishSingleFile set to false.

[2022-04-06 16:43] SamBent commented on #6319
@kvijay22 - please attach a sample app, with precise steps to repro the crash.  Including exactly what you mean by "tool tip is invoked as soon as xaml is loaded".

We tried an app containing `<Button ToolTip="my tooltip"/>` and hovering the mouse over the button as soon as the xaml is loaded.  That doesn't crash.

[2022-04-06 17:00] IJlima commented on #3915
This line is what made it work for me, I spend over 4 hours trying to find something, thanks man

[2022-04-06 17:13] GitClickOk commented on #48
@popcatalin81 I think the same! But I stopped thinking in WPF because of [Avalonia](https://docs.avaloniaui.net/). It is simply the evolution we expected and never received from MS. I recommend you read all these docs and I dare you to find one reason to don't use it instead of WPF.

[2022-04-06 18:28] the-black-wolf commented on #48
Sadly, third party libraries. We have essentially given up on WPF on Linux and already ported a lot of things to Avalonia, but we inherited a ton of LoBs and they are all functionally dependent on Infragistics (mostly advanced grid scenarios and charting). Switching to vanilla would not be met with welcome and would do more harm than good in Linux workstation conversion in terms of human adoption,

[2022-04-06 18:36] glyad commented on #48
I appreciate the excellent work of Avalonia developers, but Avalonia isn't WPF, WPF != Avalonia, and the thread isn't about Avalonia, but about to make WPF cross-platform. Probably in future, when I'll be able to run any WPF based project on Avalonia runtime without to port the code, I will advocate Avalonia, but not now...

Please stop to advertise Avalonia here!

[2022-04-06 19:24] znakeeye commented on #6319
No sample project needed. The exact commit is highlighted above - with a 100% valid fix. Please just push it now, and release 6.0.4 asap.

[2022-04-06 19:45] NWoodsman commented on #6355
I stepped through the managed code all the way back to my app. No errors or exceptions, it simply fails to redraw the UI.

[2022-04-06 19:52] JakeSays commented on #48
@GitClickOk The reason to not use avalonia is painfully obvious: none of my existing wpf code will run on it, nor will any of the 3rd party wpf libraries I use.

[2022-04-06 20:04] GitClickOk commented on #48
@JakeSays  and @glyad. If someone is starting something new and doesn't rely on any 3rd party libraries Avalonia will be perfect and it is highly recommended instead of WPF, with great advantages like Android, iOS and WASM support. If you have something old, does not matter what you choose, you will get some pain in upgrading and conversion.

WPF is amazing and lives in my heart, but MS does not c

[2022-04-06 20:20] JakeSays commented on #48
@GitClickOk "pain in upgrading" of course - there's always pain, but avalonia does nothing to protect investment in existing code. they made a conscious decision to not be wpf compatible, so there isn't much of a compelling reason to choose avalonia over something else.

[2022-04-06 20:38] miloush commented on #6251
Have you seen https://github.com/dotnet/wpf/blob/main/Documentation/developer-guide.md?

You need to install the required components into Visual Studio, if I remember correctly this one is in _Windows Universal CRT SDK_.

I also needed admin rights for signing assemblies, so I compile use the "x86 Native Tools Command Prompt for VS 2022 Preview" running as admin.

[2022-04-07 02:45] dt200r commented on #1700
It seems as if there are some serious limitations to building a plug-in architecture with WPF/Core.  As described above, it all appears to stem from the XAML parser's ignorance of assembly contexts.  Here is a summary of our findings and resolutions.

1. XAML namespace resolution only works if there is *one* instance of the referenced assembly in any assembly context (default or otherwise), even i

[2022-04-07 04:46] batzen commented on #6319
@znakeeye I strongly disagree that there is no repro needed as there seems to be a usage scenario neither the WPF team nor the tests are aware of. A repro is quite important to prevent issues in the future.
I strongly agree that this should be fixed as soon as possible. But without a repro the fix might be incomplete.

[2022-04-07 09:31] martinivanoff opened #6379 "Selection in WPF ComboBox cannot be changed if the ItemsSource is populated with objects defined as "record" instead of "class" and SelectedItem is bound to a property of the view model."
* .NET Core Version: 6.0.3
* Windows version: 19044.15876
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Not tested.

 **Problem description:**

Selection of the __WPF ComboBox__ control cannot be changed if the ItemsSource is populated with objects defined as `record` instead of `class` and the __SelectedItem is bound__ to a property in the view model.

The issue appears in the WPF

[2022-04-07 13:51] anjalisheel-wpf commented on #5900
@mawess

I followed your steps, tried reproducing it, I do not think that this is reproducible. Attaching screen recording for the same.

https://user-images.githubusercontent.com/85492722/162214945-079d2085-b23b-4d2b-bb4e-583e2848ee66.mp4

[2022-04-07 20:03] znakeeye commented on #6319
Usually, I would agree. This time, however, my experience tells me otherwise.

* Nobody will manage to create a repro project. It's a complex timing issue that occurs intermittently in rather complex scenarios. E.g. virtualization, recycling, data templates, ContentControls, style triggers etc. Hovering different items...
* A null-check in 6.0.3 would have given us some time to breathe.

**Root ca

[2022-04-08 08:26] wstaelens opened #6386 "XpsDocumentWriter.SaveAsXaml - BitmapMetadata is not available on BitmapImage"
* .NET Core Version: 6.0 (guess all versions)
* Visual Studio 2019, 2022, 2022 preview

 **Problem description:**
 Attaching WinDbg Preview to a process I see lots of System.NotSupportedException happening with message  "BitmapMetadata is not available on BitmapImage"

Why throw instead of checking if metadata is supported or not ?

 **Actual behavior:**

`(50e8.3f8): CLR exception - code e0434352

[2022-04-08 09:44] #5620 closed

[2022-04-09 03:12] lindexi commented on #6386
@wstaelens The `Exception type: System.NotSupportedException Message: BitmapMetadata is not available on BitmapImage` is the inner exception which will be catched.

https://github.com/dotnet/wpf/blob/769161cb26618e4bdceb1d71c39a4d02adc3ec7c/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/Imaging/BitmapFrame.cs#L261-L269

[2022-04-09 12:17] miloush commented on #6379
Why would you use a property changed event, or any event handler to begin with, on a type with value equality?

You can reproduce the issue without records:

[code]

The problem is your data type does not have a reliable hash code. When items are added to items collection, they are stored in a dictionary. Then the WPF subscribes to the `PropertyChanged` event, making the handler field non-null and

[2022-04-09 12:52] DanStevens commented on #6220
Is there a way to downgrade .NET to 6.0.2 until this issue is properly fixed?

[2022-04-09 14:48] nvmkpk commented on #5711
I found that the issue here is the generated temporary project contains copy of everything defined in the original project resulting into the `AssemblyName` getting overridden by what is defined in the original project. The fix would be to not copy the `AssemblyName` property from the original project.
![image](https://user-images.githubusercontent.com/18663052/162579103-45e8184d-0feb-48dd-940e-e0

[2022-04-10 00:21] sam-wheat opened #6391 "How to intercept a bound command?"
I wrote a simple control that displays a popup with a ListBox.  Implementer of my control can bind a command to `SelectionChangedCommand`, which will execute when user selects an item from the ListBox.  However, before `SelectionChangedCommand` executes, I want to set `IsDropDownOpen` property on my control to false which will close the popup.

Basically I want to intercept `SelectionChangedComman

[2022-04-10 06:34] ThomasGoulet73 commented on #6391
@sam-wheat The easiest way would be to add a new Action to change the property value of `IsDropDownOpen` before the `InvokeCommandAction`.

Something like this:
<details>
  <summary>Content of Generic.xaml</summary>

[code]
</details>

Another easy way would be to call SelectionChangedCommand from a PropertyChangedCallback on the SelectedItem property instead of from a EventTrigger (Though this wo

[2022-04-10 15:01] NewUserHa commented on #2294
this issue buggy PowerToys too. https://github.com/microsoft/PowerToys/issues/11810

@lindexi dragging any other app doesn't have any issue at all.

@lindexi the app may should use max fresh rate instead of 60 which may looks laggy on 144hz monitor I guess

I remember task manager shows that the powertoys one seems to have GPU engine usage(probably GPU - 3D?). but it should like any other app with

[2022-04-11 00:46] lindexi commented on #4488
@samir-dahal Has your problem been solved? Can we close this?

[2022-04-11 10:43] ShalokShalom commented on #48
That this thread is commented on 3 years and literally over 300 posts after it got closed, does say something about it all.

I suspect that this decision is done more in isolation and without the awareness of higher level executives, since the rest of the Microsoft developer oriented toolkits get ported and receive much more affection to go cross platform.

How scientifically correct is the statem

[2022-04-11 13:33] MohanramAnbukkarasu opened #6393 "Unable to use design time data for CustomControl/UseControl in WPF"
**Problem description:**

Unable to use design time data for custom control, same as the way we have used for WPF ListView.

 **Actual behavior:**
We have used the given way below to show design time data for ListView.

![image](https://user-images.githubusercontent.com/44049406/162748690-80ba25f3-212b-4cf6-bd02-50b1816f0e5e.png)

**Reference link:**  https://docs.microsoft.com/en-us/visualstudio/

[2022-04-11 13:45] wstaelens commented on #6386
@lindexi i mean that it should not throw an exception, as the comments in the code also clearly state that it should be better to pass null, which would make the process also much faster/better I believe.

` //do not throw not support exception
                //just pass null`

[2022-04-11 18:25] #5900 closed

[2022-04-11 20:20] smry-web commented on #470
Any updates on this?

[2022-04-12 01:17] Ray-Wynn commented on #6220
The issue is related to scale settings other than 100% (merged report #6336) on Windows 11.
System -> Display -> Scale = 100% problem disappears.
If this helps getting it fixed sooner?

[2022-04-12 05:33] ToxicToxine commented on #6312
@AsgardXIV  we, in the comapany i work for, have exactly the same result.
The new part is this Exception thrown, when changing Monitors.

![2022-04-12 07_32_03-AnalyserCentral (Debugging) - Microsoft Visual Studio](https://user-images.githubusercontent.com/102365476/162887530-4cab4475-8d1b-49ec-8259-94f7ed8db97d.png)
n

[2022-04-12 06:52] #4488 closed

[2022-04-12 09:49] YuliiaKovalova opened #6398 "Absence of .net runtime in Microsoft.WindowsDesktop.App package"
Hi,

Recently install-scripts team has received an [issue](https://github.com/dotnet/install-scripts/issues/266) related to desktop environment installation.
We investigated this problem and found out that `Microsoft.WindowsDesktop.App` archive doesn't contain the required files for fullfilling this request.

Could you help to deal with it or redirect it to a proper team?

[2022-04-12 14:06] batzen opened #6401 "WPF source code missing in Source Browser"
Since a few days or weeks, i don't know exactly since when, WPF source code is missing on https://source.dot.net
As i don't know which team is responsible and since WinForms is still being included there i thought this might be the correct repo to report this issue.
If this is the wrong repo it would be nice to get a hint at where this should be reported or if it gets re-routed to the correct repo

[2022-04-12 23:36] ThomasGoulet73 commented on #6401
@batzen Maybe a better repo would be https://github.com/KirillOsenkov/SourceBrowser ?

[2022-04-13 03:04] tryashtar opened #6407 "TreeView slower than the Winforms version"
* .NET Core Version: `6.0.200`
* Windows version: `22H2 (OS Build 22593.1)`
* Does the bug reproduce also in WPF for .NET Framework 4.8?
  * Sorry, don't have that option. And yes I have it installed.
![image](https://user-images.githubusercontent.com/26075577/163089142-b5df4b44-5310-4f28-8fc8-93e3a55698c0.png) ![image](https://user-images.githubusercontent.com/26075577/163089270-b0e9c3b9-5a74-4a2

[2022-04-13 05:14] batzen commented on #6401
That's just the repo containing the sources for Source Browser itself. Maybe @KirillOsenkov can point to the right repo or team?

[2022-04-13 07:07] gurpreet-wpf commented on #6393
This seems to be a XAML designer issue. Please check with them.

[2022-04-13 07:07] #6393 closed

[2022-04-13 07:11] #6401 closed, assigned to nobody

[2022-04-13 08:33] wstaelens commented on #6386
I really think all the code could use some improvements, like using nameof()

https://github.com/dotnet/wpf/blob/769161cb26618e4bdceb1d71c39a4d02adc3ec7c/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/Imaging/BitmapFrame.cs#L256

[2022-04-13 10:27] dxh-sc opened #6411 ".net 6: WriteableBitmap performance lower than Net framework 4.8."
* .NET Core Version: .net6
* Windows version: win10 or win11
* Does the bug reproduce also in WPF for .NET Framework 4.8?  No

!!!Upgrade project to Net6, the test found this problem.

when i use WriteableBitmap to display video frame, will cost 70-90 ms with .net6, but if i use .net48, have no this issue.
the frame size is 1920x1080.

_frameBitmap = new WriteableBitmap(_camera.Width, _camera.Heig

[2022-04-13 10:55] IAmTheCShark opened #6412 "Dispatcher MemoryLeak"
When investigating a memory leak using a process dump from a client, I noticed that there are lots of Dispatchers

![image](https://user-images.githubusercontent.com/20905599/163154167-f171d5d4-016a-46ab-a044-e2a4c9502c75.png)

When you take a close look on the first screenshot at paths to root it looks like Dispatchers are holding references of each other.
To my understanding a Dispatcher is conn

[2022-04-13 11:20] lindexi commented on #6386
@wstaelens Let's do it.

[2022-04-13 11:28] wstaelens commented on #6386
Rather see the xps memory and performance issues resolved....

[2022-04-13 12:07] lindexi opened #6415 "The first point in StylusPlugin is wrong when use the high DPI"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Windows version: (`winver`)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes/No
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? If yes, please file the issue via the instructions [here](https://docs.microsoft.com/visualstudio/ide/how-to-

[2022-04-13 12:18] KMZeiseBTAC opened #6416 "Resources used in ListBox ItemTemplate not properly loaded"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`) 5.0.16
* Windows version: (`winver`)   21H1 19043.1645
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? If yes, please file the issue via the instructions [here](https://docs.microsoft.com/vi

[2022-04-13 13:12] lindexi commented on #6415
And I think the StylusLogic.GetAndCacheTransformToDeviceMatrix should return the first Matrix when the source is null.

https://github.com/dotnet/wpf/blob/28205800de1d11595b6c598d0760af7dca1a49d3/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Input/Stylus/Common/StylusLogic.cs#L417-L435

[2022-04-13 15:01] wstaelens opened #6426 "Remove ArrayLists from WPF / XPS to improve code and performance"
https://github.com/dotnet/wpf/blob/89d172db0b7a192de720c6cfba5e28a1e7d46123/src/Microsoft.DotNet.Wpf/src/ReachFramework/AlphaFlattener/Primitive.cs#L1999

ArrayList? why not List<Primitive>?

https://github.com/dotnet/wpf/blob/89d172db0b7a192de720c6cfba5e28a1e7d46123/src/Microsoft.DotNet.Wpf/src/ReachFramework/AlphaFlattener/Flattener.cs#L101

https://github.com/dotnet/wpf/blob/89d172db0b7a192de72

[2022-04-13 17:00] IAmTheCShark commented on #6426
My wild guess is that `List<T>` didnt exist when the code was written.
Also they are basically identical in terms of code, the only improvement here is getting rid od boxing in a few places, but mostly it wouldn't improve at all.

[2022-04-13 19:57] wstaelens commented on #6426
@IAmTheCShark just search arraylist VS list<t> and you will find many reasons why it will boost performance.

WPF/XPS code should be made up-to-date for .net (core).

(My 1st hit: https://stackoverflow.com/a/59379803 )

[2022-04-13 20:40] batzen commented on #6416
That's because you can't re-use visual elements as they can only have one visual parent.
Defining visuals as resources is not a good idea.
You can use a DataTemplate, VisualBrush, DrawingImage or something like that to achieve what you want.

[2022-04-14 02:24] lindexi commented on #6415
When the wpf will set the `stylusDevice.CriticalActiveSource` ? The `WispLogic.PreNotifyInput` will call the `stylusDevice.UpdateState` method to calculate the ActiveSource in the Main UI Thread.

But the StylusPlugin is running in the `Stylus Input` thread and fast than the UI thread.

[2022-04-14 05:43] IAmTheCShark commented on #6426
Again, the only difference is when value types are involved (boxing), and that is not so often.

[2022-04-14 09:08] KMZeiseBTAC commented on #6416
In other words, I can work around it with defining something like
[code]
and use it with `<Rectangle Style="{StaticResource IconGreenStyle}"/>`
Verbose, works only with graphics that have a known dimension, but VisualBrush has a good performance.

The simplest code seems to define a control template:
[code]
and use it with `<Control Template="{StaticResource IconGreenTemplate}"/>`

Thanks, now I u

[2022-04-14 12:08] fuzzymannerz commented on #438
I have a university project to implement a folder browser system for file comparison and I think it's not designed to help me learn more about the syntax and how to create WPF applications like the previous projects were but rather a test of patience, frustration and how to find workarounds to what I would have otherwise thought to be a basic thing that was already included. This is crazy stuff.

[2022-04-14 17:57] mol opened #6433 "NullReferenceException in PopupSecurityHelper started appearing yesterday (with .NET Core 3.1.24 update?) for hundreds of users so far"
* .NET Core Version: **3.1.24.**
* Windows version: **Windows 10 and 11 so far.**
* Does the bug reproduce also in WPF for .NET Framework 4.8?: **Unable to reproduce so far. Just seeing hundreds of bug reports coming in from our users.**
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? **No.**

 **Problem description:**
Yesterday, April 13,

[2022-04-14 19:55] raffaeler opened #6434 "Enable WPF to play well with Dependency Injection"
I created my own framework to use Dependency Injection in WPF. This is done using the ASP.NET infrastructure.
I can inject pages, viewmodels and many other types, but the WPF infrastructure does not allow to inject, for example, converters or markup extensions.

Markup extensions provide an IServiceProvider which we can't access elsewhere.

This issue is about a two-phase request:
- Step 1 (short-

[2022-04-15 01:10] lindexi commented on #6434
See https://github.com/dotnet/wpf/pull/4026

[2022-04-15 02:43] NWoodsman commented on #6355
@gurpreet-wpf @lindexi

I have refined my gist to demonstrate more undesirable broken behavior, this time showing that the basic default Dash Styles found in `DashStyles` static class are broken.  i.e. `DashStyles.Solid`, `DashStyles.Dash`, `DashStyles.Dot`

Step 1 - Setting `DashStyles.Dash` then `DashStyles.Dot` does not entirely replace the pattern with `Dot` , the line becomes a mix of both pr

[2022-04-15 07:03] raffaeler commented on #6434
Great work @lindexi but I believe you should add more value to your PR by submitting a test sample that shows how/when to use the factory. Otherwise it juist looks like an internal perf gain and nothing more.
Please be more verbose :-)

[2022-04-15 13:57] paulrozhkin opened #6440 "TabStripPlacement binding exception in TabItem"
* .NET Core Version: 6.0.100
* Windows version: Windows 10 Version 20H2 (OS Build 19042.1645)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
Binding failure occurs when removing last item (last tab) from TabControl. This is independent of whether MVVM or code behind is being used.

 **Actual behavior:**
When deleting the last tab I get an error:
[code]

[2022-04-16 07:07] zgabi opened #6446 "Stack object allocation in UIElementHelper.InvalidateAutomationAncestors should be removed"
I noticed in our application, that more than 20% of the object allocations are in the UIElementHelper.InvalidateAutomationAncestors and in InvalidateAutomationAncestorsCoreHelper, which is adding to this Stack.

This Stack object should be cached somehow.

![image](https://user-images.githubusercontent.com/3104253/163646509-72956e17-9287-4fe9-b391-16e202bd17c8.png)

[2022-04-16 12:42] miloush commented on #6386
There is a difference between "this source does not support metadata" and "this source supports metadata but does not have any". If the suggested fix is to always return null, this distinction would be lost.

A better "fix' might be for either the `XpsDocumentWriter` to not ask for metadata, either by first checking whether the source is a `BitmapFrame` or by adding some `SuportsMetadata` property

[2022-04-16 12:49] miloush commented on #6411
Do you a project that reproduces the issue?

[2022-04-17 12:45] cuiliang commented on #6433
Same problem here,
Windows 11 `10.0.22598.0`, .Net framework 4.7.2

stacktrace:
[code]

2
[code]

3
[code]

[2022-04-17 21:22] mayurpaghdal commented on #3811
@kant2002 any updates on this?

[2022-04-18 00:18] BinToss commented on #5638
The WPF libraries in .NET 5 and 6 are trim-incompatible. Trimming WPF can be forced when developing with the .NET 5 SDK, but it results in runtime issues like this one.

[2022-04-18 00:41] lindexi commented on #6411
What is the `Extension.CopyMemory` ? Thank you.

[2022-04-18 06:42] kant2002 commented on #3811
@mayurpaghdal there no progress, so there no update. You should check existing issue.

I think if somebody wants to have trimmable WPF there options to nudge Microsoft,
somebody should convince Microsoft that there market for that. You should provide case iltrim for your app, and let MS know.
Also please contact your MS representative and try talk to them about feature, so you use 2 communication

[2022-04-18 07:06] gurpreet-wpf commented on #6412
@IAmTheCShark Can you please attach the sample repro?

[2022-04-18 07:10] gurpreet-wpf commented on #6416
@KMZeiseBTAC Can we close this?

[2022-04-18 07:20] gurpreet-wpf commented on #6446
@zgabi Could you please attach a sample repro? Please provide more details about the issue.

[2022-04-18 09:32] tapika commented on #3811
One approach is always to go with C++, I doubt it would require much trimming at the end, and also depending on UI framework - it could be already portable to multiple OS:s.

https://www.youtube.com/watch?v=vWXrFetSH8w
https://medium.com/swlh/what-makes-godot-engine-great-for-advance-gui-applications-b1cfb941df3b

Let me know if someone will try those approaches (interested in how community around

[2022-04-18 16:12] zgabi opened #6452 "WeakEventManager lock issue"
.NET 6.0.202
Windows Server 2022 21H2 20348.643
Does the bug reproduce also in WPF for .NET Framework 4.8?: yes

 **Problem description:**
Collection was modified exception in `WeakEventTable `cleanup.
It seems that the problem occures only when `EnableWeakEventMemoryImprovements` is true.

_dataTable is changed in the PurgeInternal code in this loop:
https://github.com/dotnet/wpf/blob/89d172db0b7

[2022-04-18 16:30] zgabi commented on #6446
Not really:(
Problem occures in our application, which is quite big.
I can attach a dotMemory dump, if it helps...however you can see in the screenshot that a lot of Stack<DependencyObjects>s are allocated in UIElementHelper.InvalidateAutomationAncestors.

[2022-04-18 17:53] zydjohnHotmail opened #6453 "Create a video from WPF animation."
Hello:
I am using WPF for C# target .NET 6.0; I have Visual Studio 2022 (Version 17.1.4) and also VS 2022 Preview (Preview Version 17.2.0 Preview 3.0) on Windows 10 (Version 21H2).
I can write some C# code to generate animation, like the following code:

using System;
using System.Windows;
using System.Windows.Controls;
using System.Windows.Media;
using System.Windows.Shapes;
using System.Windows.

[2022-04-19 00:58] lindexi commented on #6452
It seems to be a bug

[2022-04-19 02:58] dxh-sc commented on #6411
the "Extension.CopyMemory" is a windows API.

[2022-04-19 03:10] dxh-sc commented on #6411
it is our product, it is not easy provide the rep to test.

[2022-04-19 03:15] lindexi commented on #6411
@dxh-sc  I compared the codes about WriteableBitmap of .NET Framework 4.8 and .NET 6 and didn't seem to find any significant performance difference

[2022-04-19 03:18] dxh-sc commented on #6411
ok, thank for your replay, but it did happen.
and i will research more.

[2022-04-19 03:19] lindexi commented on #6411
@dxh-sc Your demo code will be very valuable.

[2022-04-19 03:21] dxh-sc commented on #6411
ok, i will try to make a demo.

[2022-04-19 03:22] lindexi commented on #6411
@dxh-sc  Could you test the performance of `Extension.CopyMemory(_backBufferPointer, frameInfo.data, (uint)frameInfo.frameSize);` ?

[2022-04-19 03:25] lindexi commented on #6411
Or using `Buffer.MemoryCopy`

[2022-04-19 03:25] dxh-sc commented on #6411
yes, it will fast, less than 2ms.

[2022-04-19 03:26] dxh-sc commented on #6411
ok, i will try, but i think should not there.

[2022-04-19 03:28] lindexi commented on #6411
I'm not sure. But P/Invoke may cause some problems

[2022-04-19 03:35] dxh-sc commented on #6411
ok, let do a demo first.

[2022-04-19 11:36] IAmTheCShark commented on #6412
Unfortunately I can't.
Have tried quite a while. So i guess there is not much you can do either.

[2022-04-19 11:40] NickeManarin opened #6458 "WPF ARM64 app crashes on startup, unless assemblies are somewhat forcibly loaded"
Hi, I have been getting `BadImageException`'s when loading my WPF app exported as arm64.

These are the publishing settings, but not that it also happens with single file (on/off) and framework-dependant as well.

![image](https://user-images.githubusercontent.com/14798947/159193282-8e0cd18a-b23d-47a1-904a-c29c2f5a2f41.png)

![image](https://user-images.githubusercontent.com/14798947/159193290-794

[2022-04-19 14:20] ryanmolden commented on #6433
Visual Studio is also seeing this crash now, it is the top crash in our 17.2 Preview 3 release.

[2022-04-19 15:31] RajeshAKumar commented on #6220
This is breaking production system and we can't dictate to end users how they should use the windows scaling.....

Can we expect a patch sooner than 6.05?
Please consider this a high priority.

[2022-04-19 16:50] singhashish-wpf commented on #6433
We are checking this as of now. @mol could you please confirm again if you are seeing this on 3.1.24?

[2022-04-19 18:28] AraHaan commented on #6024
Luna, and Royale were both Windows XP themese with RoyaleNoir being unreleased but popular themes.

with Applications using both of the themes as they are still popular even on modern OS's for their production programs makes this an unlikely option for them.

[2022-04-19 20:03] mol commented on #6433
That was just my assumption after looking through the change log, but I haven't verified this with our users.

System.Windows.Controls.Primitives.Popup.PopupSecurityHelper.RegisterForTooltipDismissNotification(UInt32 flag)
which doesn't exist in any version of WPF except for .NET 4.8.1. That hasn't been released yet, but it is included in previews of the next release of Windows 11. So I suspect al

[2022-04-20 00:53] ThomasGoulet73 commented on #6220
@RajeshAKumar .Net 6.0.5 is the next servicing release so it probably can't be sooner than .Net 6.0.5. The current servicing release for April is .Net 6.0.4 so you can expect .Net 6.0.5 to be released next month.

[2022-04-20 01:22] lindexi commented on #6412
@IAmTheCShark I do not think so. The object be captured by MediaContext, and it means that the object is rendering. In other words, the UI is using this object. You are confused by dotMemory, and this is just one of the reference paths.

[2022-04-20 01:53] RajeshAKumar commented on #6220
Sure if it is within a month, that is great. Thank you.

[2022-04-20 03:13] lindexi commented on #6453
This is the recommended way. It hard to make everyone happy when we try add this "feature" to framework.

[2022-04-20 04:53] ThomasGoulet73 commented on #6453
I don't think this should be a built-in feature in WPF. I think it would be very complicated to do because of the complexity of creating a video (Video codecs, container types, hardware acceleration, etc). Also, I don't think the need to create a video from a specific animation is very common.

That being said, another way to do what you want would be to render the control to images frame by frame

[2022-04-20 06:10] IAmTheCShark commented on #6412
@lindexi i am not entirely convinced, but lacking a reproducable example I will close this for now.
The other concerning thing is the ammount of Dispatchers, not just the "holding itself" thing.
If I ever manage to reproduce this, I will open a new issue.

[2022-04-20 06:10] #6412 closed

[2022-04-20 06:18] Symbai opened #6462 "XAML: MouseBinding does not work if a keyboard modifier is hold down"
* .NET Core Version: 6.0
* Windows version: Windows 11
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No idea

 **Problem description:**
Binding a command in XAML using MouseBinding is not executed when the user holds down SHIFT or CTRL key while clicking on it. This is a problem if we want to check for these modifier keys and execute different code in our command based on whether S

[2022-04-20 06:21] lindexi commented on #6412
@IAmTheCShark  I look forward to your demo, thank you.

[2022-04-20 11:55] ft9788501 opened #6463 "Crash 'Unable to cast object of type 'System.__ComObject' to type 'ITfThreadMgr'.'"
* .NET Core Version: 3.1
* Windows version: (`Windows 10 Pro 19043.1645`)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Unknow
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No.
* Security issues and bugs should be reported privately, learn more via our [responsible disclosure guidelines](https://github.com/dotnet/wpf/blob

[2022-04-20 13:20] lindexi commented on #6463
Could you add the demo ?

[2022-04-21 11:12] johnco3 commented on #6220
I encountered this flashing tooltips also.  It really affects my workflow as the viewing IDE at 100% makes the tiny fonts on the menus almost impossible to read.  I wasted 2 days tracking this bug down (reinstalling windows and Visual Studio and trying on various other PCs).  I wish I saw this discussion last week :(  Surely ms can push this .Net update a little earlier than usual (before I go bli

[2022-04-21 18:45] Tom60chat opened #6469 "Looping method call in a BackgroundWorker does an access violation instead of a StackOverflowException"
* .NET Core Version: 6.0
* Windows version: 21H2 (19044.1645)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:** Looping method call in a BackgroundWorker does an access violation instead of a StackOverflowException

 **Actual behavior:** Crash with code 3221225477 'Access violation'

 **Expected behavior:** Throw an 'System.StackOverflowException'

 **Mini

[2022-04-22 00:52] lindexi commented on #6469
@Tom60chat I do not think it is the WPF bug. Please feedback to [runtime](https://github.com/dotnet/runtime/)

[2022-04-22 01:44] AsgardXIV commented on #6312
I got a response from Intel to say they reproduced the issue and they it's fixed in an internal driver build. No timeline on a release yet.

[2022-04-22 15:45] lncubus opened #6471 "Tips disappear before anyone could read it."
* .NET Core Version: Microsoft.NETCore.App 6.0.4, Microsoft.WindowsDesktop.App 6.0.4
* Windows version: Windows 11 Home, 21H2 build 22000.613
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
Tooltips on WPF controls disappear just after displayed.
We experience that on some systems with different Windows 10/11 versions and different .Net 6 framework versi

[2022-04-22 15:53] ThomasGoulet73 commented on #6471
This is probably a duplicate of #6220.

The fix for #6220 is already merged in the .Net 6 servicing branch and should be included in the next servicing release (6.0.5).

[2022-04-22 16:01] lncubus commented on #6471
Looks like that, but I've got it on .Net 6.0.2 as well.
Anyway setting display scale to 100% fixes the problem.
Will wait for .net 6.0.5 thank you.

[2022-04-22 16:11] ThomasGoulet73 commented on #6471
@lncubus See @SamBent's comment [here](https://github.com/dotnet/wpf/issues/6220#issuecomment-1078072569). The issue was for a similar tooltip bug which was fixed in .Net 6.0.3 but it broke tooltips in high-DPI which should be fixed in .Net 6.0.5.

[2022-04-22 16:14] htcfreek commented on #6471
Now things make sense. 💡

[2022-04-22 16:43] jhm-ciberman opened #6472 "XAML Autocomplete for VSCode"
Visual Studio UI lacks a lot of functionallity built in VSCode and the performance is terrible. I use normally VSCode for all my work and my producitivy is increased in comparison to using Visual Studio. The only downfall is the lack of proper XAML autocompletion.

That's why I would like to request an autocomplete support extension for visual studio code. I don't want a full visual designer like

[2022-04-22 19:23] Tom60chat commented on #6469
Okay, I will transfer to runtime.

[2022-04-22 19:23] #6469 closed

[2022-04-23 01:54] paddyo7715 commented on #644
So is there a workaround for this?

[2022-04-23 06:21] danielchalmers opened #6477 ".NET 5->6 localization regression: Static binding throws during parse"
* .NET Core Version: 6.0
* Windows version: 19044.1645
* Does the bug reproduce also in WPF for .NET Framework 4.8?: N/A
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No
* Security issues and bugs should be reported privately, learn more via our [responsible disclosure guidelines](https://github.com/dotnet/wpf/blob/main/README.md#reporti

[2022-04-23 07:16] Camios opened #6478 "False Binding Failure in Visual Studio 2022"
I would like to have a WPF hyperlink style where the underline is the same color as the text (foreground). It can either inherit the value from parent or can be overridden with a local property and both text and underline colors change to the same specified value.

Default styling works (is that because the underline inherits the Pen brush from the Text??), but I need to have my custom style which

[2022-04-24 15:36] ifarbod commented on #109
3 years later, .NET 7 is on the horizon and this remains unfixed.

[2022-04-25 00:42] NickeManarin commented on #6458
Did I post this in the correct place?

[2022-04-25 00:58] lindexi commented on #6477
I run your code in WPF debug mode and find the exception below.

System.Globalization.CultureNotFoundException: 'Only the invariant culture is supported in globalization-invariant mode. See https://aka.ms/GlobalizationInvariantMode for more information. (Parameter 'name')
en-us is an invalid culture identifier.'

![图片](https://user-images.githubusercontent.com/16054566/165004736-cddef297-f355-492a

[2022-04-25 01:18] lindexi commented on #6477
Why it can work well in .NET 5? Because the `CultureInfo.GetCultureInfoByIetfLanguageTag("en-us")` will return `System.Globalization.CultureInfo` in .NET 5 and throw the exception in .NET 6.

See https://docs.microsoft.com/en-us/dotnet/core/compatibility/globalization/6.0/culture-creation-invariant-mode

[2022-04-25 02:25] #6312 closed

[2022-04-25 07:22] singhashish-wpf commented on #6458
Can you please share a sample/minimal repro for the bug?
Did you check this with dotnet7? Please check and confirm on dotnet7 also.

[2022-04-25 07:26] singhashish-wpf commented on #6463
A sample/minimal repro will be required to check this further.

[2022-04-25 07:27] singhashish-wpf commented on #6471
Please check in 6.0.5, The fix is included.

[2022-04-25 07:27] #6471 closed

[2022-04-25 07:29] singhashish-wpf commented on #6472
Please raise this request in vscode repo.

[2022-04-25 07:29] #6472 closed

[2022-04-25 08:51] chrisk414 commented on #3996
Epic just released Unreal5 and their latest tech, Ninite, only runs under DX12. I tried to host UE5(DX12) on wpf and it failed. Yeah other UE4 app runs just fine with WPF.

So, my question is, is WPF ever going to get DX update? If not, has anyone succeeded hosting DX12 app? Unable to host UE5 is a deal-breaker for me and I would appreciate if you can help.

Many thanks.

[2022-04-25 08:53] Brouilles commented on #3996
WPF is dead. Try Avalonia UI.

[2022-04-25 09:04] BhanuPrakashGit opened #6481 "Color contrast ratio for highlighted menu item is 2.704:1 which is less than required ratio 3:1."
**GitHubTags**: #A11yMAS;#A11ySev3;#A11yTCS;#DesktopApp;#Win10;#BM-.NetCore(WPF)-Win32-July2021;#.NET Core;#Nonbenchmark; WCAG1.4.11;

### Environment Details:
Application Name: Accessibility Insights for Windows
Windows Version: Win10
Application Version: Version 1.1.1741.1

### Repro Steps:

1. Open WPF-Samples-Master.
2. Open ControlsAndLayout.exe file.
3. Tab to "File" button and hit enter.
4.

[2022-04-25 11:33] htcfreek commented on #6471
Is it released yet?

[2022-04-25 13:56] singhashish-wpf commented on #6471
Not yet released.

[2022-04-25 14:50] lncubus commented on #6471
Can we get some nightly build then?

[2022-04-25 16:33] anthony-adr-source opened #6483 "error BG1002: .baml cannot be found"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)

.NET SDK (reflecting any global.json):
 Version:   6.0.202
 Commit:    f8a55617d2

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19044
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.202\

Host (useful for support):
  Version: 6.0.4
  Commit:  be98e88c76

[2022-04-25 21:13] DrewScoggins commented on #6138
What we use in the perf lab is the first Present/Stop event after the last PraseXamlBamlInfo event. Basically, we want to make sure that we are done parsing all of the Xaml related to the scene we are trying to render, and once we have done that we stop at the next Present/Stop event, which means that WPF has finished drawing the frame.

[2022-04-26 00:34] lindexi commented on #6471
@lncubus You can use my custom build version: https://github.com/dotnet-campus/wpf/actions/runs/2165079979

Please note that this is not an official build. But you can use it to test your application.

[2022-04-26 06:29] hhu-mahmoud commented on #6319
@SamBent unfortunately the problem still with the new .Net Version 6.0.4 and nothing is getting better.
We have been downgraded the system to .Net 5, because it's stable and after every update for .Net we let one employee to test .Net 6 until the app crashs. This time the app crashes after about 3 Hours without intensive working!!

-- if A null-check can give us something to breathe and it could s

[2022-04-26 06:42] #5410 closed

[2022-04-26 09:27] miloush commented on #6478
Citing the answer in the link:

That sounds legitimate. You should also include some repro code.

[2022-04-26 11:05] miloush commented on #6463
The comment in the WPF code suggests this might be due to IME configuration issues which might be challenging to reproduce on other machines.

Yes, Cicero is a text services framework that deals with IMEs.

[2022-04-26 11:52] miloush commented on #6462
Note the notes for the Gesture property you linked:

If the behavior was changed the way you suggest, this contract would be broken - using `MouseAction="LeftClick"` would not be equivalent to using `Gesture="LeftClick"`. You can obviously argue that the `Gesture` behaviour in such case should also be changed to mean any modifier. That would however make `KeyBinding.Gesture` and `MouseBinding.Gest

[2022-04-26 12:35] miloush commented on #6477
Good analysis @lindexi, though not sure 'External Non-WPF Issue' is an appropriate tag.

@danielchalmers Note that the `Language` property [defaults](https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement.language?view=windowsdesktop-6.0) to `en-us`. You disabled that culture for yourself, so you also need to ensure you don't use it.

You can do that easily by setting `Languag

[2022-04-26 13:04] miloush commented on #6453
I did this in my life. :-) Basically, I was going through the animation frame by frame and using `RenderTargetBitmap` to render the visual. I was writing it out directly as an uncompressed AVI file (and then used external tools to add audio and encode it to mp4). More recently I used Media Foundation directly to encode camera stream into mp4.

As surprising it may be, I would actually support WPF

[2022-04-26 13:07] lindexi commented on #6463
@jim-jiang-github You can disable it by `Disable Thread Input Manager`. But it is not the good ideas.

How to Disable Thread Input Manager? See https://social.msdn.microsoft.com/Forums/en-US/b464ecfa-1673-4f06-bba0-bf3eacaae9fc/how-do-you-turn-off-the-automation-features-of-windows-speech-recognition?forum=netfxbcl

[code]

[2022-04-26 15:09] miloush commented on #6463
Can you tell us which input methods you enabled or installed? Which OS is this?

[2022-04-26 15:33] Symbai commented on #6462
Not really. If Gesture is used Gesture will be (should be) checked first. The only reason to use Gesture is when you explicit want to execute a different(!) command if a modifier is hold down. If Gesture isn't used or the gesture doesn't match the modifier MouseBinding will be executed.

Its odd that if I want to execute the same command regardless of the modifier I have to add 3(!) Gesture's in X

[2022-04-26 15:56] miloush commented on #6462
Take this existing code:
[code]
If what you propose is implemented,
 a) `MyCommand1` is now unexpectedly called when Ctrl is down
 b) `MyCommand2` stops being invoked completely

This is one of the dangers of the design - it is not true. You have to add all combinations of all the modifiers, i.e. 16 bindings (if we only consider the defined `ModifierKeys` values) to get an equivalent behavior to w

[2022-04-27 00:32] lindexi commented on #6463
I don't think so. IME has a hundred ways to crash applications.

[2022-04-27 00:37] miloush commented on #6463
@lindexi If the IME is valid but does not implement ITfThreadMgr then that is provably for WPF to deal with.

[2022-04-27 00:41] lindexi commented on #6463
@miloush Sorry, I means that we should not catch it. Because it can crash the application in any code which call the IME. Such as my call stack:

[code]

[2022-04-27 02:16] jim-jiang-github commented on #6463
We installed Microsoft Chinese input, but we are not sure whether the Chinese input method was enabled when crash happened.

[2022-04-27 07:05] singhashish-wpf commented on #6483
@anthony-adr-source Could you please provide a minimal repro with proper reproduction steps?

[2022-04-27 11:07] Camios commented on #6478
Updated description with source.
@miloush the answer in the link only looked at the TextBlock binding but I also had it fail when the binding is to the Hyperlink.

[2022-04-27 11:54] IAmTheCShark opened #6490 "GridSplitter does not work when IsItemsHost is true"
* .NET Core Version: 5.0
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

`GridSplitter` does not work, when it is added programmatically to `ItemsControl.Items` that uses a `Grid` with `IsItemsHost="true"`

Reason:
[`GridSplitter.InitializeData` ](https://source.dot.net/#PresentationFramework/System/Windows/Controls/GridSplitter.cs,493)checks if `Parent` is a `Grid`. In this cas

[2022-04-28 07:52] lindexi opened #6492 "WPF string duplicates in xaml"
I create a dump file for my application. And I analysis it by dotMeomry.

I find the duplicated strings waste a lot of space.

![](https://user-images.githubusercontent.com/16054566/165701205-d3f51138-66a2-43d7-bce1-bfeef1e3eb95.png)

Do you think we use the string.Intern to save the memory is a good way?

[2022-04-28 08:49] znakeeye commented on #6319
A null-check would indeed allow your app to run for more than 3 hours. But instead you would end up with even more leaked timers, causing an overall performance degradation. Your app would stop working at some point.

As I see it, we have **three viable options**:

1. Run .NET 5 until Microsoft fixes this.
2. Create a PR with a fix. That means fixing the memory leak. Not just a null-check!
3. Use

[2022-04-28 10:48] znakeeye commented on #6319
@hhu-mahmoud Can you please check if your app runs under 100% DPI setting when the crash occurs?

Tooltips are still broken in .NET 6.0.4 when running with higher System DPI. E.g. 150%.

[2022-04-28 11:33] durga-muthu commented on #5656
Any update on the mentioned issue?

[2022-04-28 16:46] DanJBower commented on #58
2009 was a pretty long time ago now. It would be awesome to see these features added as it would make certain things in WPF a lot easier 🙂

[2022-04-28 17:51] NickeManarin commented on #6458
I got to download .NET7 and repackage the app to check.
The actual app that suffers from this problem is referenced above.

[2022-04-28 22:21] SamBent commented on #6319
@hhu-mahmoud @kvijay22 et al. - please provide a repro.  If that's not possible, provide a [time-travel trace](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/time-travel-debugging-record#attach-to-a-process) of the crashing scenario.  (It seems to involve opening a tooltip while another tooltip is already open, so be sure the trace includes opening the earlier tooltip.)

I don'

[2022-04-29 04:33] RandomEngy commented on #2377
I got another repro from someone who is using a custom desktop shell: https://github.com/RandomEngy/VidCoder/issues/1012 . I can't catch the exception unfortunately.

[2022-04-29 04:46] singhashish-wpf commented on #5462
We are in process of pushing this to 6.0 servicing, earliest you can expect it to be in June servicing release.
https://github.com/dotnet/wpf/pull/6496

[2022-04-29 05:52] xwang-888 opened #6497 ".NET6 "ToolTip " property display exception"
Tooltip this property will disappear after flashing once when the mouse moves in.
But downgrade the project to Display normally after net5.
![image](https://user-images.githubusercontent.com/56998197/165891132-71a8bee3-f877-4961-a263-5e1ac0fb2bbc.png)

[2022-04-29 07:09] gurpreet-wpf commented on #6497
Closing this as a dupe of #6220. This will be resolved in next release.

[2022-04-29 07:09] #6497 closed

[2022-04-29 07:20] LucianPopescuOmilon opened #6499 "New x86 WPF project with .NET 6.0 (long term) crashes with minimal error-messages"
* net version
.NET SDK (reflecting any global.json):
 Version:   6.0.104
 Commit:    915d644e45

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19044
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.104\

Host (useful for support):
  Version: 6.0.4
  Commit:  be98e88c76

.NET SDKs installed:
  2.1.202 [C:\Program Files\dotnet\sdk]
  2.1.526

[2022-04-29 07:34] LucianPopescuOmilon commented on #6499
I have switch to .net Core 5.0, rebuild all, run and it worked.

[2022-04-30 20:58] NickeManarin commented on #6458
Yeah, with .NET 7 Preview 3, the app loads normally.

[2022-05-02 00:47] hamarb123 commented on #5462
Okay, thanks!

[2022-05-03 06:43] wstaelens commented on #6301
any updates @gurpreet-wpf ? @danmoseley ?

[2022-05-04 04:57] singhashish-wpf commented on #6499
@LucianPopescuOmilon I am unable to reproduce on my machine, can you please share the exact csproj and specific steps. I doubt if this is a system/platform issue.

[2022-05-04 05:26] RussKie commented on #6522
Here's a [binlog](https://github.com/dotnet/winforms/files/8617501/msbuild.zip) from a basic Windows Forms app with a WPF window.

Upon further digging in I've started thinking that perhaps the issue is caused by `GenerateTemporaryTargetAssembly`, that is not aware of inbox analyzers (described in https://github.com/dotnet/designs/blob/main/accepted/2021/InboxSourceGenerators.md) and introduced in

[2022-05-04 06:54] singhashish-wpf commented on #1480
@grubioe could you help me with more details on this one? Or please help to connect me with someone who can help me understand the ask better?

[2022-05-04 07:58] LucianPopescuOmilon commented on #6499
I have discovered the issue, is was PEBKAC (Problem Exist Between Keyboard And Chair). I did not have the .NET 6 Core x86 runtime installed so of course it would not work. It would be nice to have a more detailed exception than (0xe0434352).

[2022-05-04 07:58] #6499 closed

[2022-05-04 09:17] #5768 closed

[2022-05-04 11:26] dipeshmsft opened #6525 "WPF Characters render differently in XPS document and on screen ( VisualContainer ) in WPF Application"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`) :  **Any ( 5.0 , 6.0 )**
* Windows version: (`winver`)   **Any**
* Does the bug reproduce also in WPF for .NET Framework 4.8?:   **Yes**
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? If yes, please file the issue via the instructions [here](https://docs.

[2022-05-04 14:30] grubioe commented on #1480
@vatsan-madhavan might be able to provide more context and details.

[2022-05-04 18:30] IAmTheCShark commented on #6446
@zgabi do you have aby controls where you override `LogicalChildren`?
Because if you do, you also need to corretly use `AddLogicalChild` / `RemoveLogicalChild`.
Otherwise things like `DescendentsWalker` do not work correctly and cause a mess.

I believe we had a similiar issue that was resolved this way.

[2022-05-04 19:04] IAmTheCShark commented on #6407
When you enable virtualization

`
VirtualizingStackPanel.IsVirtualizing="True"
VirtualizingStackPanel.VirtualizationMode="Recycling"
`

And expand the nodes like this:

            wpf_root.Selected += (s, e) =>
            {
                ExpandAllNodesFast(wpf_root);

            };

        public void ExpandAllNodesFast(TreeViewItem target)
        {
            static IEnumerable<TreeViewIt

[2022-05-04 19:25] RonHeck opened #6530 "No AutomationPeers created for MenuItems when using GroupStyle"
* .NET Core Version: 6
* Windows version: 10
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Did not try
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No

 **Problem description:**
When using GroupStyle for Menu and ContextMenu, the MenuItem instances within a GroupItem are not visible in the automation tree.
Reason: The Au

[2022-05-04 20:28] zgabi commented on #6446
I checked our source code, we do not have any LogicalChildren override. We are using Telerik controls, maybe they have it.

[2022-05-04 22:52] ThomasGoulet73 commented on #6522
I can reproduce on my machine using the Regex source generator so this is unrelated to WinForms.

@RussKie The code snippet for `Analyzers` that you sent looks suspicious, `GenerateTemporaryTargetAssembly` should use the `Analyzer` ItemGroup to add it in the generated csproj to pass to the Csc task in CoreCompile (Which also uses the `Analyzer` ItemGroup).

I'll try to work on a fix (If you're not

[2022-05-05 02:43] RussKie commented on #6522
@ThomasGoulet73 do you think your fix would address any of these?

[2022-05-05 03:20] ThomasGoulet73 commented on #6522
@RussKie Here's the result of my tests:
dotnet/roslyn#60257
Fixed by my PR. I tried the repro and the build fails without my changes and succeeds with my changes.

dotnet/wpf#4421
Not fixed by my PR. It looks like #5711 (It looks like SomeRazorComponent is generated in the generated project namespace instead of the main project namespace. `WpfBlazorRepro_5s0cnboz_wpftmp` instead of `WpfBlazorRepro

[2022-05-05 03:39] ThomasGoulet73 commented on #6522
I found the problem, I opened #6535.

[2022-05-05 03:43] ThomasGoulet73 commented on #4421
I opened #6535 which should fix the issue.

A temporary workaround would be to add `<RootNamespace>WpfBlazorRepro</RootNamespace>` to the csproj.

[2022-05-05 04:52] RussKie commented on #6522
Champion! Thank you

[2022-05-05 06:42] BhanuPrakashGit commented on #6481
Verified the bug in the latest env as bug is fixed with a workaround by bolding the selected menu item's text.

[2022-05-05 06:42] #6481 closed

[2022-05-05 22:07] miloush commented on #6490
`VisualParent` sounds reasonable to me. If there is a worry about backward compatibility, `VisualParent` can be checked only if `Parent` does not turn out to be `Grid`.

[2022-05-05 23:08] miloush commented on #5656
The difference between setting `IsOpen=true` and using mouse/keyboard to open the menu is that the latter sets its owner. The fix is not that trivial, because either you have to move this code inside the `ContextMenu`/`Popup` and have it use `PlacementTarget` as the owner when setting `IsOpen=true` which is a breaking change, or you have to introduce new public API to open it using an owner (eithe

[2022-05-06 06:33] lindexi commented on #6458
Awesome

[2022-05-06 09:42] IAmTheCShark commented on #6490
@miloush I thought the same.
I'd create a pull request depending on how backwardscompatibility should be treated. Let's see.

[2022-05-06 11:17] miloush commented on #6478
If errors from setters are not reported, people might miss a legitimate error in these bindings that refer to an element in the tree inside a setter value. I understand that seeing an error/warning in the development tool is annoying, but I am not sure how this can be reasonably fixed.

The FindAncestor lookup would have to be specifically made aware it is inside a tree fragment, just to not repor

[2022-05-06 11:24] miloush commented on #6463
@lindexi so do you have a repro? I tried to type into a TextBox using Microsoft Pinyin and nothing happened.

[2022-05-06 11:41] lindexi commented on #6463
@miloush It's hard to give you a repro...

[2022-05-06 11:43] miloush commented on #6463
@lindexi which input method at least?

[2022-05-06 13:18] Camios commented on #6478
In my scenario I only care to be notified when that tree element is part of
the tree of the target element and can’t find the ancestor.

What cases exist where you care if the setter of a tree fragment has an
error? If the tree fragment is never part of visual tree then why show the
error?

On Fri, 6 May 2022 at 9:17 pm, Jan Kučera ***@***.***> wrote:

--
Sent from Gmail Mobile.

[2022-05-06 19:34] dipeshmsft commented on #6251
I tried building WPF with the same command as mentioned above and the build passed. As @lindexi mentioned, seems like you are missing some components.

Could you please, install the components mentioned in [wpf.vsconfig](https://github.com/dotnet/wpf/blob/main/Documentation/wpf.vsconfig) here and try the build again ??

[2022-05-07 16:36] Yarith commented on #5458
I have written a single targets file, to compile all workarounds so we can have incremental wpf builds now. I can not override the inputs of the MarkupCompilePass1 task, so i will give warnings if the patch is still not applied. Also i have used the workaround from [here](https://github.com/dotnet/wpf/issues/2281#issuecomment-562219511) so the `GeneratedInternalTypeHelper.g.cs` it is not causing r

[2022-05-07 19:03] LeMinhDong commented on #2591
Can you give me the project please? thank you

[2022-05-08 13:04] liwuqingxin commented on #2591
Sorry for that I don't have a clean demo project for it. **All related code** about it has been shown above. If you have any problems about it I am glad to discuss them with you 😄.

[2022-05-09 06:37] #6264 closed

[2022-05-09 06:37] #6344 closed

[2022-05-09 10:55] gurpreet-wpf commented on #6446
@zgabi Can you please provide a minimal repro sample app which doesn't use Telerik controls and exhibits the same problem?

[2022-05-09 10:57] gurpreet-wpf commented on #6411
@dxh-sc Can you please provide a minimal repro for this issue?

[2022-05-09 15:10] Loag commented on #6483
Running into this as well getting either a .baml or .g.cs not found. Seems to be related to [wpf #4299](https://github.com/dotnet/wpf/issues/4299) originally brought up with roslyn [roslyn #23266](https://github.com/dotnet/roslyn/issues/23266). The discovered work around, use vscode and [turn off file watching on the obj folder](https://github.com/dotnet/wpf/issues/4299#issuecomment-898951397) has

[2022-05-09 19:37] lncubus opened #6560 "Image Source fails to load an image if application path has hash sign in it"
* .NET Core Version: 6.0.4
* Windows version: Windows 11 21H2
* Does the bug reproduce also in WPF for .NET Framework 4.8?: Yes

 **Problem description:**
It is possible to specify Image source with relative path in XAML definition:
`Icon="Images/app.dark.png"`
However, this definition fails to load image if the path containing application has `#` symbol.

 **Actual behavior:**
In .Net 6
Fails in

[2022-05-09 19:48] lncubus commented on #6560
Exception details
[ex1.txt](https://github.com/dotnet/wpf/files/8654888/ex1.txt)

[2022-05-10 09:30] dipeshmsft commented on #1509
This issue is resolved by the following PR #6266. So going ahead and closing the issue.

[2022-05-10 09:30] #1509 closed

[2022-05-10 15:12] lncubus commented on #6560
A minimal example for .NET 6
[LoadingImageSource_Net6.zip](https://github.com/dotnet/wpf/files/8662787/LoadingImageSource_Net6.zip)
A minimal example for .Net Framework 4.8
[LoadingImageSource_Net48.zip](https://github.com/dotnet/wpf/files/8662788/LoadingImageSource_Net48.zip)

[2022-05-10 15:21] lncubus commented on #6560
Original issue:
[microsoft/PowerToys/issues/17652](https://github.com/microsoft/PowerToys/issues/17652)

[2022-05-10 18:43] #6525 closed

[2022-05-10 22:56] Rand-Random commented on #6220
FYI - 6.0.5 got released
https://devblogs.microsoft.com/dotnet/may-2022-updates/

[2022-05-10 23:36] RajeshAKumar commented on #6220
Thank you for notifying about the release!
This is really good and I could verify that it works fine for our products.

[2022-05-11 02:15] lindexi commented on #6560
@lncubus Thank you.

Duplicate of https://github.com/dotnet/wpf/issues/4781

And I fixed it in https://github.com/dotnet/wpf/pull/5066

[2022-05-11 04:13] CoderTyn commented on #109
I am not sure wether it is fixed or not in .NET Core 3, but Visual Studio seems to use .Net Framework 4.8?

[2022-05-11 05:00] Symbai commented on #6471
.NET 6.0.5 is now released but the fix is not included in the changelog: https://github.com/dotnet/wpf/issues?q=milestone%3A6.0.5+is%3Aclosed+label%3Aservicing-approved+

[2022-05-11 07:40] laurentkempe commented on #6220
6.0.5 also fixes the issue I had with tooltip 👍🏼 !

[2022-05-11 08:22] to87al commented on #6440
When using MVVM, this binding error becomes more evident. Check also [Stackoverflow thread](https://stackoverflow.com/questions/14419248/cannot-find-source-for-binding)

[2022-05-11 08:46] singhashish-wpf commented on #6220
Thank you all for testing and confirming the fix.

[2022-05-13 10:45] gurpreet-wpf opened #6581 "Closing inactive issues pending for >30 days"
### Discussed in https://github.com/dotnet/wpf/discussions/6573

<div type='discussions-op-text'>

<sup>Originally posted by **gurpreet-wpf** May 12, 2022</sup>
Hi All,

In order to organize issues more effectively, we are planning to close the issues where minimal sample repro is not attached and which have been inactive for more than 30 days.

Any ideas/suggestions are welcome.

Thanks!</div>

[2022-05-13 18:21] aesalazar commented on #383
Hi guys.  We are seeing an issue we think may be similar, if not the same.  You can read more about it in our discussion with DevExpress here:

https://supportcenter.devexpress.com/ticket/details/t1088541/weird-devexpress-xpf-bars-splitlayoutpanel-measureoverride-size-availablesize-file-io

This has happened to a few of our users.  It is fairly rare but on separate occasions in the past two months

[2022-05-13 19:45] DaveInCaz commented on #5378
I came here to make the same request, glad it was already here.

Note that this is a frequent area of confusion based on the # of Stack Overflow questions / activity.

https://stackoverflow.com/q/2240421/3195477

Thanks

[2022-05-14 09:03] miloush commented on #6581
@lindexi If there is no repro it is probably fair. It might be worth closing them with a no-repro label. People get notified and can decide what to do, including asking to re-open or filing a new issue. It would be good if there were instructions for when a repro is provided, how can people get the issue re-opened.

[2022-05-14 09:29] Symbai commented on #6581
Depends on whether a) a repro is necessary at all and b) a repro can be made and c) If people have attached a repro, this gets verified very soon and the label gets removed. For example [here](https://github.com/dotnet/wpf/issues/6246) lindexi has attached a repro 1 day after its being tagged but label has not been removed for nearly 1 month. That means this issue would get auto closed in 2 days f

[2022-05-14 10:24] miloush commented on #6581
I did not anticipate this would be an automated swipe based on existing labels. There is only a dozen issues with [needs repro](https://github.com/dotnet/wpf/labels/Needs%20minimal%20repro%20project) label.

The issue you linked I still cannot repro even with the provided executable. I'm OK with that one to be closed. #5489 on the other hand probably deserves a look. Of those issues labelled, most